[2019-07-10 13:13] lcobucci commented on #303
@skyvondave the version v3.3 (stable) requires PHP 5.6+. The v4.x (dev) was requiring PHP 7.1 but has been bumped up and I forgot to update the readme.

Check https://github.com/lcobucci/jwt/blob/3.3/README.md for the documentation of the stable version.

[2019-07-10 13:14] lcobucci commented on #303
Thanks for letting me know about the outdated README on `master`, just fixed it :+1:

[2019-07-10 13:16] lcobucci commented on #303
By the way, if you run `composer require lcobucci/jwt` composer will detect the most appropriated version, according to your system.

[2019-07-10 16:01] skyvondave commented on #303
Thanks. I tried clicking the "Stable" link to 3.3 and that says 5.6+ only, which is what I'm trying now.

[2019-07-10 20:59] skyvondave opened #304 "composer require lcobucci/jwt from 3.3 installs 3.2.5 with different Builder methods?"
I ran it from the instructions here: https://github.com/lcobucci/jwt/blob/3.3/README.md

When I copy over your "Creating" example code to see how it works, PHPStorm says most of the functions from Builder don't exist, and they're not actually in the Builder.php file.

When I check composer.lock (this is after update and install), it says "version": "3.2.5",
            "source": {

[2019-07-10 21:17] Ocramius commented on #304
Try with an explicit `compose require lcobucci/jwt:^3.3.1`

[2019-07-10 21:39] lcobucci commented on #304
@skyvondave is it possible that you are running composer with php 5.5 (or earlier) - either in your system or via the platform configuration in your composer.json? If that's the case, you will get a previous version of this library (as v3.3 requires php 5.6+).

[2019-07-10 21:40] #303 closed

[2019-07-10 21:42] lcobucci commented on #304
v3.2.5 works fine btw, you just won't have new features - only security issues will be backported. The documentation is available in the 3.2 branch.

[2019-07-10 22:12] skyvondave commented on #304
OK 3.2 has matching method names...

I guess I'm curious why the method names were changed on a minor version number change; wouldn't that be an "API-breaking" major change?

[2019-07-10 22:25] lcobucci commented on #304
@skyvondave the v3.2 API works fine on v3.3, we've only added new methods and deprecated the old ones.

That is being done to create an upgrade path for the new major release (v4.0), the documentation just had to reflect that :smile:

[2019-07-10 22:25] skyvondave commented on #304
OK I see thank you

[2019-07-10 22:28] lcobucci commented on #304
Closing this then! Feel free to comment/reopen it if you want to explore more on why v3.2 is being installed in your system instead of v3.3.

[2019-07-10 22:28] #304 closed

[2019-07-31 15:43] xcodevsci opened #305 "invalid UTF8 characters"
I m using the library in my projet. Last time all run fine but since yesterday when i run my API, i got dat error:
{
  "code": 500,
  "message": "Your data could not be encoded because it contains invalid UTF8 characters."
}

... and when i dump the returv value, dat is the trace :

object(Lcobucci\JWT\Token)#451(4){
  [
    "headers": "Lcobucci\JWT\Token": private
  ]=>array(2){
    [
      "typ"

[2019-07-31 20:30] lcobucci commented on #305
@xcodevsci hey, can you please provide more information? Perhaps the full stack trace of the exception to know what is causing the error. It seems like the token has been parsed properly but I don't know what you're trying to do :)

[2019-08-08 10:10] lcobucci commented on #305
@xcodevsci closing here since no info was provided. Feel free to reopen if you're still having issues.

[2019-08-08 10:10] #305 closed

[2019-08-08 16:26] thiagoSLV opened #307 "getPayload method do not return whole token"
Hello, I'm currently using the 3.3 version and the method getPayload return the position 0 and 1 from the payload array.
But in my token's payload array I have 3 positions:

[code]

When I call the method getPayload that' the return:

[code]

Is it possible to alter this method on version 3.3 so it return the whole token?

Thanks :)

[2019-08-08 16:29] Ocramius commented on #307
The payload is effectively the first two components: the third is a signature, so it shouldn't be considered part of the "payload". The fact that a `private` property (which doesn't really concern your usage of the API) contains also the signature is not really relevant.

[2019-08-08 16:46] thiagoSLV commented on #307
Ok, thanks for the explanation, closing this issue.

[2019-08-08 16:46] #307 closed

[2019-08-13 19:24] soundsgoodsofar opened #308 "Allow globally configurable default skew leeway"
Recently updated and noticed that an ability to set leeway for clock skew was added in https://github.com/lcobucci/jwt/pull/248/files

That's great (thanks), but I'd like to ask that the default value is made configurable through a global constant static method.  The reality is that this package is a fairly deep downstream dependency for a lot of people.  I could start the process to convince leag

[2019-08-13 21:06] lcobucci commented on #308
@soundsgoodsofar thanks for sharing your idea!

`v4` (available for tests) introduces a brand new validation component, where you can create a set of global constraints and even provide your custom constraints - depending on how other libs and frameworks use it, sure. I'm slowly porting some features from `v4` to `v3`, creating a migration path to the new version.

With that said, I'd suggest to w

[2019-08-13 22:31] soundsgoodsofar commented on #308
Yep I totally agree it's not elegant.  It's only a bit more elegant than patching files to fix it for people who have no immediate solution.  What you're describing sounds great, but as these things go there will be people who can't upgrade any time soon for practical or political reasons.

[2019-08-23 13:15] IceWizard2809 opened #309 "Apple auth"
hi, i'm trying to authenticate with JWT for apple apis, but i can't finde a tutorial which can help me.
But all related tutorial are using this libary, can some one help me with the code to log in and use Apple apis?

This is my code :

`$signer = new Sha256();
    $privateKey = new Key('file://auth_file.p8');
    $time = time();

    $Issuer_ID = "ISS-ID";
    $Key_ID = "KID";

    $token = (new

[2019-08-23 13:33] #309 closed

[2019-08-29 17:03] PenguinTamer commented on #240
Hi there, Im currently experiencing the same error/issue. I've specified my path correctly, i think i did at least. Are there any other reasons this error could be thrown? It's a freshly generated token too.

[code]

[2019-08-29 17:24] PenguinTamer opened #310 "It was not possible to parse your key, reason: error:0909006C:PEM routines:get_name:no start line"
So im working on verifying Passport JWT keys (within laravel middleware) and can't seem to get past this error. Any suggestions? I've tried using `Key` and `Keychain` to get pub keys (which are present and at the path specified) but no luck. Any suggestions?

Error:  `It was not possible to parse your key, reason: error:0909006C:PEM routines:get_name:no start line`

Current Code:
[code]

Here is t

[2019-08-29 18:19] PenguinTamer commented on #310
This error was resolved. It was a typo....
`$this->publicKey = new Key('file:://storage/oauth-public.key');`
Should have been
`$this->publicKey = new Key('file://storage/oauth-public.key');` <- minus the double `::`

[2019-08-29 18:19] #310 closed

[2019-09-06 07:59] infuginindia opened #311 "Creating JWT for talkdesk"
Hello Author,

Many thanks for creating this library, I am receiving details with ES256 algorithm ,
I am not sure where to put all the information .

[code]

I have below JAVASCRIPT code working fine, but not able to work it with PHP .

[code]

[2019-09-06 08:02] Ocramius commented on #311
What exactly does not work?

[2019-09-06 15:36] sajadabasi commented on #311
I have the same issue, the jwt content is exactly the same and I'm using ES256 but it doesn't work but with js or python code it works.

[2019-09-07 04:09] infuginindia commented on #311
I want to know how ES256 algorithm works in this, if you have code for that , that would be great

[2019-09-07 05:49] sajadabasi commented on #311
i'm going to use JWT ES256 for talkdesk, you can see the documentation for using other languages here: https://docs.talkdesk.com/docs/using-a-signed-jwt

[2019-09-07 05:58] sajadabasi commented on #311
I found this on python code: https://github.com/jpadilla/pyjwt/blob/d25c92ca5e9980ca7bc8b31420bf36e3f4a9e3f0/jwt/algorithms.py#L54

[2019-09-13 07:03] markhughes commented on #309
@IceWizard2809 what was your solution?

[2019-09-13 07:10] IceWizard2809 commented on #309
hi,

i use lcobucci library (https://github.com/lcobucci/jwt), it's very completed and u can use the following code

`$signer = new Sha256();
        $privateKey = new Key('file://' . KEYIOS);
        $time = time();

        $Issuer_ID = "YOURID";
        $Key_ID = "YOURKEY";

        $token = (new Builder())->issuedBy($Issuer_ID)// Configures the issuer (iss claim)
        ->permittedFor("appsto

[2019-09-17 12:08] gregdeluxee commented on #183
Just in case it would be helpful for someone, this error might not be related to this library.

I had the same error on a symfony project using LexikJWTAuthenticationBundle (that use lcobucci/jwt).
In fact the connection to the database could not be done.
For me it was docker that did not restart properly after an update.

[2019-09-17 12:46] lcobucci commented on #183
@gregdeluxee thanks for your comment :+1:

[2019-09-19 13:05] tommasodargenio opened #312 "Question: how to get the whole JWT string to send back over HTTP"
Hi,

this could be a very stupid question but I'm struggling a bit to understand how can I get out of the object the whole JWT string that I need to send back to the HTTP post request from the client.

I've used the sample code as provided in your readme to create the token, but the getToken method doesn't give me the plain text but return the whole object. I can see the token string and the signa

[2019-09-19 13:08] Ocramius commented on #312
`$token->__toString()` or `(string) $token`:

https://github.com/lcobucci/jwt/blob/a11ec5f4b4d75d1fcd04e133dede4c317aac9e18/src/Token.php#L269-L283

[2019-09-19 13:08] #312 closed

[2019-09-19 13:08] lcobucci commented on #312
@tommasodargenio the `Token` class has the `__toString()` method, which means that you get the string representation by casting it to string.

[2019-09-27 12:44] markuspoerschke commented on #238
The question is answered here: https://stackoverflow.com/questions/50435455/how-to-install-gmp-extension-for-php-7-2-using-mamp-on-osx

[2019-10-12 03:44] lcobucci commented on #219
Documentation added in #326

[2019-10-12 03:44] #219 closed

[2019-10-12 03:44] lcobucci commented on #94
Documentation added in #326

[2019-10-12 03:44] #94 closed

[2019-10-12 03:44] lcobucci commented on #37
Documentation added in #326

[2019-10-12 03:44] #37 closed

[2019-10-12 04:13] lcobucci commented on #268
As explained in https://lcobucci-jwt.readthedocs.io/en/latest/extending-the-library/#validation-constraints we're allowing people to create their own validation constraints and only supporting the basic set of constraints in the library.

We'll be soon backporting the new validation system to `v3.4.0`.

[2019-10-12 04:13] #268 closed

[2019-10-12 04:15] lcobucci commented on #235
Stable `v3.3.x` has already been released and we can safely close this.

[2019-10-12 04:15] #235 closed

[2019-10-13 18:44] lcobucci commented on #311
@infuginindia @sajadabasi I think you might have already solved your issue but ECDSA (all variations) works just as fine. If you follow the [documentation](https://github.com/lcobucci/jwt/blob/3.3/README.md#rsa-and-ecdsa), your code will end up like this:

[code]

[2019-10-13 18:44] #311 closed

[2019-10-17 09:44] lhbfilwmyseve opened #330 "how to refresh or drop a jwt?"
i create a jwt  , used and i want make it  passed? how

[2019-10-17 09:45] #330 closed

[2019-10-23 02:13] sc0ttdav3y commented on #32
Just wanted to register my +1 for this feature.

I've implemented `acodercat/php-jwk-to-pem` in the meantime and it works fine for AWS Cognito. Perhaps you could simply consume this library as an optional dependency to add this feature more quickly?

@lcobucci If you're interested I could put together a PR for you based on using this library? Let me know if this is an approach you'd be happy with,

[2019-10-28 14:41] gbozzetti opened #332 "Custom Claims"
Hey guys, maybe I'm blind but I can't find a way to insert custom claims in the token.

I can use the default 'uid' but if I set a custom claim with the 'withClaim' function I cannot retrieve it with getClaim!

How to do that?

Thank you!

[2019-10-28 14:42] Ocramius commented on #332
@gbozzetti can you make an example of the code, expectations and actual results, please?

[2019-10-28 14:49] gbozzetti commented on #332
Sure!

I'm creating a new token with the builder:

`$token = (new Builder())
->issuedBy(...)
->permittedFor(...)
....
->withClaim("mycustomname","myvalue"
`
But then when I try to retrieve it with `$token->getClaim("mycustomname")` I get an error.

[2019-10-28 14:56] Ocramius commented on #332
Can you expand the snippet then, please?

[2019-10-28 15:39] gbozzetti commented on #332
Ooooooops, my fault! I was passing null values to claims!!!!

Sorry, you can burn this issue request!!!

[2019-10-29 09:56] #332 closed

[2019-11-14 23:57] nyalex opened #333 "Composer install snippet in the docs has the wrong version?"
Ref: https://lcobucci-jwt.readthedocs.io/en/latest/installation/

This document instructs us to run the following command.

`composer require lcobucci/jwt:^4.0@alpha`

If I am reading this correctly, this would import alpha versions of the library. If so,t his is dangerous and should not be recommended. I believe it should be:

`composer require lcobucci/jwt:^3.3-stable`

[2019-11-15 00:00] andreasschroth commented on #333
Hm, I guess you didn't read the project README file?

Quote:

[2019-11-15 03:52] nyalex commented on #333
I see that now. I got to those docs before hitting Github. I got confused because I didn't see any mention that it is alpha on those docs. Seems like you do not see the problem, so I will close this issue.

[2019-11-15 03:52] #333 closed

[2019-11-15 14:03] lcobucci commented on #333
@nyalex I'm sorry for the confusion in the docs. We're backporting things to v3.4, docs included and we'll soon have the stable version in the website too.

[2019-11-16 12:41] rezarabbbani opened #335 "How can I add custom claims to payload?"
Hi. I need to to add more claims to token payload like user's name and email but I have no idea how can i do it. I've been searching for a long time but it didn't help much.

[2019-11-16 16:08] lcobucci commented on #335
@rezarabbbani the token builder has the method `withClaim()`. You can see an example in the docs: https://github.com/lcobucci/jwt/blob/3.3/README.md#creating

[2019-11-16 16:50] lcobucci commented on #335
I hope this helps you. I will close this issue but feel free to reopen if you would like more information about this.

[2019-11-16 16:50] #335 closed

[2019-11-21 10:14] legeng opened #336 "Builder convertDate causes timezone and date to be incorrect"
version  "lcobucci/jwt": "^4.0@alpha"

[code]
generate exp:
DateTimeImmutable Object
(
    [date] => 2019-11-21 18:14:59.908116
    [timezone_type] => 3
    [timezone] => Asia/Shanghai
)

If you follow this method，cause parse after  incorrect

[code]

result exp:
DateTimeImmutable Object
(
    [date] => 2019-11-21 09:23:18.732245
    [timezone_type] => 1
    [timezone] => +00:00
)

if return $date

[2019-11-21 12:13] lcobucci commented on #336
@legeng the [section 2 of JWT RFC](https://tools.ietf.org/html/rfc7519#section-2) defines we must to use the `NumericDate` type:

This explains the reason why this is being converted to UTC (unix timestamps are always in UTC). However, it doesn't explain why the time is changing when parsing, that should work fine: https://3v4l.org/HY2p1.

Could you please send us a sample token (doesn't need to b

[2019-11-22 02:14] legeng commented on #336
@lcobucci  ok , Thank you for your reply and solved my doubts. I understand, it should be a problem with my use, it works, your package is great , thank you!

[2019-11-22 13:07] lcobucci commented on #336
@legeng alright then, glad to hear it worked well. Do you think that having the timezone configured to your system defaults would help you? That would require a few changes here and there but I'm happy to do it if people would see the value in it.

In the meantime I'll close this issue 👍

[2019-11-22 13:07] #336 closed

[2019-11-25 13:23] jakubboucek opened #338 "Should Builder contains Signer & Key?"
This issue is related to current version in `master` branch and [current doc for **Issuing Tokens**](https://lcobucci-jwt.readthedocs.io/en/latest/issuing-tokens/).

Related code is:
[code]

I't make impossible to use `Builder` simply as service to DI container, because I need above that the `Configuration` service to get `Key` &  `Signer`.

In use case in app sound as greate flow to get prepared

[2019-11-25 14:15] lcobucci commented on #338
@jakubboucek thanks for your input :+1:

The builder implements the builder design pattern, which makes it stateful. Putting it as a DI service wouldn't be appropriated IMHO because it would require you to mark it as a non-shared service - only available in a few DI container components.

The idea is that the configuration object should be set as a DI service, allowing you to reuse things as you p

[2019-12-06 10:03] Gemorroj opened #341 "jwt token by lcobucci != jwt token by jwt.io"
Why is there a difference in the JWT token generated by the library and jwt.io?

![Захват-1](https://user-images.githubusercontent.com/885731/70314325-4a263d80-1828-11ea-8df4-127481a9f806.jpg)
![Захват-2](https://user-images.githubusercontent.com/885731/70314326-4abed400-1828-11ea-92d8-ae0c28eb31f3.jpg)

[2019-12-06 10:42] Ocramius commented on #341
What difference do you see? Same claims, from what I can see.

[2019-12-06 10:49] Gemorroj commented on #341
1 block is identical
2 - lcobucci ending with `19fQ`, jwt.io ending with `XX19`
3 - lcobucci ending with `Jtc4`, jwt.io ending with `DzSE`

[2019-12-06 10:52] Ocramius commented on #341
I'd check the difference in the base64-decoded fragments: potentially whitespace.

[2019-12-06 15:22] lcobucci commented on #341
This is most likely to be differences on how the json string is created (escaping slashes or unicode).

That shouldn't cause any issue but are you experiencing any?

[2019-12-06 15:27] Gemorroj commented on #341
@lcobucci, no problem, everything seems to be fine.
Yes, probably the difference is due to differences in JSON escaping.

[2019-12-06 15:27] #341 closed

[2020-01-04 08:22] tarunjangra commented on #32
+1 from my side as well. JSON web key document should be the part of this library.

[2020-01-07 15:02] jowjon67 commented on #232
And if we don't have access internet in our server?

[2020-01-07 22:31] Ocramius commented on #232
You deploy a finished/assembled tarball

[2020-02-03 17:12] pelayo opened #344 "Invalid signature when using google json service key"
Im trying to create a JWT token to manually authenticate calls to a cloud function in Google Cloud.
The token gets generated but Google returns 401 when using it and jwt.io says the signature is wrong.

Here's my code.

            $jsonData = json_decode(file_get_contents($serviceKeyDir));
            $signer = new Sha256();
            $privateKey = new Key($jsonData->private_key);

[2020-02-03 17:20] Ocramius commented on #344
Unless you are the owner of `accounts.google.com`, I don't think you are the issuer there: whose `private_key` is that?

[2020-02-03 17:32] pelayo commented on #344
The private key comes from a json service key associated to a gcloud service account.

The jwt genereted with the command "gcloud auth print-identity-token" works as a charm (also in jwt.io) and I tried to copy it's contents.

[2020-02-03 17:37] Ocramius commented on #344
Yeah, but then the key is issued by a web service that has its own private key: unless you have that same private key, you won't be able to generate a payload that is accepted by the remote server (won't match a public key that they have)

[2020-02-03 17:46] pelayo commented on #344
Okey. Does that explain the jwt.io "signature error" to?

I followed the jwt guides in https://developers.google.com/identity/protocols/OAuth2ServiceAccount
No exactly the same service, but thought it would do.

Guess ill have to rollout my own security ...

[2020-02-03 17:49] Ocramius commented on #344
These are some of the most dangerous words in our industry: do not do that, especially if you don't understand what's going on.

Can you dump one of these tokens with dummy data, so that we can see what is going on?

[2020-02-04 08:24] pelayo commented on #344
I know, famous last words. Don't worry, it would be just jwt with my own key pairs, nothing fancy/in-house. Also, thanks for the help.

Anyway, I still want to solve this. This is a minimun token, just the iat and exp field. Jwt.io still says "invalid signature".

Tried with the key in its own file and not embedded in the json of the service key but it has the problem.

[2020-02-10 10:52] lucidlemon commented on #309
@markhughes do you know how to fix that..? my token never has a signature which makes it fail jwt.io verificaion :/

[2020-02-10 10:58] lucidlemon opened #346 "Token not signed"
This might relate to #273 but I can't get it to work. I'm using version 3.3 on php 7.1 following this code:

[code]

The returned token has no signature as jwt.io tells me.

How do you get this to work? I thought I did everything i had to?

[2020-02-10 16:13] lcobucci commented on #346
The payload is not a jwt string. You've got to cast the object to string to get the string representation of it.

[2020-02-10 16:14] #346 closed

[2020-02-13 01:51] lcobucci commented on #344
In your snippet we can't see which algorithm you're using, is it RSA?

Did you manage to verify the token signature using the public key with this lib after issuing it?

One thing that may be relevant is that jwt.io UI isn't the best in terms of usability (at least was in the last time I've used it). If I'm not mistaken, you've got to paste the public key **before** of pasting the token.

[2020-02-19 10:41] markhughes commented on #309
This library didn’t seem to support it, sorry. I ended up using an alternative, but I don’t quite remember which one.... apologies!

[2020-02-19 17:44] lcobucci commented on #309
A p8 file must be converted to PEM in order to be used by this lib, as it's not properly understood by openssl extension (AFAIK).

[2020-02-20 06:41] jansor commented on #300
Hi, just curious, is their any timeline when this would be released?

[2020-02-26 15:53] mtyeh411 commented on #300
on a similar note, how would we grade the stability of current latest (4.0-alpha)? should it not be considered production-ready?  if so, what is work is outstanding to reach stable/production-ready?

[2020-02-26 16:10] lcobucci commented on #300
Hey folks, sorry for the delayed response (I was on family vacations :smile:).

The plan for v4.0 is essentially this:

* Finish the work started in https://github.com/lcobucci/jwt/pull/339#issuecomment-561078369 (which would allow us to do #32 without breaking BC)
* Implement #128
* Require PHP 7.4
* Backport changes to v3.x in a BC-compatible manner to create a migration path

The first 2 items

[2020-03-01 11:55] GrahamCampbell commented on #300
Which features are you looking to use from PHP 7.4?

[2020-03-01 12:59] Ocramius commented on #300
Just bumping the min version to current stable is sufficient 👍

Besides that, typed properties, obviously

[2020-03-12 13:39] jaimin-hothi opened #349 "An error while decoding token.Key may not be empty"
Hi Guys,

I face issue on jwt token.

"**An error while decoding token.Key may not be empty**"

Same time give this error.

**JwtMiddleware.php**

[code]

[2020-03-12 14:04] lcobucci commented on #349
@jaimin-hothi My guess is that there's something wrong in your environment since a few log entries don't show the value of `env('JWT_APP_SECRET')` (e.g.: `[2020-03-12 13:19:34] lumen.INFO: Before`).

I'll be closing this since based on `use Firebase\JWT\JWT;` it looks like you're using a different JWT library :)

[2020-03-12 14:04] #349 closed

[2020-03-31 05:36] SirWellington commented on #244
In 2020, I am seeing this error with the suggested jose script:
[code]

Any ideas?

[2020-03-31 05:38] lcobucci commented on #244
Perhaps opening an issue in the tool's repository might be a good start? 😁

[2020-04-06 22:20] ronlinet opened #353 "Unhandled Exception ERROR_INVALID_CUSTOM_TOKEN"
The bellow snippet is acting as authorization server to deliver access tokens to a Flutter mobile app.

[code]

When I dump the $token variable I find, beside many other variables, the following array and in the above code you see that I use  token->getPayload to forward the  `[payload:Lcobucci\JWT\Token:private][1]` to client's mobile devices.

    [payload:Lcobucci\JWT\Token:private] => Array

[2020-04-07 02:11] lcobucci commented on #353
What you want to pass around is a string representation of the token object, so you must cast it to string and things will work as documented 😁

[2020-04-07 02:11] #353 closed

[2020-04-07 13:37] ronlinet commented on #353
As mentioned in @lcobucci  comment the bellow snippet does the trick ..
[code]

[2020-04-24 10:13] sachith-aogroup commented on #206
Hi

We are experiencing the same issue at random times in our Lumen project. The functionality works fine most of the times but occupationally we see this error in the logs and when it happens the server returns 500 error.

The packages we use are
tymon/jwt-auth 1.0.0-rc.5
lcobucci/jwt 3.3.1

JWT_SECRET is correctly setup in the env file and we also have setup a jwt config file.

The complete erro

[2020-04-24 11:13] Ocramius commented on #206
@sachith-aogroup please write a reproduction test case, then report in a new issue after you have a runnable example.

[2020-04-28 09:21] sachith-aogroup commented on #206
@Ocramius This is a random issue so not sure how I can reproduce it when it doesn't happen all the time.

[2020-04-28 14:03] Ocramius commented on #206
That's why a test scenario is needed: only you have access to the environment where this is happening.

[2020-04-30 11:22] sachith-aogroup commented on #206
We are trying to figure out when or how this happens too. All we can see is the error message (which I copied in Lumen logs) time to time. I understand its difficult to debug without a proper test scenario but at the same time its difficult to reproduce a test case when the error doesn't happen all the time. As the library developer , I though you guys would have better insight on this exception s

[2020-05-01 07:57] lcobucci commented on #206
@sachith-aogroup you have several layers between your application and this lib, which makes things quite complicated.

As you can see on the stack trace, the library [`tymon/jwt-auth`](https://github.com/tymondesigns/jwt-auth) is sending `null` to the verification process, which causes the error:

[code]

That lib simply doesn't have any type safety, which allowed `null` to be [passed to it as con

[2020-05-21 16:13] adaoduque opened #357 "Token with signature invalid, but validate() return true"
I generated a token with the following code:
[code]

Example token generated:
[code]

After change final 4 characters *PGHo* to _9999_ token
[code]

Following code return true, is valid token ?
[code]

[2020-05-22 08:18] lcobucci commented on #357
@adaoduque it seems like you missed a few [things on the docs](https://github.com/lcobucci/jwt/blob/3.3/README.md#hmac) :smile:

The validation operation checks if the token claims match the expectations.
However, to check whether the signature is valid or not you should use `Token#verify()`.

On https://3v4l.org/9nirB I've basically reproduced what the library does under the hood and your modific

[2020-05-22 08:19] lcobucci commented on #357
I'll be closing this, feel free to provide more information if that doesn't solve your issue.

[2020-05-22 08:19] #357 closed

[2020-05-22 08:45] lcobucci commented on #338
Closing here since we didn't get any input from @jakubboucek

[2020-05-22 08:45] #338 closed

[2020-05-22 08:46] lcobucci commented on #344
Closing here since we didn't get more input from @pelayo

[2020-05-22 08:46] #344 closed

[2020-05-22 13:10] anandasubas opened #358 "Uncaught RuntimeException (with Slim4)"
Request Headers:
Content-Type:"application/json"
cache-control:"no-cache"
Postman-Token:"7aa53299-d109-4574-9e5c-b8e6df3e4e0a"
Authorization:"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0sssssssaSI6IjgxOGM5ZTY0LWQyZTktNGZjYy1iZjIyLWJmOWY5MmMxYjgxMCJ9.eyJpc3MiOiJ3d3cua2VuaW1hZGFsYS5jb20iLCJqdGkiOiI4MThjOWU2NC1kMmU5LTRmY2MtYmYyMi1iZjlmOTJjMWI4MTAiLCJpYXQiOjE1OTAxNTA5OTMsIm5iZiI6MTU5MDE1MDk5MywiZXh

[2020-05-22 14:27] lcobucci commented on #358
@anandasubas you have a token with invalid JSON data on the headers: https://3v4l.org/1LPTf

[2020-05-22 14:28] lcobucci commented on #358
Closing as `invalid` since it's not really an issue of this library.

[2020-05-22 14:29] #358 closed

[2020-05-30 17:56] zhangchenglin commented on #300
Are you planning to change from the BSD 3 license to the MIT license after version 4?
@lcobucci

[2020-05-30 18:28] lcobucci commented on #300
@zhangchenglin we can surely change, AFAIK BSD-3 is as permissive as MIT so I didn't bother to change back then. However, I'm not an expert in that area and if that's an issue for you I can definitely modify it.

[2020-05-30 18:52] zhangchenglin commented on #300
I do n’t know much about this either. I just see that many projects are using the MIT license, so I feel that if they are the same, then maybe you can introduce more about the idea of ​​using this license in the readme. Someone can give you the answer you want. I think that the current license has no effect on me.

[2020-05-30 18:54] Ocramius commented on #300
BSD/MIT are pretty much the same: changing license is much more effort
(need to hunt down all previous contributors and ask for their opinion)

On Sat, May 30, 2020, 20:52 张成林 <notifications@github.com> wrote:

[2020-05-30 18:58] GrahamCampbell commented on #300
RE PHP version stats from composer, only 1 in 5 people are using PHP 7.4. PHP 7.2 is still the most popular version...

[2020-05-30 19:58] zhangchenglin commented on #300
I don't understand this, so it's so troublesome?

[2020-05-30 21:22] Ocramius commented on #300
Yes, **changing** license is a lot of work

On Sat, May 30, 2020, 21:58 张成林 <notifications@github.com> wrote:

[2020-06-25 09:33] GrahamCampbell commented on #300
It all your properties are private, typing them in the language is only gonna give you a slowdown at runtime, compared to using a static analyzer and phpdoc?

[2020-06-25 09:50] Ocramius commented on #300
It will add runtime invariants, should any initialisation escape our analysis.

In general, the overhead is negligible, compared to the advantages: if you are worried about this kind of overhead, you can write a plugin to drop all typed properties post installation.

[2020-06-25 09:51] Ocramius commented on #300
Besides, adding types explicitly can aid compilers and reflectors 👍

[2020-06-25 10:16] GrahamCampbell commented on #300
That would be a bad idea, if someone is reflecting on the code. ;)

[2020-07-30 19:55] athoune opened #362 "Why a Lcobucci\JWT\Signer\Key accepts a null argument ?"
An empty string is logic, but a  nullable `$content`, like an undefined variable, should raise an exception.

[RFC recommends 128 bits as minimum key size](https://tools.ietf.org/html/rfc7515#section-10.1), why `Lcobucci\JWT\Builder::getToken` doesn't enforce that, with an exception for the dreaded **none** signer?

[2020-07-31 10:02] lcobucci commented on #362
@athoune the current stable version is compatible with PHP 5 so we couldn't use scalar types on the signature - you can see that it's not the case for the  PHP 7.4+ alpha version: https://github.com/lcobucci/jwt/blob/master/src/Signer/Key.php#L20.

No exception was added because, back then, I thought that people wouldn't actually use `null` for the key.

The `Key` object works for different algori

[2020-07-31 10:17] lcobucci commented on #362
I hope this provides clarity :+1:
Will close this one but feel free to comment/re-open!

[2020-07-31 10:17] #362 closed

[2020-08-20 09:57] carusogabriel opened #367 "[3.3] `Claim::getValue` can return an array"
Hi @lcobucci 👋

I'd like to report to you something that we found at @usabilla while using this amazing library 😄

The documentation for

https://github.com/lcobucci/jwt/blob/56f10808089e38623345e28af2f2d5e4eb579455/src/Claim.php#L27-L32

is missing the possibility of an `array`. Example: https://jwt.io/#debugger-io?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6Ikp

[2020-08-20 12:55] lcobucci commented on #367
@carusogabriel nice catch, thanks!

This was clearly a mistake, as you can see on the implementation https://github.com/lcobucci/jwt/blob/3.3/src/Claim/Basic.php#L36

It's not a BC-break so, please, do send a patch for the 3.3.x series!

[2020-08-20 13:22] #367 closed

[2020-08-26 20:14] berndtja commented on #358
I got the same error.

[code]

I sent the token by GET parameter. When I modify the token in the address bar of my browser randomly this error occurred.
Shouldn't the $token->validate() function catch this error?

Or what can I do to prevent throwing the error?

[2020-08-26 20:40] lcobucci commented on #358
@berndtja validation happens after parsing. If the library is throwing an exception during parsing is because it's unable to create a valid token object from the string.

[2020-08-27 22:04] dependabot-preview[bot] opened #369 "Dependabot couldn't fetch the branch/reference for phpbench/phpbench"
Your dependency file specified a branch or reference for `phpbench/phpbench`, but Dependabot couldn't find it at the project's source. Has it been removed?

[View the update logs](https://app.dependabot.com/accounts/lcobucci/update-logs/45271771).

[2020-08-27 22:28] lcobucci commented on #369
Solved by #370

[2020-08-27 22:28] #369 closed

[2020-08-28 14:14] Potherca commented on #300
I'm getting the feeling that the PHP7.4 yay/nay discussion might be better served elsewhere....

Regardless, I'd be **very** interested in having JWK support, to the point of adding it myself _but_ for PHP 7.2 and higher, as that is indeed the constraint for the libs I am currently integrating with...

[2020-08-28 20:07] ArmChaCib opened #372 "Requested claim \"kid\" is not configured"
when i try to loggin with apple i received this message: "Requested claim \"kid\" is not configured".
But it is in the header
{
  "kid": "*******f",
}

[2020-08-28 21:39] JoeBengalen commented on #372
Try using the `getHeader` method instead of `getClaim`. The latter looks only at the payload of the token, not in the header part.

[2020-08-29 15:03] lcobucci commented on #372
@JoeBengalen is 100% correct here. Claims are different from headers, that's why we provide different methods to fetch them.

I'll close this issue for now, feel free to comment further or reopen it.

[2020-08-29 15:03] #372 closed

[2020-09-11 15:29] Aymkdn commented on #344
In the case of a Smart Home object, using Homegraph, the `issuer` is the `client_email` from the JSON file.

Also a **RSA256** must be used.

Some references:
- https://cloud.google.com/endpoints/docs/openapi/service-account-authentication
- https://stackoverflow.com/questions/51471726/google-smart-home-report-state-error-403
- https://github.com/actions-on-google/smart-home-nodejs/issues/149
- ht

[2020-09-18 03:32] mingzu opened #410 "拿过期的Token请求，报Notice"
_说明：使用的是单点登录_
![TB%S(N}O8X_85S(F(JB4{8G](https://user-images.githubusercontent.com/10097694/93552216-7c152480-f9a2-11ea-9fd7-c99801989dcd.png)

![~99ZR~VVYM 8R6JN2F~~(JB](https://user-images.githubusercontent.com/10097694/93552235-8cc59a80-f9a2-11ea-9f94-53a90ca8e0e5.png)

[2020-09-18 03:34] #410 closed

[2020-09-18 03:35] mingzu commented on #410
commit error

[2020-09-29 10:15] lcobucci commented on #249
Handled by #432

[2020-09-29 10:15] #249 closed

[2020-10-04 02:27] bradjones1 commented on #300
Per the PHP 7 question I agree with @Potherca this is a bit off-topic here and _also_, [this ship has sailed months ago](https://github.com/lcobucci/jwt/commit/d08362dd2ea3a014d8a3d905b61eed3c50f6247e). The README was [updated](https://github.com/lcobucci/jwt/commit/1fbc47871ce9e7ca237fac80c49eca79cacc8b49) last week.

I am a co-maintainer of the Simple OAuth/OpenID Connect module for Drupal and h

[2020-10-28 17:34] bradjones1 commented on #32
@lcobucci Would this be eligible for a move to 4.0.0 milestone from 5.0.0 with sponsored development?

[2020-10-31 21:49] chris-doehring commented on #300
I would really appreciate the release of a stable version `4.x` before the php 8 GA next month. As you may know, this package is an important dependency to others, and it would block them to upgrade to php 8.

@lcobucci If you like, I could create a PR where I make version `3.4` compatible to php 8, but that could mean dropping support for php `5.*` (due to phpunit). Depending on your priorities,

[2020-10-31 22:12] lcobucci commented on #300
@chris-doehring my plan is to release v4 before php 8.0 GA - or at least really close to it.

I want for v3.x to only serve as migration path for the new API, the only tricky thing is to backport BC-breaking changes.

[2020-10-31 22:17] lcobucci commented on #32
@bradjones1 thanks for the offer. My plan is to redesign the key so that we can implement jwk without breaking BC but wanted to make it part of v4.1.

v4 requires PHP 7.4+, does that meet your needs?

[2020-11-03 13:09] driesvints commented on #300
@lcobucci is there anything I can do to help out? Currently this is blocking PHP 8 support on league/oauth2-server and laravel/passport. Let me know what can be done to speed this up :)

[2020-11-03 13:10] driesvints commented on #300
See https://github.com/thephpleague/oauth2-server/pull/1146 & https://github.com/laravel/passport/pull/1373

[2020-11-04 01:14] #231 closed

[2020-11-06 15:37] driesvints commented on #300
@lcobucci so If I go by https://github.com/lcobucci/jwt/issues/300#issuecomment-591507948 it seems https://github.com/lcobucci/jwt/pull/452, https://github.com/lcobucci/jwt/pull/339 & " Backport changes to v3.x in a BC-compatible manner to create a migration path" are the only three things left for v4? #339 is a bit out of date it seems but do you have any more feedback for those PRs? Not sure wha

[2020-11-09 09:13] lcobucci commented on #44
I've decided not to do this. I mean, people have been using this library for years already and haven't reported issues. Encoding the claim and decoding just to validate stuff seems overkill for this library.

[2020-11-09 09:13] #44 closed

[2020-11-09 09:16] lcobucci opened #510 "Backport new validation API"
Keeping it compatible with PHP 5.6.

[2020-11-09 09:17] lcobucci opened #511 "Backport documentation"
It might be good to do this after [v4.0.0-beta1](https://github.com/lcobucci/jwt/milestone/16) is released so that the API is stable enough.

[2020-11-09 09:19] lcobucci opened #512 "Don't fail on missing `typ` header"
But fail if it's not set to `JWT`.

[2020-11-09 09:20] lcobucci opened #513 "Backport custom exceptions"
Making sure things are compatible with PHP 5.6.

[2020-11-09 09:21] lcobucci opened #514 "Backport new Token API"
Making sure things are compatible with PHP 5.6.

[2020-11-09 09:21] lcobucci opened #515 "Backport configuration object"
Making sure things are compatible with PHP 5.6.

[2020-11-09 09:27] lcobucci opened #516 "Guard against BC-breaks"
We should add https://github.com/Roave/BackwardCompatibilityCheck to the pipeline to make sure changes are backwards compatible with v3.3.x.

[2020-11-09 09:35] lcobucci commented on #300
Okay, folks, I took some time to organise stuff - about time, right? (sorry).

So I have some dates which I'm aiming for [v4.0.0-beta1](https://github.com/lcobucci/jwt/milestone/16) and v3.4.0 (assigned on the milestones) and added issues to backport stuff.

v4.0.0-beta1 issues: https://github.com/lcobucci/jwt/milestones/4.0.0-beta1
v3.4.0 issues: https://github.com/lcobucci/jwt/milestones/3.4.0

[2020-11-09 09:35] #300 closed

[2020-11-09 09:37] lcobucci opened #517 "Guard against BC-breaks"
Once the API has stabilised we should ensure we don't have BC-breaks against `master`.

[2020-11-09 09:39] lcobucci commented on #308
We're will be backporting the new validation API on #510, which solves this issue.

[2020-11-09 09:39] #308 closed

[2020-11-09 09:40] lcobucci opened #518 "Backport new encoder/decoder"
Making sure it's compatible with PHP 5.6.

[2020-11-09 09:40] lcobucci commented on #262
Will be resolved by #518

[2020-11-09 09:40] #262 closed

[2020-11-09 09:52] lcobucci opened #519 "Allow builder to use DateTimeImmutable objects for the registered claims that use dates"
We need to have this in order to have a forward-compatible API.

[2020-11-09 10:12] driesvints commented on #300
That's great @lcobucci! I'll check those out soon to see if I can help out there 👍

[2020-11-09 10:36] lcobucci opened #520 "Document the upgrade process"
We need to provide instructions for users on how they can move to v4.0.

[2020-11-09 10:38] lcobucci opened #521 "Simplify MicrosecondBasedDateConversion formatter"
The code is a bit convoluted and does some unnecessary array operations. Let's simplify that by iteration over the registered claims with dates and check for their existence.

We should also simplify the docs on https://lcobucci-jwt.readthedocs.io/en/latest/extending-the-library/#claims-formatter.

[2020-11-10 22:48] #516 closed

[2020-11-10 23:06] lcobucci opened #525 "Create benchmarks for token parsing and issuing"
Which will be extremely helpful for us to analyse performance impacts.

[2020-11-11 00:53] #512 closed

[2020-11-11 00:53] #521 closed

[2020-11-13 01:12] bradjones1 commented on #32
@lcobucci Modern PHP at 7.4+ is no blocker on our side. Thanks very much for your work on the module and I look forward to helping.

[2020-11-16 22:50] #128 closed

[2020-11-20 20:16] lcobucci opened #537 "Trigger deprecation errors for removed features based on arguments"
v4.0 changes or drops features based on arguments.
We can't use `@deprecated` for them, so we should use `trigger_error()` to notify users on how to migrate.

[2020-11-20 23:12] #517 closed

[2020-11-20 23:12] #520 closed

[2020-11-21 01:27] #513 closed

[2020-11-23 16:29] #519 closed

[2020-11-23 16:29] #514 closed

[2020-11-23 16:29] #515 closed

[2020-11-23 16:29] #510 closed

[2020-11-23 16:30] lcobucci commented on #518
This has very little benefit and so I decided not to backport these interfaces.

[2020-11-23 16:30] #518 closed

[2020-11-24 23:26] lcobucci commented on #88
There're so many references already around the web, so I'll skip this one for now. Anyone is more than welcome to send a PR, tough.

[2020-11-24 23:26] #88 closed

[2020-11-25 01:13] #511 closed

[2020-11-25 01:13] #537 closed

[2020-11-25 03:06] compenginecode opened #550 "Laravel passport broken as a result of #5ce37ae2"
Hello,

We're currently using Laravel Passport and it's pulled in JWT 3.4. The standard "/oauth/token" route now longer works as the newly added deprecation messages are interrupting the flow, which were added in:

https://github.com/lcobucci/jwt/commit/5ce37ae2061942019e21ad5ef3af160cb5a4ad39

Don't have any more info yet but adding just in case anyone else is experiencing this?

[2020-11-25 03:13] agwidarsito commented on #550
It appears it's being pulled in due to the package _league/oauth2-server_

[2020-11-25 03:16] agwidarsito commented on #550
Adding an explicit reference to an earlier version when using oauth2-server works:

`"lcobucci/jwt": "3.3.0"`

Isn't the aim of a deprecation process to not break backwards compatibility but warn the user? Seems like this is physically forcing people to adjust immediately.

[2020-11-25 07:38] muhammad-zakir commented on #550
this should do as a temporary solution, but the latest version that won't break because of the exact same reason for now would be `3.3.3`.

[2020-11-25 08:29] SHELA commented on #550
The same

[2020-11-25 08:37] hungcrush commented on #550
It took me 2 hours to fix this, thanks @muhammad-zakir Now it works well.

[2020-11-25 08:45] lcobucci commented on #550
First of all, I'm sorry for being the source of any kind of frustration. I really hope these errors appeared in a development environment and not in a production one.

I've tried to my best efforts to document and alert everyone about the `E_USER_DEPRECATED` errors in the [changelog](https://github.com/lcobucci/jwt/releases/tag/3.4.0):

The approach I took (`trigger_error()`) is the same one that

[2020-11-25 08:57] lcobucci commented on #550
I'll close this as `invalid` as per my comment. Please feel free to ask more questions.

[2020-11-25 08:57] #550 closed

[2020-11-25 09:00] agwidarsito commented on #550
Makes sense, sorry if my comment was snarky. Adjusting `error_reporting` is a good solution and a good way to deprecate something. I think it was just extra confusing on my end because somehow this message was bubbling quite high into the application and was hard to tell where this literal text was coming from :)

[2020-11-25 09:25] lcobucci commented on #550
It's alright, we're only humans after all. *something something **emotions** something something* 😆

That's a good though, we can improve the message to add the package name or even a link to my explanation about. Would you like to send a PR to help on this? I'll be more than happy to release a v3.4.1 with improvements there.

[2020-11-25 09:46] ngarawakimani commented on #550
Issues are good sometimes.

This issue has forced me to know that `laravel/passport` uses `thephpleague/oauth2-server` and `thephpleague/oauth2-server` uses `lcobucci/jwt`. I wouldn't have bothered to check this if everything worked fine today after I run `composer update` on my app.

[2020-11-25 10:18] leo108 opened #551 "Breaking changes are introduced in 3.4.0"
This breaks many popular packages like league/oauth2-server https://github.com/thephpleague/oauth2-server/issues/1156

https://github.com/lcobucci/jwt/compare/3.3.3...3.4.0

[2020-11-25 10:20] #551 closed

[2020-11-25 11:34] saifmuhammad opened #553 "lcobucci/jwt updated version 3.4.0 issue"
Today , we were releasing laravel project which uses following packages
"laravel/framework": "5.7.*",
 "tymon/jwt-auth": "1.0.*",

After composer update , jwt authentication stoped working and gave below mentioned error
**Replicating claims as headers is deprecated and will removed from v4.0. Please manually set the header if you need it replicated.**
There  must be some issue with package depende

[2020-11-25 11:35] agwidarsito commented on #550
Haha indeed - no matter how hard we try sometime those emotions squeeze past the rational side :P

That sounds like a great idea - both the package name and link are good ideas, especially considering it's a deprecation notice that we expect people to resolve one way or another. I'll lodge a PR for this :)

[2020-11-25 11:38] Luc45 commented on #553
Related:
- https://stackoverflow.com/questions/64999830/getting-exception-while-create-token-using-passport-laravel
- https://stackoverflow.com/questions/65003024/replicating-claims-as-headers-is-deprecated-and-will-removed-from-v4-0-laravel

[2020-11-25 11:42] Luc45 commented on #553
This is coming from https://github.com/lcobucci/jwt/commit/5ce37ae2061942019e21ad5ef3af160cb5a4ad39#diff-aaf0bc0443d3390951e65b1d6dadf6134554550b510609434969424757f1b6f9R336

It should probably be throwing a notice instead of triggering a fatal error since it's a warning of future deprecation, not actual deprecated.

[2020-11-25 11:51] Slamdunk opened #554 "[v4.0] Add stricter ValidAt constraint"
Hi, it seems to me that the new `ValidAt` constraint is very dangerous:

https://github.com/lcobucci/jwt/blob/6d8665ccd924dc076a9b65d1ea8abe21d68f6958/test/unit/Validation/Constraint/ValidAtTest.php#L218-L225

It creates a false sense of security, and it's easy to mess with: I've already had a successful token misused because no time claim was set.

I propose to rename `ValidAt` to `LooseValidAt`,

[2020-11-25 11:53] Slamdunk commented on #554
NDR: `DateTimeImmutable` and `NULL` comparison may return true:

https://github.com/lcobucci/jwt/blob/6d8665ccd924dc076a9b65d1ea8abe21d68f6958/src/Token/Plain.php#L67-L75

Pretty dangerous too!

[2020-11-25 11:56] ivalsdtech commented on #553
I have same problem in laravel 5.8

[2020-11-25 12:03] Ocramius commented on #553
Would rather say that laravel turning `E_USER_DEPRECATED` into an error is a problem: in other apps, I suppressed laravel's error handling mechanism completely, as it generally leads to this sort of problem.

Overall, I'm also not a fan of `E_USER_DEPRECATED`, as all warnings lead to side effects, but here the resolution path for others is

 1. Pin to an older release of this library in your root

[2020-11-25 12:05] Luc45 commented on #553
@Ocramius You are right, I overlooked this application is throwing an `E_USER_DEPRECATED`, which seems fine. Indeed, throwing a fatal for deprecation is overkill, and if it's coming from Laravel, then it seems like a Laravel's problem to me.

[2020-11-25 12:05] Ocramius commented on #554
@Slamdunk can we turn it into a test case? Seems like an oversight that could have security implications

[2020-11-25 12:08] ArchimedeSolutions commented on #553
Just got this...
`[2020-11-25 12:03:00] development.ERROR: Implicit conversion of keys from strings is deprecated. Please use InMemory or LocalFileReference classes. {"exception":"[object] (ErrorException(code: 0): Implicit conversion of keys from strings is deprecated. Please use InMemory or LocalFileReference classes. at /var/www/vendor/lcobucci/jwt/src/Signer/BaseSigner.php:57)
[stacktrace]
#0

[2020-11-25 12:09] Slamdunk commented on #554
I tried to get `hasBeenIssuedBefore` tested, but then I run into `assertShouldNotRaiseExceptionWhenTokenDoesNotHaveTimeClaims` test so I thought it was done on purpose with the reasoning: "If no time claim has been set, the token shall always be valid in time".

I'm totally against this, but wanted to wait @lcobucci for a reply before a PR

[2020-11-25 12:15] lcobucci commented on #553
It's unfortunate that Laravel converts a deprecation message into an exception. Please check the whole explanation on why this approach has been picked [here](https://github.com/lcobucci/jwt/issues/550#issuecomment-733557709).

I'll be closing this as invalid because this lib is behaving in the same way as PHP.

[2020-11-25 12:15] #553 closed

[2020-11-25 12:56] lcobucci commented on #554
This constraint was created based in the behaviour we had in v3.x (nothing fails when claims aren't set).
Your concern is valid, though! It's a pity we didn't raise this point during the alpha stages.

We cannot rename it any more (BC-break) but can definitely create the strict one (which makes sure we have the claims before of performing the validations with the `Token`).

Does it make sense to y

[2020-11-25 13:03] Slamdunk commented on #554
We can proxy `ValidAt` to `LooseValidAt` by composition, and deprecated `ValidAt` within a MINOR release.

I'll PR everything soon if it's ok to you. A `4.1.0` can be released right-away without hassles I think

[2020-11-25 13:05] lcobucci commented on #554
@Slamdunk sounds like a plan :+1:

[2020-11-25 14:10] farshidrezaei opened #556 "can't generate toekn."
i get this error

where generating token.

[2020-11-25 14:13] lcobucci commented on #556
@farshidrezaei I assume you upgraded to v3.4, did you read the changelog and the upgrading guide?

I do recommend you also to check https://github.com/lcobucci/jwt/issues/550#issuecomment-733557709 to understand how the dynamic deprecation messages (which aren't errors) are handled.

[2020-11-25 14:15] lcobucci commented on #556
Also, if this happens in Laravel, please be mindful of: https://twitter.com/driesvints/status/1331584996147126273

[2020-11-25 14:51] lcobucci commented on #556
Closing as invalid as per my comments.

[2020-11-25 14:51] #556 closed

[2020-11-25 14:53] nvahalik opened #557 "3.4.0 introduced a breaking change"
Laravel Passport has a dependency set to `^3.3.1` for this library.

Installation of version `3.4.0` for those users will make them start seeing the following error message:

    Using integers for registered date claims is deprecated, please use DateTimeImmutable objects instead.

If you're one of those unlucky users, just:

`composer require lcobucci/jwt@~3.3.1`

And you should be all set.

[2020-11-25 15:01] lcobucci commented on #557
As mentioned in https://github.com/lcobucci/jwt/issues/550, https://github.com/lcobucci/jwt/issues/553, and https://github.com/lcobucci/jwt/issues/556 this isn't a BC-break.

An issue on Laravel's side has been uncovered and now its users are having deprecation messages (which don't break the app) converted into exceptions https://twitter.com/driesvints/status/1331584996147126273.

Closing as inva

[2020-11-25 15:01] #557 closed

[2020-11-25 17:25] djmarland opened #558 "V4: How do I use the "kid" header to choose a key? (Question)"
The JWT spec for the "kid" header [suggests](https://tools.ietf.org/html/rfc7515#section-4.1.4):

I have several public keys and use the header to choose which one to use when verifying.

I previously had code that looked like this:

[code]

In upgrading to 4.0 the docs suggest creating a configuration object and then calling the parser from that:

[code]

However, to create `$this->config` I need

[2020-11-25 18:36] Spomky opened #559 "The new behaviour of the method withClaim breaks our adapters"
Hi,

In our application, we have adapters for several JWT libraries including this one.
The headers and claims we pass to the adapters are already well-formatted as per the RFCs.

The issue comes from the new version 3.4 (and 4.0 as well) and the [new restriction added here](https://github.com/lcobucci/jwt/blob/3.4.0/src/Builder.php#L414-L416).

As we pass registered/custom claims, the method `wit

[2020-11-26 08:46] waltertamboer opened #560 "Allow an array for audience"
Hi,

I appreciate your work a lot! Thank you!

I ran into an issue where it's not allowed to set an array as audience. I believe this is not in line with the specs:

https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.3

https://github.com/lcobucci/jwt/blob/3.4/src/Builder.php#L111
https://github.com/lcobucci/jwt/blob/master/src/Validation/Constraint/PermittedFor.php#L14

Th

[2020-11-26 08:49] b-water commented on #560
Hey, i got the same Issue. Audience in JWT is an Array with Element 0, but the lib tries to compare it to a string.

[2020-11-26 09:07] lcobucci commented on #560
@waltertamboer v3.x is supposed to only support a single entry in the `aud`, in v4.x you may set multiple entries by calling `Builder#permittedFor()` [multiple times or with multiple elements](https://github.com/lcobucci/jwt/blob/6d8665ccd924dc076a9b65d1ea8abe21d68f6958/src/Token/Builder.php#L35-L41#L20).

If you do need multiple entries on `aud` you should upgrade to v4.0.

@b-water that looks li

[2020-11-26 09:13] waltertamboer commented on #560
Thanks! Will upgrade and try it out.

[2020-11-26 09:15] lcobucci commented on #559
Yeah, throwing the exception on v3.4 breaks BC and it's a mistake (sorry about that).

The guard is there because of expectations about the types used in the registered claims (arrays/DateTimeImmutable/etc).

I'd propose a different approach to this:

[code]

This means that your app will be just fine with v3.4 but will need to be updated for v4.0. Is that a reasonable approach?

[2020-11-26 09:31] Spomky commented on #559
Hi @lcobucci,

Looks good to me. We will manage that when updating the adapters for v4.0+.
I've just submitted a PR with the code you proposed.

[2020-11-26 09:52] lcobucci commented on #559
Thanks for sending the PR, tonight I'll work on this project and work on releasing v3.4.1 👍

[2020-11-26 10:16] mludi commented on #558
I have the same situation. If you have any idea, let me know :-)

[2020-11-26 10:45] lcobucci commented on #558
@djmarland using the config objects is indeed the suggested approach. You can deviate from that if you want but I'd say that this is an example where extending the library makes sense.

You may provide a custom implementation for `Key` to handle that:

[code]

Then you have 2 options:

1. Use lib provided constraint (`SignedWith`)
2. Use your own constraint

### 1. lib provided constraints

Instan

[2020-11-26 10:50] lcobucci commented on #558
Will close this for now, please don't hesitate to re-open or send further questions about the topic if you'd like to know more 👍

[2020-11-26 10:50] #558 closed

[2020-11-26 11:07] b-water commented on #560
@lcobucci hope this helps!

[2020-11-26 11:16] lcobucci commented on #560
@b-water it does, thanks ❤️

[2020-11-26 11:21] djmarland commented on #558
Thank you. That is most helpful. I will look into opening a PR with this

[2020-11-26 12:24] Spomky commented on #559
Closing as the PR exists. Let’s continue the discussion on #561

[2020-11-26 12:24] #559 closed

[2020-11-26 16:16] ithieme71 opened #563 "Deprecation message throws an exception"
Since updating from 3.3.3 to 3.4.0 the newly added deprecation messages throw an exception which causes some issues at least in combination with the lexik/jwt-authentication-bundle 2.6.5.

[code]

The reason is that the use of trigger_error throws an exception. That's why a lot of developers set the error control operator '@' in front of this function. Then the error can still be seen in the log f

[2020-11-26 16:40] lcobucci commented on #563
@ithieme71 that has been covered by https://github.com/lcobucci/jwt/issues/550#issuecomment-733557709.

btw, `trigger_error()` doesn't throw an exception. Custom error handlers on frameworks that don't necessarily respect the configured `error_reporting` are the ones to blame here.

I'll be closing this as invalid 👍

[2020-11-26 16:40] #563 closed

[2020-11-26 16:52] lcobucci commented on #563
It's also quite weird that exceptions are being thrown on a bundle, given that SF error handler doesn't throw on deprecations https://github.com/symfony/error-handler/blob/5.x/ErrorHandler.php#L40

[2020-11-26 17:01] stolentine opened #564 "you faggot"
v3.4.x crash my app. You know that in case of violation of reverse compatibility, you need to change the first digit in the version. v<this>.*.*  v<THIS>.*.*?

You should have changed to release this version as v4.0.0

asshole

[2020-11-26 17:11] Ocramius commented on #564
Closing and locking: you did not read the license, and you are being disrespectful of hard work done for free.

[2020-11-26 17:11] #564 closed

[2020-11-26 17:22] lcobucci commented on #564
You're giving me too much power and credit, here, @stolentine.

Please read https://github.com/lcobucci/jwt/issues/550#issuecomment-733557709.

[2020-11-26 22:14] nickdnk opened #565 "Avoid using trigger_error for deprecations"
Hello

I upgraded from 3.3 to 3.4, which broke my app (in testing of course, but still).

I'd suggest you do not suddenly introduce calling `trigger_error` in a minor version, as it will break some systems set up to strictly handle notices or warnings as errors - such as ours.

Deprecations are obviously fine, but please only do it with phpdocs and/or documentation.

https://github.com/lcobucci/jw

[2020-11-26 22:19] Ocramius commented on #565
Duplicate of https://github.com/lcobucci/jwt/issues/550#issuecomment-733557709

[2020-11-26 22:19] #565 closed

[2020-11-26 23:06] nickdnk commented on #550
Hello

Can you elaborate on "in scenarios where we can't simply use @deprecated"? Which scenarios are those?

[2020-11-26 23:45] lcobucci commented on #550
@nickdnk sure!

When deprecating behaviour or arguments of a method. With PHP 8.0 attributes we can annotate arguments but that doesn't help older PHP versions.

Example: on v3.3.0, I've backported some methods of the new `Builder` interface. However, that was a premature move (or way too hopeful move?) and, later on, the signature of those methods have changed:

[code]

On v3.4, that needed to be

[2020-11-27 01:02] lcobucci commented on #560
Handled by d446df1fa1b61e8d35a901779988f2574b23c150 (v4.0 only).

Closing here, folks.

[2020-11-27 01:02] #560 closed

[2020-11-27 01:55] nickdnk commented on #550
Okay, fair enough. But... nobody is forcing you to implement the trigger_error behavior as far as I can see, and it doesn't really help anyone: If someone is using 3.x, they're going to stay on 3.x until they *choose* to upgrade to 4.0, at which point it is their responsibility to consult the upgrade guide and make the necessary changes. In 4.0 you could just change this behavior and only leave a

[2020-11-27 04:10] fulelamakasi opened #566 "Composer update"
Ran composer update and received this error is there any upgrading guide

Cannot instantiate interface Lcobucci\JWT\Parser {"exception":"[object] (Error(code: 0): Cannot instantiate interface Lcobucci\\JWT\\Parser at app/Http/Middleware/ApiAuthMiddleware.php:45)

[2020-11-27 07:17] lcobucci commented on #566
It looks like you upgraded to v4.0. There's an upgrade guide: https://lcobucci-jwt.readthedocs.io/en/stable/upgrading/

[2020-11-27 07:18] #566 closed

[2020-11-27 09:22] shahlin commented on #550
I'm not using Passport but I still faced this issue in dev due to tymon's JWT package. I saw the fix over on that repo to update the jwt config in `config/jwt.php` to use the `Namshi::class` as shown here: [Fix for breaking change](https://github.com/tymondesigns/jwt-auth/issues/2059#issuecomment-733441001)

Is this a permanent solution?

[2020-11-27 09:44] lcobucci commented on #550
You're using Laravel, though, which does error handling way aggressively (as mentioned in https://github.com/tymondesigns/jwt-auth/issues/2059#issuecomment-734511158)

[2020-11-27 10:36] tymondesigns commented on #550
The [namshi/jose package was deprecated a while back](https://github.com/namshi/jose#deprecation-notice), hence the change in default provider to this package. So I wouldn't consider it a permanent solution. It will work as a temporary measure until I'm able to add supported alternatives and upgrade this package to v4

[2020-11-27 10:40] shahlin commented on #550
Welp, looking forward to the updates!

[2020-11-27 10:50] lcobucci commented on #550
@nickdnk leaving these messages is part of https://semver.org/#how-should-i-handle-deprecating-functionality and consistent with the language behaviour.

I think `regardless of my environment configuration` is where our PoVs differ. An environment that has `error_reporting` set to `-1` or `E_ALL` effectively tells the language that the person who configured the system is interested in **all types*

[2020-11-27 11:46] nickdnk commented on #550
And that's your decision, of course, just know that you're solving nothing with this and creating problems for (some) people for no *useful* reason (per my previous comment with regards to major versions requiring a code review *anyway*). As I said I've never experienced this before with any other library, so take from that what you will. You may be technically correct ("the best kind" - haha), bu

[2020-11-30 22:35] emiliopedrollo opened #582 "Cannot use to authenticate with GitHub anymore"
Using the Builder's new typed `issuedAt` method generates and token that fails github authentication with the following message:

[code]

I think a similar problem would occur with `expiresAt`

[2020-11-30 23:00] lcobucci commented on #582
@emiliopedrollo as part of the RFC, dates can be represented with numeric strings and have fraction of time.

The default behaviour of the library is to use microsecond precision **if the DateTimeImmutable object has that info**, otherwise an integer will be used.

That means that you may instantiate an object without having microseconds and pass it down to the builder.

Alternatively, you may cha

[2020-11-30 23:01] #582 closed

[2020-11-30 23:02] t0mmy742 commented on #582
Hello,

This library generates decimal numbers. The [RFC](https://tools.ietf.org/html/rfc7519#page-6) states that non-integer format can be used [You can create your ClaimsFormatter](https://lcobucci-jwt.readthedocs.io/en/latest/extending-the-library/#claims-formatter) to generate Integer as GitHub wants.

[2020-11-30 23:05] lcobucci commented on #582
@t0mmy742 I just happened to have my phone in hands and browsing through the GH app :joy:. Your help is much appreciated :heart:

[2020-12-01 12:24] vikas-agent opened #590 "Target [Lcobucci\\JWT\\Parser] is not instantiable"
I am trying to login into my application which is in laravel but I'm getting this error.

[code]

not sure why this is happening.

I tried

1. delete vendor and composer install
2. delete vendor and composer update
3. composer require Iacobucci/jwt it installed ^4.0 version

Still getting this error. Can you have a look at this?

[2020-12-01 12:42] Ocramius commented on #590
`Lcobucci\JWT\Parser` is an interface, hence not instantiable:

https://github.com/lcobucci/jwt/blob/6d8665ccd924dc076a9b65d1ea8abe21d68f6958/src/Parser.php#L10

The configuration of your app should probably specify which parser to use.

[2020-12-01 12:42] #590 closed

[2020-12-01 20:53] rafwell commented on #550
+1. I need downgrade to version 3.3.*, I'm using laravel 6 and php 7.2.

[2020-12-01 20:58] Ocramius commented on #550
Locking here: already clarified in https://github.com/lcobucci/jwt/issues/550#issuecomment-734773506, so please report new issues with a test case, if required, but "me too" doesn't really help.

[2020-12-02 20:57] schechter opened #593 "Token#getClaims() returns unexpected values"
We've just had to pin to 3.3.3 as 3.4.1 is not behaving as expected.

`getClaims` no longer returns the expected value (perhaps only when the value is multiple lines?)

[2020-12-02 21:10] lcobucci commented on #593
That's extremely unexpected, would be able to reproduce it in a test case?

[2020-12-03 01:17] schechter commented on #593
I'll see if I can get something together, in the mean time here's some more details.
Earlier today we started getting errors in one of our staging environments.
Our composer files had `"lcobucci/jwt": "^3.2",`
The images running in production were running `"source": "https://github.com/lcobucci/jwt/tree/3.3.3"` while the environments with this errors were running `"source": "https://github.com/lco

[2020-12-03 08:01] digibeuk opened #594 "\JsonException does not check if it already exists before adding it"
\JsonException added in https://github.com/lcobucci/jwt/commit/6728388a529847fae1e840c3bd21adb69ad889b9 should check if the class exists before declaring. We have a problem with this class because we use the symfony polyfill which also adds this class

[2020-12-03 13:44] #594 closed

[2020-12-08 19:59] killgt commented on #582
I'm having the same issue (in php 8) in combination with https://github.com/GrahamCampbell/Laravel-GitHub . It seems that the github implementation of jwt doesn't respect the spec, and maybe php 8 added decimals to the default info on the DateTime object.

[2020-12-08 20:30] emiliopedrollo commented on #582
Using Laravel you should use the following:

[code]

[2020-12-08 20:49] elijahchancey opened #602 "PHP 8 Support"
Please add PHP 8 support. Thanks!

[2020-12-08 23:14] lcobucci commented on #602
PHP 8.0 is supported in v4. Please migrate using the upgrade guide.

[2020-12-08 23:16] #602 closed

[2020-12-08 23:23] lcobucci commented on #582
@killgt `new DateTimeImmutable('@' . time())` should do the trick too.

Microseconds were added in php 7.1: https://www.php.net/manual/en/datetime.construct.php#refsect1-datetime.construct-changelog

[2020-12-09 08:06] killgt commented on #582
Thanks both for your help, i commented on the issue for the next one who have the same issue.

The solution it's to stripe the microseconds, but the hard part its that the `new DateTimeImmutable` its 'hardcoded' on GrahanCambepbell integration of this library. I actually managed to do it overriding the jwt authenticator class, as i don't know any way to change the new DateTimeImmutable behavior re

[2020-12-09 08:14] lcobucci commented on #582
@killgt does that library expose the configuration object? If so, you can go with the custom claim formatter approach.

[2020-12-09 08:35] killgt commented on #582
I don't think so:

https://github.com/GrahamCampbell/Laravel-GitHub/blob/9.6/src/Auth/Authenticator/PrivateKeyAuthenticator.php#L72

[2020-12-09 10:30] #554 closed

[2020-12-09 16:28] VitaliyDior opened #604 "Claims iat, nbf, exp do not correspond RFC 7519"
In case of non zero Firebase\JWT::$jeeway MicrosecondBasedDateConversion converts iat, nbf, exp claims into strings.
According to RFC 7519  they

This issue has high impact on strict typed languages, for example  java-jwt throws the following error
[code]

[2020-12-09 17:15] lcobucci commented on #604
@VitaliyDior if you search for NumericDate on the RFC you'll find:

To prevent issues with floating point precision, we use strings to represent microseconds.

On our docs we provide examples on how to use claim formatters to always use integers for these date objects: https://lcobucci-jwt.readthedocs.io/en/latest/extending-the-library/#claims-formatter

[2020-12-09 17:15] #604 closed, assigned to lcobucci

[2020-12-09 17:58] VitaliyDior commented on #604
Ok, but If I understand correctly, docs said that default claims formatter returns float

[2020-12-09 19:55] lcobucci commented on #604
That's a documentation issue, thanks for pointing it out.

[2020-12-10 13:01] Tayyab20 opened #608 "ParseError while creating token with passport"
ParseError
syntax error, unexpected 'Parser' (T_STRING), expecting function (T_FUNCTION) or const (T_CONST)
vendor/lcobucci/jwt/src/Configuration.php:22

I am using "version": "4.0.0",

![Screenshot_2020-12-10 🧨 syntax error, unexpected 'Parser' (T_STRING), expecting function (T_FUNCTION) or const (T_CONST)](https://user-images.githubusercontent.com/17792607/101775559-7a767b00-3b11-11eb-9574-0f737

[2020-12-10 13:34] lcobucci commented on #608
@Tayyab20 v4.0 requires PHP 7.4+ (which are versions that have typed properties support). It seems like you're not running your app with this same PHP version that you used to download the dependencies (or perhaps you're ignoring platform requirements when installing the lib via composer?).

[2020-12-10 14:01] Tayyab20 commented on #608
I am using PHP 7.3.12 but I simply installed laravel/passport package. jwt installed with it automatically.

[2020-12-10 14:34] #608 closed, assigned to nobody

[2020-12-11 15:31] XAKEPEHOK opened #609 "What if I need only parse and verify tokens without issuing with v4?"
As I can see, I cant configure Configuration::forAsymmetricSigner() with null signing key, but why? I have two apps, first app issuing tokens and sign its with Rsa\Sha512 and also share public key by fixed http uri. Second app receive tokens from first app, trying to download public key and want verify that token was issued and signed by first app. Second app dont want issuing tokens, only verifyi

[2020-12-11 20:01] t0mmy742 commented on #609
If you look at [Configuration::forUnsecuredSigner](https://github.com/lcobucci/jwt/blob/76734640d36383432b02bc09fd2f97edcc1b278e/src/Configuration.php#L83) method, you can see `Key` object instancied with `InMemory::empty()`.
You can't use a null key, you need a `Key` object. But you can use an "empty" signing key, because you do not need it for validation. For your `Configuration::forAsymetricSig

[2020-12-13 01:25] gad-rwgo opened #610 ""Not providing the current time is deprecated. Please pass an instance of DateTimeInterface" issue"
Hey guys,

We have a Laravel deployment days ago and in one of our tests we found that Apple sign-in does not work. On the old server, it used to work fine but with the new one we get the error {"message": "Server Error", "status": 500} (this is an error returned when the app calls a certain route; however, I think this is not related to the root cause of the problem). We checked Laravel logs and

[2020-12-13 09:46] Tjeerd opened #611 "Should the TokenInterface contain a method for claims() ?"
After upgrading to v4 of the library my static code analysis is failing because claims() is not defined Token interface. I guess this method should be declared, also because the code of the library itself is depending on it but others as well. Do you agree? If so I will create a PR for this change.

[2020-12-14 09:21] Ocramius commented on #610
Sounds like you didn't commit your `composer.lock`.

Potentially duplicate of https://github.com/lcobucci/jwt/issues/550#issuecomment-733557709 - closing here.

[2020-12-14 09:21] #610 closed, assigned to Ocramius

[2020-12-14 15:36] nanawel commented on #611
I was about to ask the same question :)

[2020-12-14 16:33] XAKEPEHOK commented on #609
t0mmy742, looks good. Thanks!

[2020-12-14 16:33] #609 closed, assigned to nobody

[2020-12-14 17:24] t0mmy742 commented on #611
It was already discussed on #186 and #203

[2020-12-14 17:30] lcobucci commented on #611
Thanks @t0mmy742, that's indeed the explanation.

What I'm thinking about (for v4.1) is to have an interface for the unencrypted token, so that users can do the check using it instead.

That was suggested in https://github.com/lcobucci/jwt/pull/186#discussion_r138533421 and I've essentially changed my mind (especially because that allows for better extensibility).

[2020-12-14 21:24] Tjeerd commented on #611
Right, sorry to have missed those other issues. Closing this one as I understand and agree with the answers given there.

[2020-12-14 21:24] #611 closed, assigned to nobody

[2020-12-16 15:10] Slamdunk commented on #32
Not a solution to JWK-to-PEM problem nor any help for JWK support, but just a mention that https://github.com/lcobucci/jwt/pull/605 got merged and now EdDSA signature can be used too for asymmetric signing: EdDSA keys don't need PEM conversion so they can be a nice workaround, considering also they are more secure.

[2020-12-31 09:53] SamMousa opened #620 "Create JWT without verification key"
I'm using JWTs for SSO.
Using asymmetric signatures means that one system is creating a JWT and another is verifying it.
In the code samples for v4 there is no way to create a configuration object without passing it both a signature AND a verification key.

[2020-12-31 09:59] SamMousa commented on #620
I've worked around it by not using the configuration object which to me seems to serve no purpose.

[2020-12-31 09:59] #620 closed, assigned to nobody

[2020-12-31 10:04] Slamdunk commented on #620
The configuration is useful to split apart config ad usage times.

You're right it's not very clear, by the way the verifier should use `\Lcobucci\JWT\Signer\Key\InMemory::empty()` as the signature key.

[2020-12-31 11:24] SamMousa commented on #620
The `Configuration` class is not a very useful thing though. It combines dependency, thereby making them less obvious.
It is also a factory for the `Builder` class, which means it has multiple responsibilities.
To make it even less useful, when it creates the builder class it doesn't even inject the configuration (like signer and keys).

In my opinion the `Configuration` object muddies the design.

[2021-01-05 07:18] hujinchen opened #621 "生成的token 可以删除或者注销么？"

[2021-01-05 07:22] Slamdunk commented on #621
I don't know what you mean by this question: the token this library generates is only present in the variable/stream you output it to.
It's up to you how you use it.

[2021-01-05 07:23] Ocramius commented on #621
Tokens are immutable by design: to invalidate them, you need to change the key used for validation of their signature.

[2021-01-05 07:23] #621 closed, assigned to nobody

[2021-01-05 09:30] hujinchen opened #622 "How to update the expiration time of token?"

[2021-01-05 09:35] Ocramius commented on #622
A token that has been generated cannot be modified anymore: you can change the expiration time before generating a token:

https://github.com/lcobucci/jwt/blob/43cb7a704c50abd37942651825c6195cf12b5278/src/Builder.php#L22-L25

[2021-01-05 09:35] #622 closed, assigned to Ocramius

[2021-01-05 09:39] hujinchen commented on #622
I know. Is there a way to update the token?

[2021-01-05 16:49] lcobucci commented on #622
@hujinchen no, a token is immutable because it's usually sent over to multiple places/services/clients. That's why expiring tokens is a good practice, otherwise, undesired users would be able to exploit your application in case of a leaked token.

What you should do instead is issuing a new token.

[2021-01-05 16:51] lcobucci commented on #593
@schechter I'll be closing this since we didn't receive info on how to reproduce the issue. Feel free to open once you've got the time to help on solving this.

[2021-01-05 16:51] #593 closed

[2021-01-05 17:01] lcobucci commented on #620
@SamMousa we've tried to document the use cases of the `Configuration` object on https://lcobucci-jwt.readthedocs.io/en/stable/configuration/. It's definitely not a mandatory component but my experience with users on the previous versions led us to create and suggest it - not everyone is familiar with or uses a DI container (unfortunately).

In terms of design, well, it's a service locator. I'm ye

[2021-01-06 01:17] hujinchen commented on #622
@lcobucci Hello, now there is a requirement that when a user logs out and logs in again, should the old token be discarded and no longer be used?

In this case, I don't care about the old token?

[2021-01-06 01:20] Ocramius commented on #622
There is no "log out" with tokens: if you send the token with a request, that is your authentication, and if you don't, you are not authenticated

[2021-01-06 02:05] hujinchen commented on #622
@Ocramius This is OK. What I want to know is how to deal with the old token? Or do you not need to process, just verify the token carried by this request?

For example, the token expiration time I set is 7 days. When the user logs in repeatedly, n tokens will be generated.

In this way, the old token has not expired yet. When the user uses the old token to make a request by illegal means, won't th

[2021-01-06 02:09] Ocramius commented on #622
The old tokens are all valid until the 7 days are past: this is part of the design of JWT tokens (general concept) in first place. If you don't want this, then JWT tokens are not the solution that you are looking for.

[2021-01-06 02:15] hujinchen commented on #622
@Ocramius 好的，了解。 谢谢哈！

[2021-01-06 02:16] hujinchen commented on #622
@Ocramius OK, I understand. Thank you!

[2021-01-06 09:58] timmipetit opened #625 "Output of 'getToken' changed when upgrading to 4.0.0"
We recently tried upgrading to 4.0.0, but found that the output of 'getToken' seems to be different. Currently we are using 3.4.2, with our code already prepared for the 4.0.0 release.

Our code looks something like this:
[code]

We expected the output for this code to be the same for version 3.4.2 and 4.0.0, is this correct? The difference in the output seems to be triggered by the `withClaim` an

[2021-01-06 11:04] lcobucci commented on #625
The change is related to the date claims, v4 exposes microseconds if your DateTimeImmutable objects have microseconds.

That's expected.

Please check https://github.com/lcobucci/jwt/discussions/623 for possible solutions.

[2021-01-06 11:05] lcobucci commented on #625
I'll close it here, please comment on the discussion thread if you need further help/info.

[2021-01-06 11:05] #625 closed, assigned to lcobucci

[2021-01-06 13:23] timmipetit commented on #625
Digging in a bit further, I suspect that this is a different issue and not related to the date claims. The difference seems to occur because of the lack of escaping of the slashes in the urls in V4.

The output of the claims in 3.4.2 looks something like this (before encoding):
[code]

While the output in v4 is:
[code]

[2021-01-06 14:43] Ocramius commented on #625
The v4 output is valid: uses `JSON_UNESCAPED_SLASHES`:

https://github.com/lcobucci/jwt/commit/90386f7d18f7cc6c7ab75e0362362370f5a9ff93#diff-b6fe6a80fe44d045d8d0e01f0556b8fd3ce2c89cfaf5df0dbf9c206bcb02c94eR35
https://github.com/lcobucci/jwt/blob/54c82fdbf457051750ac6f4653241e2e57d57f8c/src/Encoding/JoseEncoder.php#L32

In `3.4.2`, encoding had no flags:

https://github.com/lcobucci/jwt/blob/17cb82

[2021-01-06 14:48] lcobucci commented on #625
@timmipetit I see, that has been done to reduce the token length. As @Ocramius said this is also valid JSON and shouldn't cause issues.

[2021-01-06 15:59] timmipetit commented on #625
Interesting. As you might suspect, this is giving us issues indeed. We're getting `invalid_grant` errors back from Google with v4. I guess we'll need a custom encoder for that. Thanks for the swift response :)

[2021-01-06 16:47] lcobucci commented on #625
@timmipetit wow, that's quite weird. Is it possible that you've configure the audience/scope with the slashes escaped? I find it hard to believe that Google has issues decoding JSON objects...

We could, perhaps, make the JSON flags configurable on the constructor. That would only be added to v4.1, though, but might make things simpler on your side... Would you like to send us PR?

[2021-01-06 16:49] lcobucci commented on #625
btw, the headers `typ` and `alg` are defined automatically by library. `alg` is based on what you sent as a signer and `typ` is **always** `JWT`.

[2021-01-07 09:17] timmipetit commented on #625
Really weird indeed. We don't add any escaping to the slashes, this is our literal code:
[code]

I'll investigate a bit more. We're in no rush to update to V4.

Also, thanks for the heads up on the `typ` and `alg` headers

[2021-01-07 20:18] chococrypto opened #626 "It was not possible to parse your key, reason: error:0906D06C:PEM routines:PEM_read_bio:no start line"
hello I have a error with this package when I use passport. The error occurs when I launch my tests on gitlab.
I don't know why the format of my keys are not correct, I created them on [this website](https://travistidwell.com/jsencrypt/demo/ ) with a size of 2048 bits.

here is my configuration of Laravel in composer.json
- `"php": "^7.3",`
- `"laravel/framework": "^8.0",`
- `"laravel/passport": "

[2021-01-07 21:00] lcobucci commented on #626
This seems to be an issue with how you're using docker on your pipeline. You could share the rest of the job so we can say that with 100% sure.

The hint is in `docker run`. That executes a command in an isolated container using the given image. This means that you're writing to a file in that container and simply not doing anything with it.

If you are using another `docker run` to execute your t

[2021-01-08 07:40] chococrypto commented on #626
here is the script I run in test
[code]

oooh ok I just understand why it doesn't work. I'm going to try this:

[code]

Do you think this is the right way to do it?

[2021-01-08 08:11] lcobucci commented on #626
Okay, so that confirms my thoughts.
I'd suggest you to dive a bit more and understand how docker (and `docker run`) works but if your app expects files, doing something like this should make things clearer:

[code]

That script can be drastically simplified by using a side-car container and your test image as the base image of your job. Check https://docs.gitlab.com/ee/ci/docker/using_docker_image

[2021-01-08 08:11] #626 closed, assigned to lcobucci

[2021-01-08 17:17] chococrypto commented on #626
I tried your solution and you forgot about `/` in  `-v oauth-private.key:storage/oauth-private.key`

here are my cmd:

[code]

However, the proposed solution does not work because the keys RSA are added in the project root and not in the `storage/` folder.

<img width="309" alt="Capture d’écran 2021-01-08 à 18 16 48" src="https://user-images.githubusercontent.com/27860198/104044489-adc62b80-51dd-1

[2021-01-08 18:04] lcobucci commented on #626
I didn't forget, I used a relative path but check your workdir to use the absolute one.

But again this is all about Docker and gitlab CI, I'd (again) suggest you reading about the concepts and/or asking help to people behind those tools.

We just pointed out what was happened on the library's perspective (key isn't set in the container).

[2021-01-08 18:05] lcobucci commented on #626
Bear in mind you can also try the docker commands locally.

[2021-01-10 19:05] meSmashsta opened #627 "JWT version 4.0.0: How to validate if token is expired"
I am using version 4.0.0

[code]
Even if I create an expired token by setting the expires at as today

I also noticed in the docu that there are two constraint classes that checks the  iat, nbf, and exp:

[code]

But only ValidAt.php is the only available class that deals with iat, nbf, and exp in the package directory:
![image](https://user-images.githubusercontent.com/12151336/104132673-d571eb00

[2021-01-10 23:09] DuckHunter213 commented on #627
[code]
maybe you can use the claim for validate the token, i think when you uses valid, is if the token general is valid

this is my solution to get the expiration of the token
[code]

I hope to help you ;3

[2021-01-11 03:11] meSmashsta commented on #627
Thank you for the reply, I'll try this. So at the moment there are no constraint that does this for us? :o Is it possible I make one and make a PR for this? :o

[2021-01-11 05:06] meSmashsta commented on #627
The `getClaim/1` method wasn't found, we probably have different versions. Anyway this is how I did it:

[code]

[code]

[2021-01-11 10:37] lcobucci commented on #627
@meSmashsta your initial code is correct but if you're issuing and verifying in one go (like in your script), ~there a chance that `$now` and the time yielded by the clock will point to the same second, which will consider the token as valid.~ after looking it again, it seems you're having issues due to using different timezones.

Try this:

[code]

You may have read the docs for the next release

[2021-01-11 10:46] lcobucci commented on #627
That confirms my theory of different timezones, here you're using your default timezone (which is probably not set to `UTC`).

If you DO want to rely on your default timezone to handle your tokens, create the clock instance using `SystemClock::fromSystemTimezone()` instead of `SystemClock::fromUTC()`

[2021-01-11 10:56] lcobucci commented on #627
I'm intrigued, though. AFAIK PHP handled different timezone comparison transparently for users...

[2021-01-11 11:13] lcobucci commented on #627
Okay, it's indeed handled transparently. Your code behaves properly on my development environment (exception is thrown on the assertion), with some minor syntax fixes.

I just cannot reproduce what you're reporting here and would really recommend you not to have the `isValid()` method/function.

[2021-01-11 11:34] sakarikl opened #628 "nbf and other claims using MicrosecondBasedDateConversion results in string in JWT token"
If MicrosecondBasedDateConversion convertDate gets input parameter with microseconds returned result is string in format "123456789.12345"

RFC in this case is quite hard to read as it seems that you can read in way that only numbers are allowed or practically any format, depending how you interpret the wording.

Many (most) js jwt handling libraries reject this as it is not numeric type in js but

[2021-01-11 11:43] sakarikl commented on #628
`NumericDate`

`      A JSON numeric value representing the number of seconds from
      1970-01-01T00:00:00Z UTC until the specified UTC date/time,
      ignoring leap seconds.  This is equivalent to the IEEE Std 1003.1,
      2013 Edition [POSIX.1] definition "Seconds Since the Epoch", in
      which each day is accounted for by exactly 86400 seconds, other
      than that non-integer values can

[2021-01-11 13:32] Ocramius commented on #628
Dupe of https://github.com/lcobucci/jwt/issues/604#issuecomment-741915901 ?

[2021-01-11 14:13] lcobucci commented on #628
And https://github.com/lcobucci/jwt/discussions/623

[2021-01-11 14:13] #628 closed, assigned to lcobucci

[2021-01-12 12:21] meSmashsta commented on #627
For brevity I put the generating of access token and its validation in one place but in reality they are both in separate functions.

The `$now` datetime is used only for generating the access token for the user.

On the part that I verify if the token's ISS and AUD is valid and that the EXP that the token is not expired.

Thanks for pointing out the parsing part, I explode it because I saw in the

[2021-01-13 15:01] SvenRtbg opened #629 "JWT 4.0.0: Unable to set an array as "aud" claim"
I am in the process of migrating from 3.3 via 3.4 (used right now) to 4.0.

I stumbled upon this situation: I have test cases for an OpenID-Connect library that set an array as audience claim. If I call `withClaim('aud', ['one', 'two']` I get a deprecation message. So I change the call to `permittedFor(['one','two'])` and get "Array to string conversion".

Based on the JWT RFC https://tools.ietf.o

[2021-01-13 15:02] SvenRtbg commented on #629
My test method for this scenario:

    public function testSettingAudClaimArray(): void
    {
        $builder = new Builder();
        $builder->permittedFor('someone');
        $builder->permittedFor('someone2');
        $token = $builder->getToken(new None(), InMemory::plainText(''));
        $json = $token->toString();

        $parser = new Parser();
        $newToken = $parser->parse($json);

[2021-01-13 16:23] vudaltsov commented on #622
I think the question is: how to create a new token with same claims but with a new expiration date. In other words how to create a new prolonged token.

[2021-01-13 19:00] lcobucci commented on #622
Then the answer would be: not a concern for this library 😄

It shouldn't be only the expiration date that would be "refreshed", the library would also have to update the issue date and the not before date.

Folks can create a new builder and populate it with the new values as they want, especially because the definition on how to perform such task isn't something abstract or standardised.

What we

[2021-01-13 19:03] lcobucci commented on #629
@SvenRtbg as you can see on the interface, the method is variadic https://github.com/lcobucci/jwt/blob/4.0.0/src/Builder.php#L20, so you can pass multiple audiences at once.

Alternatively, you can call the method more than once, as shown in your sample test scenario and covered by this test on our suite: https://github.com/lcobucci/jwt/blob/4.0.0/test/unit/Token/BuilderTest.php#L95-L118

With tha

[2021-01-13 19:15] SvenRtbg commented on #629
As I am moving forward right now, I'd think it is more like a documentation issue regarding the upgrade document. I understand now that looking at the latest 3.4.2 code does not really reveal how 4.0.0 looks like.

I ignored my failing tests for a moment, tried to fix all the deprecation notices, and upgraded to 4.0.0.

Let me check how things work out right now. I'm happy to give you feedback abo

[2021-01-13 20:23] lcobucci commented on #629
I see, that's good to know - at least the code is doing what it was supposed to do 🤣

I'd love to know more your upgrading experience so that we can improve the docs accordingly. If you already have some thoughts, please send us a PR.

Honestly, I'm reaaaaally terrible at documenting stuff!

[2021-01-13 21:08] SvenRtbg commented on #629
The one thing I can see so far is that there is the gap regarding the "aud" claim transformation functionality in 3.4.2. You cannot set an array of audiences right now, and when reading the claims back, I am sure they will get "normalized" into an array with only one entry (the first one of the original claim). This will break existing code.

And there is basically nothing about this wrapping/unwr

[2021-01-14 22:02] khorsky opened #631 "DateTime related constraints require (unnecessary) Clock interface"
Is there any good explanation why do all DateTime related constraints require proprietary `Lcobucci\Clock\Clock` interface instead of simple `DateTimeImmutable`?

I've checked the code and it seems a bit exaggerated to me - it makes the usage more complicated. IMHO one has usually some implementation of `MyFavorite\Clock` interface. This way I need to write my own Constraint or use your implementa

[2021-01-14 22:03] Ocramius commented on #631
A clock allows time manipulation in complex test scenarios, as well as runtime time emulation.

[2021-01-14 22:03] #631 closed, assigned to Ocramius

[2021-01-14 22:11] Ocramius commented on #631
BTW, simple clock:

[code]

[2021-01-14 22:45] khorsky commented on #631
I get the idea.

Thanks for clarification Marco.

[2021-01-20 10:40] anikeevda opened #633 "v3.4.2 Possible incorrect implementation of 4.1.4 from RFC 7519"
According to RFC, ```The  processing of the "exp" claim requires that the current date/time  MUST be before the expiration date/time listed in the "exp" claim.```. So ```current_time < exp``` translates into valid token and ```current_time >= exp``` into invalid token . In `Factory` constructor `exp` validation made with `'exp' => [$this, 'createGreaterOrEqualsTo']` which seems to be correct while

[2021-01-21 07:50] vitovtnet commented on #633
Agree with @anikeevda  -  we have a lot of problems with these validations.

[2021-01-24 18:00] abdosaeedelhassan opened #638 "Error: Internal Server Error"
Hi, i worked in laravel 8, it worked for me in dev environment, but in production server i received next error:

[2021-01-24 20:54:00] local.ERROR: syntax error, unexpected 'Parser' (T_STRING), expecting function (T_FUNCTION) or const (T_CONST) {"userId":4,"exception":"[object] (ParseError(code: 0): syntax error, unexpected 'Parser' (T_STRING), expecting function (T_FUNCTION) or const (T_CONST) at

[2021-01-24 20:01] lcobucci commented on #638
You installed the latest version (v4), which requires php 7.4. If you aren't able to upgrade your php version on the production environment then you must use the version v3.4.

My advise is to have the dev system always use the same config as production, so you can avoid these issues.

If you aren't able to do that, then you can force composer to run as if it was running on an older php version (c

[2021-01-24 20:01] #638 closed, assigned to lcobucci

[2021-01-24 20:59] abdosaeedelhassan commented on #638
it worked for me, thank you

[2021-01-27 23:44] lcobucci commented on #629
Closing this then :+1:

[2021-01-27 23:44] #629 closed, assigned to lcobucci

[2021-01-27 23:45] lcobucci commented on #627
@meSmashsta I'll close this one. Please let us know if you've found any issue here.

[2021-01-27 23:45] #627 closed, assigned to nobody

[2021-01-27 23:54] lcobucci commented on #633
Released in https://github.com/lcobucci/jwt/releases/tag/3.4.3 :+1:

[2021-01-27 23:54] #633 closed, assigned to lcobucci

[2021-02-03 04:30] meSmashsta commented on #627
Hi just to give some updates, I upgraded to the latest version which is 4.1 and used `LooseValidAt` for the expiration validation. I also continued using `SystemClock::fromUTC()` since I wanted it to be time zone less if that makes sense. Code looks something like this:

[code]

[code]

[2021-02-07 07:37] MuhammedAlmaz opened #658 "Call to undefined method Lcobucci\JWT\Token\Plain::verify()"
I can't verify the token is it deprecated ? How can i verify Plain ?

            $config = JWTHelper::getConfig();
            $parsedToken = $config->parser()->parse($token);
            $signerValid=$parsedToken->verify($config->signer(),$config->signingKey());
            if($signerValid){
                die("ok");
            }else{
                die("no");
            }

[2021-02-07 07:46] #658 closed, assigned to nobody

[2021-02-07 08:04] MuhammedAlmaz opened #659 "Constraints SignedWith doesn't work."
I want to use SignedWith on validate method but it's doesn't work when i change one key of signature.

[code]

I get this token from this key

`eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiIsInRva2VuVHlwZSI6Ik9SS18zM3wyIiwiZ2VuZXJhdGVkQnkiOiJNdWhhbW1lZCNBTE1BWiJ9.eyJpc3MiOiJodHRwczovL3RlbWt1cnllLmNvbSIsImF1ZCI6Imh0dHBzOi8vdGVta3VyeWUuY29tIiwiaWF0IjoiMTYxMjY4NDQzMS41NzcxMTgiLCJqdGkiOiJNdWhhbW1lZEFsbWF6LjJmNjg

[2021-02-07 10:44] lcobucci commented on #659
I'm not sure if I follow here... You want to manually manipulate the signature and expect the validation to still work? If so, why?

On the technical details why this might work in different libs but doesn't work here, it has to do with the fact we use a stricter implementation of base64url decoding. That will probably generate a different binary hash, which fails when comparing the hash of the pa

[2021-02-07 12:04] MuhammedAlmaz commented on #659
Just i want to sure about the signedWith contstraint work properly. But i guess it doesn't work fine. Cuz i can manipule the JWT like that. its just a example. In the JWT.IO website its doesn't work but in this library it's working. So i can't trust this library :(

[2021-02-07 12:59] lcobucci commented on #659
@MuhammedAlmaz I really can't reproduce what you're describing here:

[code]

The output is (on both PHP 7.4 and PHP 8.0):

[code]

Can you try to reduce your code - in the same way I did - so we can pinpoint the cause?

[2021-02-07 13:55] MuhammedAlmaz commented on #659
I got my error lets see.. I Run your code and it's ok.
The problem was setValidationConstraints. I mean its setting the by one by. but i must put the multiple constraints (array) on this method. And then in my code just IdentifiedBy worked.

It's ok i found the mistake thanks !!

[2021-02-07 13:55] #659 closed, assigned to nobody

[2021-02-08 13:50] drupol commented on #32
Dear @lcobucci,

What's the status of this?

Thanks!

[2021-02-10 08:33] Slamdunk opened #663 "Misuse resistant API"
Hi, one thing I like very much about [PASETO](https://paseto.io/) is it's impossible to use it in insecure ways.
I'm not talking about JWT RFC flaws, but rather about API that we can and should implement to force a safe usage.

Here are two examples of `lcobucci/jwt:v4` misuse:

[code]

For `v5` I propose these main BC-breaks:

1. API **MUST** require and consume a `SignedWith` validator in order

[2021-02-10 08:52] lcobucci commented on #663
I see where you are coming from but I really don't want to couple parsing to validation on the low level API.

We can create a high level API that handles both processes (there's already an issue about that), which won't be a BC-break.

What do you think?

[2021-02-10 09:01] Slamdunk commented on #663
I'd like to hear what are the experiences and reasoning that push you think like that.

I think the exact opposite.

Let's have a few examples on other topics:

1. Imagine a VPN that first lets you connect to the bank intranet, and only then validates your certificate
2. Imagine a ATM that first lets you withdraw your money, and only then verifies your PIN
3. Imagine a police officer that first br

[2021-02-10 11:20] lcobucci commented on #663
My opinion is that JWTs don't always have to be validated on the **application level.**

I've implemented some solutions where the validation was handled in a different layer (load balancer) exactly to offload costly tasks (like signature verification) - so, yes the validation was always performed before the usage of the token.

I want to provide flexibility for users to decide in which level they

[2021-02-10 11:22] lcobucci commented on #663
I do understand that people may misuse the tool because of all the knobs and levers. However, that's a trade-off I'm willing to accept  and try to mitigate with putting efforts in proving information instead of making all the decisions by people.

[2021-02-10 11:26] SvenRtbg commented on #663
I'm wondering how your point 3 should happen:

    API MUST allow headers part to be read and consumed before the parse call

I'd say without parsing you only get base64 gibberish.

Also the problem with validation is that a JWT might expire, but you can still want to have access to the claims that were once valid, and probably still are. Allowing to pass an arbitrary timestamp into the validation

[2021-02-10 11:38] Slamdunk commented on #663
To both, there is no obstacle in this proposal to the real world example you provided:

[code]

End user will always have enough flexibility to shoot himself in the feet, but the difference is substantial to me: here the code is crystal clear that the developer knows he's doing something nasty.

I consider myself not a newbie in coding field, and still I've done both the validation misuse I exampl

[2021-02-10 11:58] sina-developer opened #664 "Call to undefined function sodium_bin2base64()"
i'm using laravel passport which uses this package

i can use this lib on local but on shared host it couse an error:

Call to undefined function sodium_bin2base64()

[2021-02-10 12:00] Slamdunk commented on #664
I guess you are uploading a build of your code in the shared host, with SCP/SFTP or something, otherwise composer would have warned you that without `ext-sodium` you cannot install this lib anymore.

`ext-sodium` is required since `v4.1`

[2021-02-10 12:11] sina-developer commented on #664
Yeah

i'm using shared host with FTP

what do you suggest to solve this problem?

[2021-02-10 12:15] Slamdunk commented on #664
`sodium_bin2base64` is used to issue the tokens and cannot be avoided: you should configure the hosting to have `ext-sodium` enabled

[2021-02-10 12:16] sina-developer commented on #664
OK

thank you for your response

[2021-02-10 12:18] #664 closed, assigned to Slamdunk

[2021-02-10 13:02] lcobucci commented on #663
That's exactly where the assumption goes wrong, though. There's nothing nasty (IMHO) in getting an instance of a token without validating.

You're assuming that the ONLY use case of a JWT is to authorise something but a JWT is just a token.
It can have any purpose, according to the wishes of the users. e.g.: you may pass a JWT to a background worker to identify (not authorise) a resource owner and

[2021-02-10 13:56] Slamdunk commented on #663
Here I'm not considering the purpose of the token.
The crucial point is that you should not consume `claims` that you didn't already validated with corresponding signature.

I think there are only 3 legit use cases:

1. A service carries the token between two services: it doesn't need to parse it
2. A service consumes the token: it MUST validate it in order to consume the `claims` as [RFC7797#sect

[2021-02-10 17:16] lcobucci commented on #663
I think you might be adding meaning to the RFC that isn't stated there.

Let's analyse the full 7.2 section:

The validation that RFC covers is about structure and not content (apart from JWS/JWE/nested tokens distinction). There's **nothing** stating about claims validation because (IMHO) that's up for application.

The 5.3 section is about header replication, using encrypted tokens as use case,

[2021-02-10 19:36] Slamdunk commented on #663
I'm sorry if I've not made myself clear enough.
It's easy to mess concepts around when they overlap, like the "validity" one.

As written in the topic, here I propose to make mandatory only these two:

1. Signature validity, to ensure integrity, authenticity and, for asymmetric keys, non-repudiation
2. Time validity, to avoid reply attacks (I know time claims are not mandatory by RFC, hence our `L

[2021-02-10 19:48] Ocramius commented on #663
May I suggest (future iteration):

[code]

`ValidatedToken` needs to be past tense, because validation happened at a certain point in time, and the token may not be valid after that. Perhaps it can expose the time of validation: also note that `Validator` is **not** pure, since it uses contextual data.

Anyway, just my 2 cents about possible future iterations: having an API consume a `ValidatedTok

[2021-02-10 21:59] lcobucci commented on #663
My interpretation here is completely different. We replicate claims on headers simply because when handling nested/encrypted tokens we have access to the headers but not to the claims. Is a faster way to reject something without having to decrypt the payload. But I might be wrong, who knows? :smile:

Shall we leave those examples and RFC references aside? I think they're being more noise than anyt

[2021-02-11 07:44] Slamdunk commented on #663
I think you are merging together two very distinctive things: *insecurity by purpose* & *insecurity by accident*.

Of course we will never be able to deny user *insecurity by purpose*, and we shouldn't care at all.
The sole target here is to avoid *insecurity by accident*, which has nothing to do with security by obfuscation.

Imagine to create a new tool and the team brainstorming goes as: "Hey g

[2021-02-11 08:57] lcobucci commented on #663
So let's follow that path, then?

We don't need to break BC for that, though. By providing another parser implementation that receives information on the constructor we can solve that and allow users to opt-in in v4 and make it as default in v5 if our users agree:

[code]

Is this a reasonable way to move forward?

[2021-02-11 09:06] Slamdunk commented on #663
Sure: in the last 24 hours I've only conceived theory validity of my proposal; we can indeed implement everything in v4, see if it's good, then deprecate the old API in v4 to drop it in v5 without rush.

For the exact details, I need more time to craft them in my mind as I'm busy right now.

[2021-02-11 09:20] lcobucci commented on #663
Your arguments are good but I'm not convinced that a library should address something that I believe to be the responsibility of the users. However, I'm more than happy to be proven wrong with data and adoption instead of extend the argumentation. You have a solid hypothesis, let's confirm it!

It's alright! There's no rush 👍

[2021-02-11 13:55] neguradionisie opened #665 "Call to undefined function sodium_bin2base64"
After last update 4.1.0 i got error  *Call to undefined function sodium_bin2base64() {"exception":"[object] (Error(code: 0): Call to undefined function sodium_bin2base64() at vendor/lcobucci/jwt/src/Encoding/JoseEncoder.php:50)* my php version is 7.4.13  and sodium version 1.0.13. If i change sodium version to 1.0.18 everything is fine.

[2021-02-11 23:17] fyrye opened #666 "[3.4.*] composer aliases missing when classmap-authoritative is applied"
**Affected version:** 3.4
**PHP Version:** 7.3.22

Encountered the issue in https://github.com/scheb/2fa/issues/57.

It appears the `lcobucci/jwt/compat/class-aliases.php` is not properly configured to support the `classmap-authoritative`, expecting `class_exists()` to call the autoloader which is not run when `classmap-authoritative` is applied.

Thoughts on changing `class-aliases.php` to?:

[co

[2021-02-12 06:12] Slamdunk commented on #665
`sodium_bin2base64` was in fact first introduced in `1.0.14`: https://github.com/jedisct1/libsodium/commit/3f272cbbfcd6b29e511386e87c60e6a425354aa6
And first introduced in `libsodium-php` in `2.0.6`: https://github.com/jedisct1/libsodium-php/commit/0e4c82112f0d34b57f0317ae65221f39698f7431

I'll see if we can require a minimum version for `ext-sodium`

[2021-02-12 07:55] Slamdunk commented on #665
As I feared, even though `ext-sodium` version is known to PHP:

[code]

There is no standardization around extension versioning, so composer is unaware of it.
As a result, unfortunately we cannot require the correct version into `composer.json`.

We could leverage `SODIUM_LIBRARY_VERSION` constant, but I don't like dynamic checks for extensions.
It's worth a doc update though.

WDYT @lcobucci ?

[2021-02-12 08:05] SvenRtbg commented on #665
Detect with function_exists() and either have an alternative implementation or send a descriptive error message.

In theory you could require extension versions in Composer. In practice they act as hidden PHP version requirements, and users are usually unable to update extensions, either because they lack the permissions or their distribution does not have them.

[2021-02-12 08:40] rbrouwer opened #669 "Implement Magic Method __toString."
Would it be possible to implement the magic method [__toString](https://www.php.net/manual/en/language.oop5.magic.php#object.tostring) in at least Lcobucci\JWT\Token\Plain?

[2021-02-12 08:43] Slamdunk commented on #669
May I ask you what could you to with `__toString()` that you can't do with the current `toString`?
Magic is the path to brittleness, imho

[2021-02-12 08:48] lcobucci commented on #665
I'd add back the old implementation as a new class (legacy encoder?) and put the logic to pick the new or the legacy (or the user provided one) on the config class.

Then we keep the weird stuff in the service locator.

@Slamdunk how does that sound?

[2021-02-12 08:53] lcobucci commented on #669
We removed the magic method on purpose from v4 and don't have plans for adding it back.

The implicit call created confusion among our users and that's something we want to avoid as much as possible.

[2021-02-12 10:42] rbrouwer commented on #669
It might ease some migration to 4. In v3 you had to cast to a specifically cast tokens to a string, you now have to call toString(). Why not support both?

I honestly do believe a adding a simple
[code]
wouldn't hurt this solution, yet make it easier for people to do migrations from 3 to 4.

[2021-02-12 10:50] Ocramius commented on #669
Better explanation at https://github.com/ShittySoft/symfony-live-berlin-2018-doctrine-tutorial/pull/3#issuecomment-460441229

Closing here.

[2021-02-12 10:50] #669 closed, assigned to Ocramius

[2021-02-12 10:54] Slamdunk commented on #669
I was looking for that very post. I really need a web search for every of your post with a like.

[2021-02-12 11:57] lcobucci commented on #669
@rbrouwer that's why v3.4.x still has it. We mention that on our migration guide: https://lcobucci-jwt.readthedocs.io/en/4.1.x/upgrading/#v3x-to-v4x

[2021-02-12 12:08] Ocramius commented on #669
I use my firefox search bar, plus I'm too damn lazy to write a blogpost.

[2021-02-16 05:37] susheelk985 commented on #665
Error: Call to undefined function sodium_bin2base64() in file vendor/lcobucci/jwt/src/Encoding/JoseEncoder.php on line 50

How to solve this issue?

[2021-02-16 05:55] Slamdunk commented on #665
Either upgrade `libsodium` or wait for https://github.com/lcobucci/jwt/pull/670 fix to be released

[2021-02-16 09:44] lcobucci commented on #666
Resolved by #667

[2021-02-16 09:44] #666 closed, assigned to lcobucci

[2021-02-16 10:11] lcobucci commented on #665
Released!

[2021-02-16 10:11] #665 closed, assigned to Slamdunk

[2021-02-17 08:54] mtangoo commented on #604
Just faced same issue and bumped this thread. Adding this as a topic to documentation will be great. The current linked documentation example is not commented which requires one inspect involved classes to understand them.
Thank you for such a nice library!

[2021-02-17 17:02] cyrilbosson opened #681 "Error while decoding from JSON"
Hello,

I had [this issue](https://github.com/lcobucci/jwt/issues/665) on my hosting server so I upgraded to 4.1.1 but now I have this error:

`Error while decoding from JSON`

**Stacktrace**
`/home/clients/9ec8ad5583918ce55944b1cc6bdd9057/web/releases/95/vendor/lcobucci/jwt/src/Encoding/JoseEncoder.php:41
/home/clients/9ec8ad5583918ce55944b1cc6bdd9057/web/releases/95/vendor/lcobucci/jwt/src/Token

[2021-02-17 17:05] Ocramius commented on #681
That usually happens when your input string is not JSON:

https://github.com/lcobucci/jwt/blob/f7c9bb18699ff328e988b12cb6c504ca0ffaa1d0/src/Encoding/JoseEncoder.php#L25-L43

The library is correctly throwing an exception here.

[2021-02-17 17:05] #681 closed, assigned to Ocramius

[2021-02-17 17:11] cyrilbosson commented on #681
Ok but my JSON didn't change 🤨
I switched to 3.4.5 and I works now

[2021-02-17 17:15] Ocramius commented on #681
@cyrilbosson can the string you are trying to encode (with 3.x) be posted here (as in no NDA'd secrets)? Can you perhaps provide a full JWT token string? Can you try looking at it on https://jwt.io/ ?

Also, I wonder if some of the fields you are trying to encode contain non-utf8 characters (which leads to `null` output for fields, but would throw when using `JSON_THROW_ON_ERROR`)

[2021-02-17 17:35] cyrilbosson commented on #681
The JSON response :

{
"data": {
"user": {
"id": 59,
"name": "TEST",
"firstname": "Cyril",
"email": "test@example.com",
"locale": "fr",
"avatar": "https://www.example.com/images/default.gif"
},
"patient": {
"id": 66,
"name": "TEST",
"birthname": "",
"firstname": "Cyril",
"gender": "m",
"birthdate": "2020-10-25",
"nir": "145121212312308",
"email": "test@example.com",
"phone": "123456789",
"referrin

[2021-02-17 20:51] lcobucci commented on #681
@cyrilbosson I cannot reproduce your issue using the latest version of the lib and the token in the `access_token` property you sent:

[code]

Can you provide more information or check if your application is sending the JWT properly to the parser?

[2021-02-22 04:47] trancongminh132 opened #687 "Getting Unauthenticated when update to lcobucci/jwt 4.1"
Hello, currently, I upgraded to Laravel 8, Passport 10.
When I try to call oauth/token, it return bearer_token ok,
But when I use that bearer token that to call some api, it always return
"Unauthenticated"
Could someone help me?
Thank you!

Surprisingly when I was using it locally it worked fine, but when doing it through the server it didn't work smoothly. Have you experienced the same thing as m

[2021-02-22 08:07] lcobucci commented on #687
@trancongminh132 that's rather strange. However, I have very little knowledge on what can be the cause of that for I'm no Laravel user.

If things work locally and don't work remotely, it might be worth checking if the configuration is similar and/or reading the generated logs (if there's anything useful there).

The changes in 4.1.x should not break applications so I'm quite interested in knowing

[2021-02-23 09:02] Xieyongmin opened #691 "parseing claim exp not correct"
example jwt:
eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE2MTQwNjcyNDEsIm5iZiI6MTYxNDA2NzI0MSwiZXhwIjoxNjE0MDcwODQxLCJkYXRhIjoiYTozOntzOjQ6XCJ1dWlkXCI7czozMjpcImVmMmM0ZjBiOGNiNDQzNzk4ZTJmZTIzNWViMjgyMzc3XCI7czo3OlwidW5pb25pZFwiO3M6Mjg6XCJvcEJvbXc2WGEzdkRVY2xZOWhMVWNfT2llekgwXCI7czoxNDpcIm9mZmljaWFsT3BlbklkXCI7czoxOlwiMVwiO30ifQ.JqoOq0a6_fXkYMT7xaGP36ZPTnCTgybRey3DnJmCc-o

version: 3.4.5

File s

[2021-02-23 09:10] Ocramius commented on #691
In your token (from the above post):

[code]

That is indeed correct when represented as `2021-02-23 09:00:41.000000+00:00`.

Converting the `DateTimeImmutable` to your local timezone is up to your app.

[2021-02-23 09:10] #691 closed, assigned to Ocramius

[2021-02-24 13:55] alvarengacarlos opened #692 "claims invalid after debugging at <https://jwt.io/>"
Hello . After making use of its classes and obtaining a token, I debug <https://jwt.io/> and the following registered claims are considered invalid: **"iat", "nbf", "exp".**

The obtained token is as follows:
eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwODAiLCJqdGkiOiIxIiwiaWF0IjoiMTYxNDE3NDY0OC43OTkzMTAiLCJuYmYiOiIxNjE0MTc0NzA4Ljc5OTMxMCIsImV4cCI6IjE2MTQxNzQ3NjguNzk5Mz

[2021-02-24 14:01] Slamdunk commented on #692
Duplicate of https://github.com/lcobucci/jwt/pull/618

Also take a look at https://github.com/lcobucci/jwt/discussions/623

[2021-02-24 14:01] #692 closed, assigned to nobody

[2021-02-24 15:56] stefanplk3 opened #693 "expiresAt() sets a floating point value"
$token = $config->builder()
            ->issuedBy('xy') // iss
            ->permittedFor('xy') // aud
            ->relatedTo('xy') // sub
            ->withClaim('room', '*')
            ->expiresAt($now)
            ->withHeader('kid', 'xy')
            ->getToken($config->signer(), $config->signingKey());
$token->toString() now has a floating point value in the "exp" field:

eyJ0eXAiOiJKV1QiL

[2021-02-24 16:04] lcobucci commented on #693
Duplicate of https://github.com/lcobucci/jwt/pull/618

Also take a look at https://github.com/lcobucci/jwt/discussions/623

[2021-02-24 16:04] #693 closed, assigned to lcobucci

[2021-02-25 13:02] lcobucci commented on #687
No response from the OP... closing here, we can reopen when necessary.

[2021-02-25 13:02] #687 closed, assigned to lcobucci

[2021-02-28 04:06] Yurunsoft opened #695 "Can version v3.4.x support PHP8?"

[2021-02-28 06:52] lcobucci commented on #695
@Yurunsoft no, v3.x is closed for security only fixes. v4 is the way forward.

There were similar issues where I elaborate more but, in a nutshell, the v3.x API already supports 2 major PHP versions and doesn't support things we value on a library.

I'd, therefore, recommend you to migrate your code to v4. Alternatively, feel free to fork the repository and apply the necessary changes.

[2021-02-28 06:52] #695 closed, assigned to lcobucci

[2021-03-02 12:03] WaseemRakab opened #697 "issue with creating custom token on PHP 8.0 when using Firebase admin SDK"
when trying to create custom token i get the following error when running in php 8.
[code]
i looked into the source code, went over to ```vendor/lcobucci/jwt/src/Signer/OpenSSL.php``` file
at method "validateKey($key)"

the key parameter now is of type OpenSSLAsymmetricKey object (in php 9 and above).
the code below needs to be changed.
if you look into this link
https://www.php.net/manual/en/func

[2021-03-02 12:34] lcobucci commented on #697
@WaseemRakab it looks like you're using v3.x series on an incompatible platform - perhaps you didn't install it via composer as our documentation says?

v3.x **won't support** PHP 8.0 -  and it's closed for security patches only. Upgrade to v4 to have PHP 8 support 👍

[2021-03-02 12:35] #697 closed, assigned to lcobucci

[2021-03-02 17:45] ergomesh opened #698 "3.4.x composer.json says ^7.0 but JsonException is a 7.3 feature"
[JsonException](https://www.php.net/manual/en/class.jsonexception.php) is only since 7.3 so your composer.json is wrong and the library out the box only supports 7.3 and above Probably won't support 5.6 either but not tested.

https://github.com/lcobucci/jwt/blob/3.4.x/composer.json#L20

Several other spots but here is reference to JsonException

https://github.com/lcobucci/jwt/blob/3.4.x/src/Pars

[2021-03-02 17:47] Ocramius commented on #698
https://github.com/lcobucci/jwt/blob/511629a54465e89a31d3d7e4cf0935feab8b14c1/compat/json-exception-polyfill.php#L3-L4

[2021-03-02 17:47] #698 closed, assigned to Ocramius

[2021-03-07 17:17] eugene-borovov opened #701 "SodiumBase64Polyfill and libsodium differance"
The polyfill and the library handle incorrectly encoded base64url differently. I tested on docker `php:7.4-cli-alpine`

Test code:
[code]

Test results:

`$data = 'a'`
[code]

`$data = 'ab'`
[code]

`$data = 'abc'`
[code]

`$data = 'abcd'`
[code]

`$data = 'abcde'`
[code]

`$data = 'abcdef'`
[code]

I encountered this behavior in the [thephpleague/oauth2-server](https://github.com/thephpleague/oau

[2021-03-07 18:55] lcobucci commented on #701
@eugene-borovov we were aware that libsodium is stricter and more accurate than PHP's `base64_decode`.

Reproducing libsodium's behaviour would lead to a more complicated code that probably won't give us much. So, that's a trade-off we're willing to accept - given we can't really control the version of the underlying C lib.

Therefore, I consider this a non-issue.

[2021-03-07 18:57] #701 closed, assigned to lcobucci

[2021-03-08 06:29] eugene-borovov commented on #701
Thank you for the clarification.

[2021-03-14 20:15] yassinrais opened #702 "[BUG] Datetime should be a float instead of string"
Generated by the method ->toString()

[code]
[IMAGE] decoded by official JWT website
[code]
We should expect
[code]
Instead of the previus one

[2021-03-14 20:33] yassinrais commented on #702
duplicate of #618

[2021-03-14 20:33] #702 closed, assigned to nobody

[2021-03-16 08:13] michelvermeulen opened #703 "Not possible to parse your key"
Hey there,

I keep bumping into an issue using this to create a client_id for Apple Sign In:

Here's the code:

[code]

And I get this error:

`It was not possible to parse your key, reason: error:0909006C:PEM routines:get_name:no start line
`

Any idea what I'm doing wrong? Thanks!

[2021-03-16 08:43] lcobucci commented on #703
Your key must be in the PEM format, it seems you're using a key in the p8 format.

Check https://github.com/lcobucci/jwt/issues/244

[2021-03-16 08:43] #703 closed, assigned to lcobucci

[2021-03-16 08:59] michelvermeulen commented on #244
Hey guys,

Trying this solution on my end to use an Apple generated .p8 file, but I'm stuck on this step:

`./jose.phar key:convert:public private_key.jwk > public_key.jwk
`
[code]

[2021-03-16 09:25] michelvermeulen commented on #703
Thanks @lcobucci I commented on the thread, I'm having another issue converting the key.

[2021-03-16 09:27] michelvermeulen commented on #703
It's weird though, I'm using this package with https://socialiteproviders.com/Apple/ which is supposed to handle Apple callback seamlessly, and in my case it really doesn't work :/

[2021-03-16 09:50] lcobucci commented on #244
@michelvermeulen you're using the tool in the wrong way, check https://github.com/lcobucci/jwt/issues/244#issuecomment-395447760 and https://github.com/lcobucci/jwt/issues/244#issuecomment-395661512

[2021-03-16 10:38] michelvermeulen commented on #244
I actually did, sorry if that wasn't clear.

I did exactly what @Spomky suggested:

[code]

And this last line doesn't work

[2021-03-16 11:39] lcobucci commented on #244
@michelvermeulen you forgot to read the file to get the jwk (using `cat` as per the example).

[2021-03-16 11:52] Spomky commented on #244
My mistake. The update line should row work fine

[2021-03-16 12:09] michelvermeulen commented on #244
Thank guys! The script works this way, it didn't solve my problem with Apple Sign In but at least I can now generate a client secret and send the request.

Here's the JWT I generate to init the Oauth (don't know if this is the right place to ask, sorry):

[code]

And when using `Socialite::driver('apple')->user()` on the redirect page I get a

`It was not possible to parse your key, reason: error:

[2021-03-17 13:18] KartaviK opened #704 "Invalid signing with SHA256 alg using secp521r1 curve"
Generate key with next command

[code]

With package i use sha256 to sign the payload

[code]

But interesting thing, when out signature has length 264, python package validates its successfully, when the $signer always failing it

[2021-03-17 18:37] lcobucci commented on #704
That sounds quite weird. Let's try to reproduce this in the functional test suite and take it from there.

Would you be able to send a PR?

[2021-03-18 14:19] shehi opened #705 "Why PHP 7.4 and 8.* ?!"
This package is a polyfill. So why its `composer.json` lists following PHP version requirement in https://github.com/lcobucci/jwt/blob/4.1.2/composer.json#L20:

[code]

It should specifically require only PHP <7.3. It is completely unnecessary for PHP >=7.3

[2021-03-18 14:48] SvenRtbg commented on #705
I'm confused. You are referring to the main lib composer.json, and this lib doesn't do polyfilling.

Anyways, even polyfills have to account for the fact that they may be included in situations where their work isn't required, but that does not mean you can simply exclude them by having "php < 7.3" as the requirement. This will not skip installation, but fail for everything.

[2021-03-18 15:00] lcobucci commented on #705
@shehi I think you created this in the wrong repository. Closing for now.

[2021-03-18 15:00] #705 closed, assigned to lcobucci

[2021-03-18 15:58] shehi commented on #705
Nah, I just did incomplete research. The problem is `JsonException` which should be extracted to a separate polyfill component so that we could exclude it in our projects, via composer's `replace` field.

Should I create proper ticket which recommends the code refactoring - namely, extraction of the polyfill into a separate component?

[2021-03-18 16:16] lcobucci commented on #705
No, that polyfill only exists for the old versions. Users are encouraged to use v4.x where that class doesn't exist.

[2021-03-18 16:19] lcobucci commented on #705
Just to make it explicit, you're talking about https://github.com/lcobucci/jwt/tree/3.4.x/compat and it was a conscious decision to have them in the repository instead of increasing the amount of dependencies. As you can see there, the class is only defined if it doesn't already exist (PHP 7.3+).

v3.x supports PHP 5.6+, hence the need there.

[2021-03-18 16:38] shehi commented on #705
Yea, but it sucks little bit, coz v4.1.x requires PHP 7.4, whereas that specific polyfill isn't needed starting PHP 7.3. My project is PHP 7.3 one: so don't want to have v3.x of this lib, and can't use v4.1.x either. Can't use v4.0.0 either, coz it's buggy: only alpha fits the bill but it doesn't have https://github.com/lcobucci/jwt/tree/4.2.x/src/Encoding folder.
![image](https://user-images.gith

[2021-03-18 16:42] lcobucci commented on #705
Let me just understand where you're coming from... are you concerned about the impact of running an opcacheable `if` statement on the beginning of your request cycle? The class definition is skipped on PHP 7.3+, so is this your concern?

[2021-03-18 16:50] lcobucci commented on #705
It's not buggy, your composer configuration is likely to be wrong ([minimum-stability](https://getcomposer.org/doc/04-schema.md#minimum-stability) isn't set to `stable`). Composer is only following your instructions 😄

[2021-03-18 20:02] shehi commented on #705
Don't worry about it: I just hate seeing weak warnings all over my code just because IDE detects "two implementations of JsonException". Nothing big, will live with that.

[2021-03-19 01:45] zerkms commented on #702
This should be reopened: the bug is there and the referred PR is closed.

[2021-03-19 01:46] yassinrais commented on #702
we are working in a possible solution #706

[2021-03-19 21:03] lcobucci commented on #692
Hello folks, thanks to @yassinrais we managed to [fix this compatibility issue whilst still preserving the microseconds precision](https://github.com/lcobucci/jwt/pull/706). We already released new versions to solve the problem.

[2021-03-19 21:03] lcobucci commented on #693
Hello folks, thanks to @yassinrais we managed to [fix this compatibility issue whilst still preserving the microseconds precision](https://github.com/lcobucci/jwt/pull/706). We already released new versions to solve the problem.

[2021-03-19 21:04] lcobucci commented on #702
Hello folks, thanks to @yassinrais we managed to [fix this compatibility issue whilst still preserving the microseconds precision](https://github.com/lcobucci/jwt/pull/706). We already released new versions to solve the problem.

[2021-03-23 06:54] sn-sharma opened #709 "Usage of `json_encode()` to convert time fractions to microseconds cause precision issues"
message: "Value is not in the allowed date format: 1616481863.528781890869140625"

[2021-03-23 06:58] Slamdunk commented on #709
May you share with us:

1. the version of `lcobucci/jwt` you are using
2. whether the parsed token was created by `lcobucci/jwt` itself or by an external tool
3. if the token was created by `lcobucci/jwt`, a snipped that reproduce the errored token

?

[2021-03-23 10:17] lcobucci commented on #709
A stack trace and a sample token would also be quite helpful 👍

[2021-03-23 11:37] RyanTheAllmighty commented on #709
Yup I'm also getting `Value is not in the allowed date format: 1616497608.0510409`.

Sample token:
[code]

Downgrading from version 4.1.3 to 4.1.2 fixed the issue.

I use [laravel/passport](https://github.com/laravel/passport) to generate the tokens which uses [oauth2-server](https://github.com/thephpleague/oauth2-server) as the server which generates the tokens using `lcobucci/jwt`.

Not sure if

[2021-03-23 13:37] Slamdunk commented on #709
I'm sorry it seems to me the error you provided doesn't come from the token from the example.
The error has `1616497608.0510409` value but the example has `1616497508.795617`, `1616497508.79562` and `1616501108.68163`.

It is crucial for us to have the exact token that generates the issue: can you provide one of that kind please @RyanTheAllmighty ?

[2021-03-23 14:17] sn-sharma commented on #709
When you are trying to send the $date value in convertDate() function in Parser.php file. It is checking for string but the value is 1616497508.79562, which is float. Then you are trying to convert with json_encode function which return the value in string like "1616497508.79562548484415745842262445584". Now the createFormFormat not able to convert it into date and through the mentioned error.

[2021-03-23 14:27] Slamdunk commented on #709
The example you are providing doesn't match my tries: https://3v4l.org/ukgjM

Can you give us the original JWT token?

[2021-03-23 14:38] lcobucci commented on #709
Maybe this is the cause/solution: https://3v4l.org/imDlQ

The re-encoded value (using JSON) has a different precision (goes beyond microsecond precision by 1 decimal place).
Using `number_format()` should mitigate that and we will have to accept that we might have a 1µs difference (negligible IMHO).

[2021-03-23 14:46] sn-sharma commented on #709
I think you got that.
This is the cause https://3v4l.org/3Hlth

You are trying to cast the value as string.

[2021-03-23 14:54] lcobucci commented on #709
An alternative would be keeping the `json_encode()` but ensuring we don't have more than 6 decimal places (`substr` + `strpos`). I think `number_format()` should work just fine.

Can someone send a PR against v4.0.x? We should have the necessary tests in place to guard against issues.

[2021-03-23 14:57] Slamdunk commented on #709
My question is: how did more than 6 decimal places end up into the token in the first place?

[2021-03-23 14:59] lcobucci commented on #709
I'm asking myself the same question... but we can only tell that based on sample tokens.

[2021-03-23 15:00] Slamdunk commented on #709
Hence my question to @RyanTheAllmighty who seems issuing the token from `lcobucci/jwt` itself

[2021-03-23 15:04] lcobucci commented on #709
https://3v4l.org/Xu3QH can be used to quickly detect the occurrence on a sample token btw.

[2021-03-23 15:10] Slamdunk commented on #709
I'd suggest a bare `base64_decode` over the middle part of the token, without involving any `json_*` function: I don't trust them right now to provide me the correct raw informations ^^

[2021-03-23 15:12] lcobucci commented on #709
~The problem is that `var_dump()` and `(string)` round the floats~ never mind, I see what you meant. https://3v4l.org/plOsL

[2021-03-23 20:12] yassinrais commented on #709
_if you are using laravel/passport , so the problem come from that library , because it used firebase/jwt_
_and im not sur what firebase/jwt generate as timetamp_

but when you generate token with this library and parse it , the are no issue , just to know at the moment you have
example "123456789.252500" the json_encode will remove 00 at end !

but to have more then 6 digits , i dont think it pos

[2021-03-23 20:42] yassinrais commented on #709
[code]

**DateTimeImmutable::createFromFormat does not support more then 6 digits to format a date**

I believe that number_format will resolve this issue 🙏

[2021-03-23 21:02] lcobucci commented on #709
I'm pretty sure that `number_format()` will solve it. It's still worth understanding **how** this is being triggered.

[2021-03-23 21:16] yassinrais commented on #709
_**If anyone does not understand why its not working**_

https://3v4l.org/ahPuY

**_Read this:_**
_1. json_encode round a float with more than 7 decimal places and can leave 7 decimals after rounding,
2. DateTimeImmutable::createFromFormat round (args float) who have more then 7 decimals  to 6 decimals
3. DateTimeImmutable::createFromFormat recived 7 decimal because json_encode can have more 7 dig

[2021-03-23 21:21] yassinrais commented on #709
**_If im not wrong_** , DateTimeImmutable::createFromFormat  format a string timestamp by cutting that string into 2 parts seconds + microseconds

thats why the microseconds was never rounded , because DateTimeImmutable::createFromFormat does not round those numbers (cutted strings)

_ah , now its look very logic ,_

so when DateTimeImmutable::createFromFormat recive a float, its convert it to str

[2021-03-23 21:38] jariwiklund commented on #709
Pretty sure this line is to blame
https://github.com/lcobucci/jwt/blob/4.2.x/src/Encoding/MicrosecondBasedDateConversion.php#L35

[2021-03-23 21:51] lcobucci commented on #709
That's what I assume as well. However, this gives me an infinite loop (terrible code, I know):

[code]

I have time now, so I can patch and release stuff but I still would like to see a token that has the problem.

[2021-03-23 21:55] yassinrais commented on #709
i dont think this test will throw any issue

[2021-03-23 21:59] lcobucci commented on #709
I'm shooting in the dark without having a token that presents the issue. String manipulation of the encoded float is the only way I can go about reproducing the problem.

I'm patching the thing nevertheless...

[2021-03-23 22:10] yassinrais commented on #709
@lcobucci dont forgot the test i did before : https://3v4l.org/XKHV4 (all the 6 digits possible)

Else to be more sur , use this more fast & full testing , then randomizing with repeated values
**_(1616536852.000001 -> +1616536852.999999)_**
[code]

[2021-03-23 22:19] yassinrais commented on #709
i will do another test with encoding and decoding jwt generated by this library ,
because i  feel that this was not generated by this library 😳

[2021-03-23 22:48] lcobucci commented on #709
This is interesting, though, the following test passes with no error:

[code]

[2021-03-23 22:51] RyanTheAllmighty commented on #709
Yeah I wasn't sure if this was caused by this library itself or one of the other packages I use for the oauth2 server handling. I figured since the downgrade fixed it, it could be here. I've dived into the packages I use and they seem to not be doing anything other than passing the JWT onto this package, but it's possible with all the abstractions in the packages that I missed a step.

I don't hav

[2021-03-23 22:52] lcobucci commented on #709
Adding `yield [1616536852.1000001, '1616536852.100000'];` does make it fail :+1:

[2021-03-23 22:55] yassinrais commented on #709
Example of generating and parsing tests

[code]

I ran it for a while and found no problems 🤔.

[2021-03-23 23:13] yassinrais commented on #709
**_the are no way that this library will generate more then 6 decimals_** 🤔

the only issue we have , the parser of 7 decimals

[2021-03-23 23:26] lcobucci commented on #709
I couldn't find either... but https://github.com/lcobucci/jwt/pull/710 should mitigate the problem. Can we get some reviews?

[2021-03-23 23:49] lcobucci commented on #709
Alright, releasing new patches now. I'd still love it if you could send a sample token that presents the issue @sachchida1993.

[2021-03-23 23:49] #709 closed, assigned to lcobucci

[2021-03-23 23:54] lcobucci commented on #709
https://github.com/lcobucci/jwt/releases/tag/4.0.3 and https://github.com/lcobucci/jwt/releases/tag/4.1.4 released :+1:

[2021-03-25 12:26] debansu opened #713 "$config = $container->get(Configuration::class);"
what is $container??????

[2021-03-25 12:46] Ocramius commented on #713
As explained in https://github.com/lcobucci/jwt/blob/2f533837091d0b76a89a059e7ed2b2732b2f459e/docs/issuing-tokens.md#issuing-tokens :

[2021-03-25 12:46] #713 closed, assigned to Ocramius

[2021-03-27 21:10] KartaviK commented on #704
Ok, ill make a pr next day

[2021-03-29 10:21] Richard87 opened #714 "Feature request: PHP8 support for 3.4.5 while updating other libraries?"
Hi!

Would it be possible to support PHP8 in ^3.4.5?

I'm trying to update to PHP8, and https://github.com/steverhoades/oauth2-openid-connect-server is a blocker (latest release only support jwt ^3.3.0...

https://github.com/steverhoades/oauth2-openid-connect-server/issues/34

[2021-03-29 10:49] lcobucci commented on #714
We decided not to support PHP 8 on v3.x because of maintenance costs and the fact that v3.x is not actively maintained anymore (open for security fixes only).

Libs should support 3.4 and 4.0 to allow users to use PHP 5.6-8.0 support.

I can help you with the migration process, if needed.

[2021-03-29 10:50] #714 closed, assigned to lcobucci

[2021-03-29 11:32] Richard87 commented on #714
Thanks for answering so fast :)

[2021-03-30 19:35] halie412 opened #715 "Http code status 0"
Hi i´m trying to use this library but i get http status code zero int(0) and no success on sending notifications...

I´m using:
Centos: 8 (clean installation only for this)
PHP: 7.2.24
CURL: 7.61.1
CURL with http2: yes
Apache: 2.4.37
OpenSSL: 1.1.1c

My App are on production, and already can send push notifications using binary protocol so i know than the Device Token are fine and also App are fin

[2021-03-30 20:00] lcobucci commented on #715
I'm not sure what you are trying to accomplish here, however that snippet does not use this library. Perhaps you opened the issue in the wrong repo?

Closing here as invalid.

[2021-03-30 20:00] #715 closed, assigned to lcobucci

[2021-03-30 20:35] halie412 commented on #715
Excuse me, you're right... Have a great day! and thanks for fast reply!

[2021-04-04 11:12] mantis opened #717 "Composer should only suggest ext-sodium"
Composer.json currently has:

`
"require": {
  "ext-sodium": "*",
}
`

This seems to mean that the package will not install if sodium is missing from PHP.

However, a polyfill was added to provide a fallback if sodium was missing. Therefore should the requirement for ext-sodium not be moved to "suggests" ?  This would allow a user to install the package when sodium is not in PHP, and to use the po

[2021-04-04 11:32] Ocramius commented on #717
Considering that the polyfill is additional code to ease a migration,
dropping it from the next minor would be best (making sodium mandatory)

On Sun, Apr 4, 2021, 13:13 Mantis Development ***@***.***>
wrote:

[2021-04-04 13:22] Slamdunk commented on #717
Polyfill was added only for base64 functions, that are missing in older libsodium versions.
The require is mandatory for EdDSA signer however, read more about the decision here: https://github.com/lcobucci/jwt/pull/605#issuecomment-745591616

[2021-04-04 13:47] Ocramius commented on #717
Closing as per @Slamdunk's comment: until we bump requirements, the polyfill should stay then.

[2021-04-04 13:47] #717 closed, assigned to Ocramius

[2021-04-04 14:39] lcobucci commented on #717
The polyfill was only added because the required function is only available in an specific version of libsodium (the C lib), which we don't have control over.

I hope to be able to remove the polyfill - eventually.

[2021-04-04 14:43] mantis commented on #717
Also, I raised this as I thought that sodium was **just** a PECL extension - so it seemed a really strange requirement - hadn't realised that it was shipping with core php's (as of 7.2).

So yea, agree that this should be closed :) - sry

[2021-04-09 16:08] hparadiz opened #718 "New Function Names aren't "natural" and easy to understand"
I don't understand why you broke backwards compatibility for this????

I need to find the "issuer". I hit Ctrl + F and type in "issuer". Nothing comes up. Now it's "issuedBy"???? Why???? None of this makes any sense. setIssuer was more natural English. Your library is now harder to teach to people.

[2021-04-09 16:47] lcobucci commented on #718
This name convention has been reviewed by other people who agreed it's more natural for the pattern being applied and that it reveals the intention behind the claim names - not to mention avoiding the `set` prefix.

Thanks for sharing your opinion. We respectfully disagree and won't be changing it.

[2021-04-09 16:47] #718 closed, assigned to lcobucci

[2021-04-09 16:50] hparadiz commented on #718
![image](https://user-images.githubusercontent.com/195216/114213084-4748ca80-98fe-11eb-80d9-8b156d806fab.png)
You might as well just type hint DateTimeImmutable here because throwing a deprecated warning on modern systems where even deprecation errors bubble up and throw alerts in front of people's faces cause problems. So I honestly had to extend your classes and override it cause it's wasting to

[2021-04-09 17:28] lcobucci commented on #718
These and other questions are answered by the documentation - even the deprecations.

[2021-04-09 17:40] lcobucci commented on #718
It would be great if you could show a bit of appreciation, or at least respect, to the result of the work you get for free.

Also, nobody is forcing you to update the library - or even use it. Feel free to maintain a fork of the old v3.x stuff with the naming structure you prefer, I'm glad to know this lib helped you so far and happy to part ways.

I'm gonna lock this thread because it's not going

[2021-04-13 08:14] andrei-dascalu opened #719 "Question: validating tokens issued with asymmetric keys"
Hello,

I have a case where I need to validate a token issued by someone else simply by using the provided public key of the pair.

In 'ye olde days', I'd parse the token with an anonymous parser and then I'd call ->verify(my signer, public key).

Now it seems like the verify has been deprecated and it's not clear for me how I should go about simply verifying a token using a known algorithm and ju

[2021-04-13 18:45] #719 closed, assigned to nobody

[2021-04-14 16:01] maikonmatheus opened #721 "Importance of Validation Constraints"
The Documentation brings setValidationConstraints as Customization but, in fact, it is mandatory. In addition, not using the Constraint\SignedWith is a huge security vulnerability, because when unused, any token created with any key becomes valid. At a minimum, this should be highlighted in the documentation. I even suggest making Constraint\SignedWith mandatory.

[2021-04-14 16:34] Slamdunk commented on #721
I agree: https://github.com/lcobucci/jwt/pull/680

[2021-04-14 16:53] Ocramius commented on #721
Closing as duplicate of #680 - agree as well that there should be a more "hardened" API in this lib for these inconsistent details of JWT that are also why the entire PASETO shitstorm started :-)

[2021-04-14 16:53] #721 closed, assigned to nobody

[2021-04-14 17:28] maikonmatheus commented on #721
I understand the wish to keep the API without the proposed restriction. But I still beliveing in the beneftis of include a highlighted description about the importance of SignedWith constraint in the docs. ;)

[2021-04-14 18:26] Ocramius commented on #721
Please do send a patch, if you think it can be improved there as a start 👍

On Wed, Apr 14, 2021, 19:29 Maikon Matheus ***@***.***> wrote:

[2021-04-17 17:47] Sephster opened #722 "StrictValidAt Backwards Compatibility"
Hey Luís,

`ValidAt` was deprecated in the 4.x branches in favour of the `StrictValidAt` constraint. The `StrictValidAt` constraint has not been backported to the 3.4x branch so is currently causing some of my tests to fail.

Would a PR be welcomed to backport this or are there no plans to do this? Many thanks for all the good work and awesome library as usual.

Andy

[2021-04-18 06:36] obione94 opened #723 "change order $headers"
hey, Luis
how can I change the order of the headers
`private array $headers = ['typ' => 'JWT', 'alg' => null];`
to
[ 'alg' => null,'typ' => 'JWT']
for example
i cant find setHeaders method or removeHeaders
thk Luis.

[2021-04-18 07:26] lcobucci commented on #723
@obione94 that's indeed not exposed to end-users. Why do you need it?

[2021-04-18 07:33] lcobucci commented on #722
Hey Andy 👋

v3.x is open for security fixes only. So, we shouldn't backport anything else there.

If you want to use the new classes you should require v4.1+ (as they aren't available in v4.0.x).

If you need to be compatible with the old versions but still want to use the new classes, I'd suggest checking if the class is defined. Alternatively, you may also create the constraint on your side.

[2021-04-18 09:47] Sephster commented on #722
Sounds good to me. Thanks so much. Will take another look and sort it from our side. Thanks 👍

[2021-04-18 09:47] #722 closed, assigned to nobody

[2021-04-18 11:53] obione94 commented on #723
hey @lcobucci  , thk for your reactivity,
because the headers crimping is not the same depending on the position
['typ' => 'JWT', 'alg' => Sha256]
=> eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9
['alg' => Sha256,'typ' => 'JWT']
=> eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9
and for the other case a need only
['alg' => Sha256]
it was cool if can't removeHeader (<> withHeader)

[2021-04-18 13:20] lcobucci commented on #723
Although, the `typ` header isn't mandatory we enforce it [here](https://github.com/lcobucci/jwt/blob/4.2.x/src/Token/Builder.php#L21) because the RFC states that as a recommended practice. So, all tokens issued by this lib have it.

We also enforce the order of the two headers on that line, btw, which should give a consistent encoded value.

Our parsing shouldn't be affected by the cases you provi

[2021-04-18 14:33] obione94 commented on #723
Ok I'm doing a class by adding a little setHeader, thank you for your speed @lcobucci you are awesome loool ;)

[2021-04-18 14:37] #723 closed, assigned to lcobucci

[2021-04-27 23:23] fylzero opened #726 "Target [Lcobucci\JWT\Configuration] is not instantiable"
Target [Lcobucci\JWT\Configuration] is not instantiable while building [App\Http\Controllers\Auth\SSOController]

Using the basic recommended setup from the upgrade docs and receiving this error.  Not sure what is causing this.  Running Laravel 8 on Valet, PHP 7.4.  Any help is appreciated.

[code]

[2021-04-28 02:05] lcobucci commented on #726
@fylzero sorry but I'm no Laravel user. I'd recommend you to check the docs there to try and understand the issue.

It sounds like it expects you to define the configuration object on the DI container so it can be used by your controller.

[2021-04-28 02:06] lcobucci commented on #726
I'll close the issue as it's not related to this lib.

[2021-04-28 02:07] #726 closed, assigned to lcobucci

[2021-05-10 06:53] amrishkakadiya commented on #681
I am facing similar error. Its working fine in other dedicated server but not in Shared Hosting.
Code and even project is same in both server.

My Token:

**eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOiIxNjIwNjIxMjY4LjI2Mzc3MCIsImV4cCI6IjE2MjA2MjEzMjguMjYzNzcwIiwiaWQiOjEsInJvbGUiOiJhZG1pbiJ9.K2VEqI5XnHMf-Je4iYh857GgXhs2z9AmlnvvJhjbRUw**

**Error**

[code]

My Code to parse the token.

` $aToken

[2021-05-10 07:00] Ocramius commented on #681
I can see this in your trace:

You aren't decoding JSON there?

On Mon, May 10, 2021, 08:54 Amrish Kakadiya ***@***.***>
wrote:

[2021-05-10 07:55] amrishkakadiya commented on #681
no, its working in other server(nginx). I am passing raw string to parse which is stated in Documentation.

[2021-05-10 07:59] Ocramius commented on #681
I can clearly see this:

[code]

That means that gibberish is passed to JSON decoding logic :-)

The exception is just the symptom.

Locking this thread: please do write an integration test about your use-case, before reporting a new issue with a reproducible scenario.

[2021-05-10 09:14] lcobucci commented on #681
Is it possible that a bug in libsodium is the thing to blame here? That's the only explanation I have for it to fail on specific servers only. @Slamdunk have you experienced something like this?

[2021-05-10 09:17] amrishkakadiya opened #729 "Error while decoding from JSON in lcobucci/jwt/src/Encoding/CannotDecodeContent.php"
Hello, I have perfect working code in Local and Dedicated nginx server.

Now I am copied that code into Apache Shared Hosting, And while parsing tokens, I am getting below error.

[code]
And Here is my code to parse

[code]

And as Per [documentation ](https://lcobucci-jwt.readthedocs.io/en/stable/parsing-tokens/) I am pasing raw string token received in header and I am not passing that raw string

[2021-05-10 09:46] lcobucci commented on #681
@amrishkakadiya can you run the following code on both the new and old servers:

[code]

[2021-05-10 09:48] lcobucci commented on #729
Let's continue with the previous issue instead of opening a new one please.

[2021-05-10 09:48] #729 closed, assigned to lcobucci

[2021-05-10 09:57] amrishkakadiya commented on #681
Dedicated server response
`string(27) "{"typ":"JWT","alg":"HS256"}" string(27) "{"typ":"JWT","alg":"HS256"}"`

and Shared Server respone
`Call to undefined function App\\Http\\Middleware\\sodium_base642bin()`

So is it because of Sodium extenstion?

[2021-05-10 10:02] lcobucci commented on #681
`ext-sodium` is required extension (as stated in the `composer.json`). Please make sure it is installed.

[2021-05-10 10:04] amrishkakadiya commented on #681
Is there any way to install in Shared Hosting usign Cpanel without terminal access?

[2021-05-10 11:01] lcobucci commented on #681
@amrishkakadiya sorry but I can't help you with that, it's been ages since I last used shared hosting. Try contacting them.

It's also important to note that copying `vendor` files from one place to another is a bit error-prone. Try to use `composer install` to detect any potential incompatibility.

[2021-05-10 11:02] lcobucci commented on #681
Locking here as we discovered it's not related to the lib itself but the environment in which the library runs.

[2021-05-19 11:26] Patrick-Remy commented on #663
As a user who just migrated to this new API, I can confirm that I asked myself if need to add `SignedWith` constraint, as it's already 'known' by instantiating the config. I myself miss a full example in the docs adding the typical constraints.

[2021-06-04 13:11] carusogabriel opened #753 "Add `claims` method to Token interface"
Hey there!

While upgrading to the latest version of this library, we noticed that https://github.com/lcobucci/jwt/blob/4.2.x/src/Token.php does not have a `claims` method declared there. But, its implementations have it:

- https://github.com/lcobucci/jwt/blob/207955dfbce28b4fbdc12367fbccf9546c66eb2d/src/UnencryptedToken.php#L11-L14
- https://github.com/lcobucci/jwt/blob/207955dfbce28b4fbdc12367f

[2021-06-04 13:18] carusogabriel commented on #753
My bad, duplicated from #611

[2021-06-04 13:18] #753 closed, assigned to lcobucci

[2021-06-04 13:23] lcobucci commented on #753
That's alright 😄

[2021-06-07 15:36] realtebo opened #755 "Missing info in doc: what is '$container' ?"
About this page

https://lcobucci-jwt.readthedocs.io/en/stable/parsing-tokens/

It starts with

    $config = $container->get(Configuration::class);

But there is not explanation of how to instantiate the container.

[2021-06-07 20:24] lcobucci commented on #755
@realtebo there's a note on every page saying:

So, the `$container` is an example of how you would integrate with modern frameworks that use containers. If you don't have a container, then you create the configuration object manually.

Feel free to send a PR clarifying this further :+1:

[2021-06-07 20:24] #755 closed, assigned to lcobucci

[2021-06-07 20:46] realtebo commented on #755
First thanks for reply. I am here asking for more doc because I am not able to understand. Sorry. I have laravel and I was not able to use dependency injection with your package . Again, thanks, but did is not enough. Also. If I had no framework, I can create configuration.... How?

Scarica Outlook per Android<https://aka.ms/AAb9ysg>

________________________________
From: Luís Cobucci ***@***.***

[2021-06-07 21:27] lcobucci commented on #755
@realtebo the page you sent has a link to the configuration documentation:

Alternatively, you may click on the `Usage -> Configuration` session of the docs:

![image](https://user-images.githubusercontent.com/201963/121089491-85237b80-c7e7-11eb-8ee8-5e4f4f3c13c4.png)

I understand that the navigation/content of the docs might be confusing. So, please, do send a PR if you think you have an idea on

[2021-06-08 08:23] realtebo commented on #755
I still need help, sorry

I must decode a JWT I receive, but it's not created from my app

Header is

[code]

I simply need to do something like

     $payload = $something->getPayloadFromJwtString($jwt);

I do not need validations of any kind.

[2021-06-08 08:26] realtebo commented on #755
I resolved !!

    use Lcobucci\JWT\Configuration;

    $configuration = Configuration::forUnsecuredSigner();
    $token = $configuration->parser()->parse( $my_received_token_string);

Thanks !!!!!!!!!!!!

[2021-06-08 16:07] Dongmo880 opened #756 "Cannot instantiate interface 'Builder'"
this is related to token generation using the lcobocci/jwt package.
"Cannot instantiate interface 'Builder'"

this is my code.

<?php

namespace App\Controller;
use Lcobucci\JWT\Builder;
use Lcobucci\JWT\Signer\Hmac\Sha256;
use Lcobucci\JWT\Signer\Key;
use Symfony\Bundle\FrameworkBundle\Controller\AbstractController;
use Symfony\Component\HttpFoundation\Cookie;
use Symfony\Component\Routing\Annota

[2021-06-08 16:25] Ocramius commented on #756
Closing: `Builder` is indeed an interface, not a class.

Please read the docs at https://github.com/lcobucci/jwt/tree/4.1.4/docs

[2021-06-08 16:25] #756 closed, assigned to Ocramius

[2021-06-09 07:37] Dongmo880 commented on #756
thank you

[2021-06-09 08:49] Dongmo880 commented on #756
Hello to all

please i come back again with my problem i followed the documentation but i still have the same error

please help me

[2021-06-09 09:22] Ocramius commented on #756
@Dongmo880 check if you are running `4.x` (I linked the docs for `4.1.4`) or `3.x` (for which docs can be found at https://github.com/lcobucci/jwt/tree/3.4.5/docs )

[2021-06-14 13:15] pluk77 commented on #705
I think the statement here is that Alpha3 has a PHP dependency of ^7.2 while all subsequent version have ^7.4.

https://packagist.org/packages/lcobucci/jwt#4.0.0-alpha3

As a PHP 7.3 user, you are then left with the option to run a buggy alpha release of 4.0 or use the 3.4 branch.

@shehi How did you resolve this? Which version are you running on your PHP 7.3 install?

[2021-06-14 13:18] Ocramius commented on #705
If you are on 7.3, `lcobucci/jwt:^3` works just fine.

I endorse upgrading to PHP 7.4 though: the jump from 7.3 to 7.4 is quite
minimal.

On Mon, Jun 14, 2021, 15:15 Marcel Berteler ***@***.***>
wrote:

[2021-06-14 14:20] talismandev opened #760 "base642binFallback returns boolean instead of string"
Hello.
My name is Nickolai, I am using this jwt library in Laravel Passport Package.

Laravel version: 8.12
PHP Version: 7.4.19

I encountered strange behavior (actually, passport api routes always returned 'unauthenticated').
After some debugging, I found this in laravel logs:

[code]

And found, that in SodiumBase64Polyfill class, base642binFallback fn returns boolean, when processing the third

[2021-06-14 14:25] Slamdunk commented on #760
Hi, I see that the last char of the pasted base64 is an exclamation mark `!`, which for sure isn't a `base64` character in any known variant, see https://en.wikipedia.org/wiki/Base64

If you remove it, the decoding works fine.

[2021-06-14 14:31] talismandev commented on #760
Yeah, definately! Thanks for the quick answer.

Strange, that tokens generated automatically, by laravel passport.

And everything worked on localhost.

But in another VDS environment, "!" appears.

[2021-06-14 14:32] shehi commented on #705
Not a generally applicable sentiment I am afraid. In most production-grade projects, just stating what you stated there and upgrading would be ludacrous :) It never happens no matter how much we want that. Higher ups always come up with "we gotta test everything with this language upgrade, it is such a huge task ... blah blah blah". Arghhh, anyway.

[2021-06-14 14:37] Ocramius commented on #705
You should indeed be testing: that is what allows for smoother upgrades.

If that has been neglected, it will get worse over time: we've all been
there.

On Mon, Jun 14, 2021, 16:32 shehi ***@***.***> wrote:

[2021-06-14 14:51] #760 closed, assigned to nobody

[2021-06-14 18:04] lcobucci commented on #705
That's also why we ship a forward compatibility layer in v3.4. Once you adopt that, migrating to v4 should be 100% headache free - allowing you to focus on upgrading language.

[2021-06-15 14:51] ol1s opened #761 "Cannot mock classes marked final"
@lcobucci I know that this is 100% intentional and that you probably have many reasons why you do not want others to extend your classes 😁

But......does every class really need to be marked as `final` !!!

This is especially painful when trying to mock these classes in my unit tests as I get the following error from PHPUnit:

[code]

Any chance you could consider removing the `final` declarations

[2021-06-15 14:56] lcobucci commented on #761
@ol1s I'll convert this into a discussion because it makes more sense 👍

[2021-06-15 14:56] #761 closed, assigned to nobody

[2021-06-16 11:05] basz opened #763 "Symmetric key error"
While refactoring 3.0.4 to avoid deprecations I seem to not be able to get past this error when I get the token. Am I missing something? I get the feeling it only accepts a string formatted as is in a .pem file or something?

`It was not possible to parse your key, reason: error:09FFF06C:PEM routines:CRYPTO_internal:no start line`

[code]

[2021-06-17 06:18] lcobucci commented on #763
@basz that message looks like errors from OpenSSL. Are you sure that you are aliasing the correct class as `Sha256` (it needs to be one of the HMAC signers)?

[2021-06-17 10:07] basz commented on #763
Aha!

Stupid. Now I get what's is passed around thereX

Thanks

[2021-06-17 10:07] #763 closed, assigned to nobody

[2021-07-15 13:33] NicolasCARPi opened #767 "Incomplete instructions for setting validation constraints?"
Hello,

When looking at the Validating tokens part of the doc, one cannot find the `setValidationConstraints()` function call. The code shows `$constraints = $config->validationConstraints();` but this is empty if no constraints have been set beforehand with this function.

One has to look into the source code or the customization part of the doc to find that this exists.

Did I miss something or

[2021-07-15 13:42] lcobucci commented on #767
@NicolasCARPi we've tried to segregate configuration for usage, that's why the samples on validation use a pre-existing configuration object. We briefly mention the configuration here: https://lcobucci-jwt.readthedocs.io/en/stable/configuration/#customisation.

Feel free to send us a patch to improve things if you have suggestions :)

[2021-07-17 04:41] gogl92 opened #769 "PHP 8 Support"
Current config `requires php (^5.6 || ^7.0)`.

[2021-07-17 11:15] Ocramius commented on #769
PHP 8 is supported starting from version 4.0.0: https://github.com/lcobucci/jwt/blob/4.0.0/composer.json#L20

[2021-07-17 11:15] #769 closed, assigned to Ocramius

[2021-07-27 14:19] zantdev opened #770 "Support php 8"
How to enable php 8 support?

[2021-07-27 14:20] #770 closed, assigned to Ocramius

[2021-07-27 14:27] Ocramius commented on #770
Duplicate of https://github.com/lcobucci/jwt/issues/769

[2021-08-05 20:30] abbluiz commented on #32
+1

[2021-08-06 13:49] XedinUnknown opened #775 "Unencrypted Token API Not Visible In Parsed Result"
## The Problem
[`Parser#parse()`][] [returns][1] an [`UnencryptedToken`][], but only guarantees a [`Token`][]. This makes it impossible to retrieve essential information, such as claims, from the parsed result, because it is not declared in the guaranteed result's interface.

[`Parser#parse()`]: https://github.com/lcobucci/jwt/blob/4.2.x/src/Token/Parser.php#L29
[`Token`]: https://github.com/lcobu

[2021-08-13 21:08] t0mmy742 commented on #775
It was already discussed on #186 and #203

You can try something like this:

[code]

You can use your own exception of course

[2021-08-16 13:49] lcobucci commented on #775
@t0mmy742 thanks for the help here :+1:

@XedinUnknown as said above, this is a forward compatibility layer.
It was added to avoid having to break the API when implementing encryption.

#759 is adding a high-level API that will always return an unencrypted token, and we'll soon be shipping it.

[2021-08-16 13:49] #775 closed, assigned to lcobucci

[2021-08-16 14:37] XedinUnknown commented on #775
@t0mmy742, that's exactly what I did. It's fine, but sub-optimal of course.

@lcobucci, thanks, understood 👍

[2021-08-26 22:42] manjunathpadolkar opened #776 "Error while making an /oauth/token request to laravel 7 application"
Getting below error in laravel 7 project on php 7.4

[code]

[2021-08-27 05:32] lcobucci commented on #776
@manjunathpadolkar it seems like you don't have a valid key configured...

Have you checked that?

[2021-08-27 08:39] Ocramius commented on #776
Also check: https://github.com/lcobucci/jwt/blob/a8acedb920bb48de30bad1aa9e6d242903ecd693/src/Signer/OpenSSL.php#L99-L104

At this point of the execution, your `$key` is `false`

[2021-08-27 08:40] #776 closed, assigned to nobody

[2021-08-28 01:39] hallboav commented on #32
+1

[2021-08-28 02:56] hallboav commented on #32
If you want to verify that a JWT has been signed using someone's private key, you can do:

[code]

[code]

🤝

[2021-09-06 21:07] betysam55 opened #781 "InMemory cannot implement Lcobucci"
`{
    "message": "Lcobucci\\JWT\\Signer\\Key\\InMemory cannot implement Lcobucci\\JWT\\Signer\\Key - it is not an interface",
"exception": "Symfony\\Component\\Debug\\Exception\\FatalErrorException",
    "file": "/Users/sam/Desktop/easy/easy-ethiopia-web/vendor/lcobucci/jwt/src/Signer/Key/InMemory.php",
    "line": 14,
    "trace": []
}`

can any one  help

[2021-09-09 07:55] lcobucci commented on #781
@betysam55 which version of `lcobucci/jwt` you have installed and how did you install it?

[2021-09-09 07:56] #781 closed, assigned to nobody

[2021-09-10 06:29] sarfarazsavvy opened #783 "libsodium requirement issue"
Hello Community,
we are facing issue, this package requires libsodium previously ext-libsodium was available to install in php 7.2 but in php 7.4 libsodium is not installing. is there any way to ignore libsodium is there any alternative way.

[2021-09-10 06:38] SvenRtbg commented on #783
Libsodium is supposed to be bundled with PHP since 7.2, so you have to fix the issue with whatever your PHP provider has done to make it a problem.

The extension provides modern cryptographic functions and is essential to this library.
--
Viele Grüße
Sven Rautenberg

[2021-09-10 07:54] lcobucci commented on #783
@sarfarazsavvy you can use composer's `--ignore-platform-req=ext-sodium` (https://getcomposer.org/doc/03-cli.md#install-i) and check if you can run things but you'd essentially be on your own.

The recommended approach is to have the extension installed (that depends on the OS you have).

[2021-09-10 07:54] #783 closed, assigned to nobody

[2021-09-17 09:18] llbgo opened #785 "which version of java-jwt library jdk 1.6 supports"
Could someone please tell which version of java-jwt library jdk 1.6 supports.

Now for jdk 1.6 I have: UnsupportedClassVersionError Unsupported major.minor version 51.0

[2021-09-17 09:20] Ocramius commented on #785
This is a PHP library, nothing to do with java/jdk

[2021-09-17 09:20] #785 closed, assigned to Ocramius

[2021-09-22 14:31] Patrick-Remy opened #786 "`claims()` missing in Token interface"
The Token interface of 4.x does not include the `claims()` method, as suggested to use in migration guide https://lcobucci-jwt.readthedocs.io/en/latest/upgrading/#use-the-new-token-api

It only includes the `headers()` method.

https://github.com/lcobucci/jwt/blob/52c43b2ba8aa30efcc3a38b7aa7d0c4f560dfe19/src/Token.php#L11-L14

[2021-09-22 14:35] SvenRtbg commented on #786
`claims()` is present in the `UnencryptedToken` interface, and I think it may make sense because you'd probably be unable to access them if the token is encrypted.

But what is your case here? Do you have any code that may illustrate what you want to do?

[2021-09-22 14:36] Patrick-Remy commented on #786
My static analysis engine pointed out
[code]

As `parse()` method does return just a `Token`.

[2021-09-22 17:56] lcobucci commented on #786
@Patrick-Remy your static analysis is reminding you to validate user input.

Parse will potentially return encrypted tokens in the future, so you need to make sure that what you received as literal string is what your application expects.

[2021-09-22 17:57] #786 closed, assigned to lcobucci

[2021-09-22 17:57] lcobucci commented on #786
Closing as invalid as per my comment

[2021-10-05 07:29] ionics opened #793 "token creation by adding payload consisting of associative array with multiple key value pairs"
Hi folks, hi Luís,

Two possibilities i could think of:

##### 1)
**extend documentation**

add section token creation: "adding payload consisting of associative array with multiple key value pairs"

please add a best practice example to the documentation on how to add payload data in the form of an associative array (consisting of multiple key => value pairs) on token creation.

Right now i have

[2021-10-05 07:51] SvenRtbg commented on #793
Yeah, your "actual token creation" should look like this:

        $builder = $config->builder();

        foreach ($data as $key => $value) {
                $builder->withClaim($key, $value);
        }

Why building the builder inside the loop? If you don't build it because the array is empty, all following code accessing the `$builder` to get the token will fail because the builder hasn't been

[2021-10-05 07:57] SvenRtbg commented on #793
And in fact your example data array is quite complex, carrying the notion that "additional_data" seems to be requiring special treatment anyways. I don't know why the data has to be json_encoded base64'd, but this isn't something this library would do for you. So we are effectively talking about who is doing the loop: Your code, or the libraries code, because the implementation of `withClaims(arra

[2021-10-05 08:10] ionics commented on #793
Thank you very much @SvenRtbg for pointing this out.

getting the builder object before foreach() is the way to go. I have tried this before and did not succeed, sure there was another issue in my code i have not been aware of... closing.

**sidenote:**
the base64_encode was from a real world example where the API server is expecting a data structure in that form.

Thank you!

[2021-10-05 08:10] #793 closed, assigned to nobody

[2021-10-05 09:35] lcobucci commented on #793
Thanks @SvenRtbg for helping out :)
I'll convert this into a discussion since it might help other people.

[2021-10-27 09:20] jbuchmann-castor opened #795 "Signers are not marked as implementing the Signer interface"
The various Signers (src/Signer/Hmac/Sha256.php, src/Signer/Ecdsa/Sha512.php, etc) are not marked as implementing the Signer interface (Lcobucci\JWT\Singer) even though they actually do. This is not a functional problem, but it can cause IDEs (and humans) to be confused.

Would you like a PR to address this?

[2021-10-27 09:24] Slamdunk commented on #795
All the classes you mention extend a different abstract class, which in turn implement the `Signer` interface.

Most IDE I know of correctly recognize interface inheritance, check yours if needed.

[2021-10-27 09:26] Ocramius commented on #795
Closing: Github also allows navigating the inheritance tree (use CTRL+CLICK), and correctly recognizes that signers implement `Signer`.

[2021-10-27 09:26] #795 closed, assigned to nobody

[2021-11-07 16:48] dangaffey opened #800 "PHP 7 Compatibility"
It looks like now that lcboucci/clock's release version 2.1 is requiring PHP 8, that this projects dependencies of ^2.0 breaks PHP 7 compatibility because it pulls in version 2.1.  This has broken my usage of a dependent library 'LexikJWTAuthenticationBundle' with use of PHP 7.4

[2021-11-07 16:50] Ocramius commented on #800
Heyo,

`composer update` will pick a set of compatible dependencies: you probably did run `composer update` on a system running PHP 8, then deployed with that set of dependencies on PHP 7.

[2021-11-07 16:50] #800 closed, assigned to Ocramius

[2021-11-15 21:51] #767 closed, assigned to nobody

[2021-11-16 21:12] donatj opened #802 "Feature Request - Add a way to reset permittedFor on Builder"
It would be very helpful to add a way to empty `permittedFor` audience claim on Builder.

I'm in process of upgrading from 3.2 to latest and our code constructs a rough token before passing it and adding the final touches which in some places involves changing the audience.

Calling `$builder->permittedFor('foo.com')` currently appends it to the default audience rather just having `foo.com`

It wo

[2021-11-16 21:58] lcobucci commented on #802
@donatj have you thought about cloning the builder to be passed around before doing the final touches? That should achieve the isolation you're looking for, without having to deal with state control.

[2021-11-16 22:20] donatj commented on #802
The problem isn't that I'm accidentally using the same instance of a builder in two places, which a clone would help.

The problem is I have a function that uses the builder to set a handful of defaults, including an audience, and then hands that builder on for you to change. Even if I cloned it, the default audience is already set.

I know it sounds like I should just _not_ set the default audien

[2021-11-16 23:16] Ocramius commented on #802
Very much so - not possible to add methods there.

[2021-11-26 12:43] #140 closed

[2021-11-26 12:43] #663 closed, assigned to nobody

[2021-11-26 12:56] lcobucci commented on #802
@donatj your case sounds a lot like an edge-case. I'd like to understand it better before discussing changes to the library. Based on what you're describing, it sounds like you have a library that wraps this one. Is this correct?

[2021-12-10 20:01] Rikcon opened #807 "Deprecated Notice spamming logs"
Hello, first of all i want to thank author of this package and all involved people for their great work !

Issue:
My cloudwatch logs got spammed with
`NOTICE: PHP message: PHP Deprecated:  Return type of Lcobucci\JWT\Claim\Basic::jsonSerialize() should either be compatible with JsonSerializable::jsonSerialize(): mixed, or the #[\ReturnTypeWillChange] attribute should be used to temporarily suppres

[2021-12-10 22:26] lcobucci commented on #807
It seems you are running version 3.x on an incompatible php version. Please upgrade to v4.x if you want to run it on php 8.0+

[2021-12-11 06:53] #807 closed, assigned to Ocramius

[2021-12-15 22:41] nschmoyer opened #808 "Encoder converts 'aud' string to array"
After upgrading to the newest version of this library, the 'aud' portion of my payload is being converted to an array, rather than keeping the single item as a string. Per the standard, an array is optional for single audiences. Unfortunately, the client I am trying to pass my token to is now resulting in an error because of an "invalid audience".

Is it possible to maintain the string type when p

[2021-12-16 05:25] lcobucci commented on #808
@nschmoyer your snippets don't show how are you creating your builder object. However, since v4 we have the concept of formatters and there's one which unifies the audiences.

Check the named constructors in to see what can help you https://github.com/lcobucci/jwt/blob/4.2.x/src/Encoding/ChainedFormatter.php

[2021-12-16 05:26] #808 closed, assigned to lcobucci

[2022-01-06 09:53] ozahorulia opened #812 "Upgrading from 3.x to 4.x: migrating ValidationData with $currentTime"
Hello! I'm migrating code written by another developer, and I can see several validation calls, which look like this:

        $validationData = new ValidationData($this->getNowTime() + self::TTL_TIME_LIMIT);
        if (!$token->validate($validationData)) {
            // ...
        }

        $validationData = new ValidationData($this->getNowTime());
        if (!$token->validate($validationDat

[2022-01-10 21:11] #812 closed, assigned to nobody

[2022-01-11 17:26] #802 closed, assigned to nobody

[2022-01-27 06:37] dolwindavis opened #816 "Version 4.0.x is not supported for 7.4 because underlyin dependency lcobucci/clock needed php 8.0"
version 4.0.x is not supported for php.7.4 since the dependency lcobucci/clock is using version 2.2.x.you need to update composer.json file and add "lcobucci/clock": "^2.0.0" instead of "lcobucci/clock": "^2.0"

[2022-01-27 06:48] lcobucci commented on #816
Composer resolves the correct dependency version depending on the php version you are using.

If you analyse the lock file in this repository, you will confirm the behaviour.

Are you perhaps manipulating the lock with php 8.0? If that's the case, you will get the newest version of clock.

Make sure you run composer using the php version you have on production or to use the [platform property](htt

[2022-01-27 06:49] lcobucci commented on #816
Closing here as per my comment.

[2022-01-27 06:49] #816 closed, assigned to lcobucci

[2022-01-31 11:52] leptoquark1 opened #817 "`lcobucci/clock` ^2.0 dependency is breaking PHP 7.4 support"
![jwt_deps](https://user-images.githubusercontent.com/13577480/151789107-09ac9fee-02fb-4587-bebf-8a462e3a372a.jpg)

I think changing the requirement to `~2.0.0` and release a patch of this package would fix this issue.

[2022-01-31 12:10] leptoquark1 commented on #817
Nevermind, I found the issue

[2022-01-31 12:10] #817 closed, assigned to nobody

[2022-02-02 09:26] cubevis opened #819 "Connect to Apple using .p8 cert file ( PHP 8.1 )"
Hello!

Im using this liblary to generate ES256 JWT for Apple to connect with them, but the problem is that generated token is invalid.

**So in summary :**
- I got from them : **AuthKey_XXXXXXXXXX.p8** ( as u can see its in p8 format )
- PHP of my server is **8.1**. which means that I'm using this liblary in version : **4.1**

**What I did and it didn't work**
- trying to convert .p8, to .pem and

[2022-02-02 09:31] Ocramius commented on #819
Does your JWT token look valid, according to the library itself?
What is the response from the curl request?

[2022-02-02 09:34] cubevis commented on #819
@Ocramius, thanks for response, the response from curl :
HTTP/1.1 401 Unauthorized Server: daiquiri/3.0.0 Date: Wed, 02 Feb 2022 09:33:14 GMT Content-Type: application/json Content-Length: 350 Connection: keep-alive Strict-Transport-Security: max-age=31536000; includeSubDomains X-Apple-Jingle-Correlation-Key: XXXXXXXXXXXXXX x-daiquiri-instance: daiquiri:18493001:mr85p00it-hyhk03154801:7987:21RELEA

[2022-02-02 09:36] cubevis commented on #819
@Ocramius, thanks for response, the response from curl :

HTTP/1.1 401 Unauthorized Server: daiquiri/3.0.0 Date: Wed, 02 Feb 2022 09:33:14 GMT Content-Type: application/json Content-Length: 350 Connection: keep-alive Strict-Transport-Security: max-age=31536000; includeSubDomains X-Apple-Jingle-Correlation-Key: XXXXXXXXXXXXXX x-daiquiri-instance: daiquiri:18493001:mr85p00it-hyhk03154801:7987:21RELE

[2022-02-02 09:37] Ocramius commented on #819
The signature needs to be validated against your key - I don't suggest pasting your key into `jwt.io`, but to validate it locally against the `Parser` provided by this library.

[2022-02-02 09:43] cubevis commented on #819
@Ocramius, so according to liblary: **Parser**, how to validate my generated JWT using PHP?
I will dive into liblary right now, but if are more familiar with this, please dive with me :)

[2022-02-02 09:47] cubevis commented on #819
I added this to my code :

[code]

And the output is :
Lcobucci\JWT\Token\Plain Object ( [headers:Lcobucci\JWT\Token\Plain:private] => Lcobucci\JWT\Token\DataSet Object ( [data:Lcobucci\JWT\Token\DataSet:private] => Array ( [typ] => JWT [alg] => ES256 [kid] => XXXXXXX ) [encoded:Lcobucci\JWT\Token\DataSet:private] => eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NiIsImtpZCI6IjJDTUtSOVgyNEcifQ ) [claims:Lcobucci

[2022-02-02 11:28] lcobucci commented on #819
How did you convert the p8 certificate? Is this library able to verify the signature using the converted public key? Does Apple mandate any claim that you're not setting (sub)?

[2022-02-02 11:35] lcobucci commented on #819
It also looks like you're using the date formatter that uses microseconds as precision (when the time object provides it). Does apple support that?

If they don't, try using the `ChainedFormatter::withUnixTimestampDates()` as formatter.

[2022-02-02 12:26] cubevis commented on #819
@lcobucci , many thanks for response! :)

I converted **.p8** using this line in terminal :
`openssl pkcs8 -nocrypt -in AuthKey.p8 -out AuthKey.pem`
But this didn't of course get me public key, so I tried another one :

[code]

This code finally gave me **private.pem** and **public.pem**

In terms of microseconds, could u explain more where should I do this?

Many thanks, Jake

[2022-02-02 17:53] lcobucci commented on #819
This is how I generate and convert ECDSA keys directly via openssl:

[code]

<details>
<summary>Sample Keys</summary>

## Private key

[code]

## Public key

[code]
</details>

With that, I'm able to issue and verify tokens:

[code]

The expected output here is something like:

[code]

Taking that token and public key to jwt.io gives you this:

![image](https://user-images.githubusercontent.com/20

[2022-02-02 18:03] lcobucci commented on #819
Ahhh, if your key is in DER format you should use this:

[code]

[2022-02-02 20:40] cubevis commented on #819
@lcobucci again many thanks for response! Let me test it and I will let u know asap! :)

[2022-02-02 21:43] ejseguinte commented on #717
I understand that this is an old and closed issue. I was just curious would there be a work around for using this library without the extension. It seems like RedHat has removed the extension and is no longer properly supporting it. It can be installed from another repo but due to customer constraints we cannot use that repo at this time.

[2022-02-02 21:46] SvenRtbg commented on #717
You can always fork and modify old versions as you like, I guess.

[2022-02-02 21:53] lcobucci commented on #717
@ejseguinte you can knowingly ignore the requirement during installation with something like `--ignore-platform-req=ext-sodium` or force composer to consider the extension as installed via https://getcomposer.org/doc/06-config.md#platform.

Either way should work fine for base64url encoding. You won't be able to use EdDSA, though.

[2022-02-02 21:57] ejseguinte commented on #717
I will have to try that. Thank you for the quick reply.

[2022-02-02 22:21] ejseguinte commented on #717
Did want to let you know, that did work for my use case. Thank you.

[2022-02-03 11:11] cubevis commented on #819
@lcobucci, soo I tried and let me tell what we got :
- Tested your private and public key, and also my generated with PHP and your commands and at : **jwt.io** and now after paste public it works! :)

Buuut, still for some reason Apple says : 401, Unauthorized which may be problem in somewhere else :/

So in summary :
- i generated private, and public from .p8 and after paste this to **jwt.io** fi

[2022-02-03 11:15] cubevis commented on #819
@lcobucci, this is what I also found :
https://developer.apple.com/documentation/appstoreconnectapi/generating_tokens_for_api_requests
Few important information, for example :
- **iat:** The token’s creation time, in UNIX epoch time; for example, 1528407600.

[2022-02-03 11:26] lcobucci commented on #819
And did you try to change the claims formatter as I suggested?

[2022-02-03 11:26] cubevis commented on #819
Yes, still not works :(

[2022-02-03 11:27] cubevis commented on #819
I wrote to Apple about this, because as u can see, you helped me to finally generate JWT which has signature verified but Apple doesn't like that :/

[2022-02-03 11:39] cubevis commented on #819
@lcobucci this is my AuthKey.p8

[code]

[2022-02-03 11:41] lcobucci commented on #819
@cubevis is that for a development environment? If not, please make sure to revoke it. Don't post this publicly to avoid compromising your credentials.

[2022-02-03 11:42] cubevis commented on #819
@lcobucci it is, but if we can solve this, i will of course disable this and generate new one :)

[2022-02-03 12:01] lcobucci commented on #819
Did you see this:

Your script was issuing tokens with 1h of expiration.

[2022-02-03 12:05] cubevis commented on #819
@lcobucci IT WORKS ! ! ! !

[2022-02-03 12:06] cubevis commented on #819
Jessuuuuuus.... :D :D

[2022-02-03 12:09] cubevis commented on #819
@lcobucci, many thanks for your help! I think this topic should be available for everyone who :
- Using PHP 8.1 with your liblary v4.1 to connect Apple

[2022-02-03 12:19] lcobucci commented on #819
It would be great if you could send a PR to the docs or create a discussion to share your findings.

Some remarks to make, though:

1. since you're only issuing tokens you probably don't need the public key (only the builder, signer, and signature key are required)
1. The key you pasted seemed like a PKCS#8 in PEM format. That shouldn't require any conversion to work with ext-openssl (I tested a s

[2022-02-03 12:34] cubevis commented on #819
@lcobucci let me deal with it and give feedback asap! :)

[2022-02-15 23:37] karser commented on #244
This worked for me. The `-nocrypt` option is important.
[code]
then paste its output:
[code]
[Here](https://karser.dev/how-to-generate-client-secret-for-apple-sign-in-from-p8-certificate/) are more details.

[2022-02-16 07:05] lcobucci commented on #244
@karser this is curious... In https://github.com/lcobucci/jwt/issues/819#issuecomment-1028934299 we confirmed that PEM PKCS8 keys work out of the box with the PHP openssl extension.

The problem they had was actually related to requirements of Apple's API regarding the exp claim (must be short lived).

Is your use case different from the author of the other thread?

[2022-02-17 19:37] mdsinghmalik opened #820 "Why can't I add 'sub' claim?"
I am trying to add subject claim as follows:

`$token->withClaim('sub', 'test@example.com');`

However, I get the this error:
Builder#withClaim() is meant to be used for non-registered claims, check the documentation on how to set claim "sub"

is this a bug? I am using version 4.1.5.

[2022-02-17 20:07] #820 closed, assigned to nobody

[2022-02-17 20:07] mdsinghmalik commented on #820
I found out it can set using relatedTo();

[2022-02-19 15:33] dev-mansonthomas opened #821 "Deploying to Google App Engine fails : ext-sodium is required by lcobucci/jwt"
Hi,
I'm upgrading from 3.x to 4.1.5 and when I'm deploying on Google App Engine (PHP 7.4), it fails because of a Sodium Dependency required by lcobucci/jwt.

I didn't see it documented here : https://lcobucci-jwt.readthedocs.io/en/latest/installation/

[code]

Is it possible to have the 4.x running without sodium extension ?
Or should I stick to the 3.x ?  any risk of doing so ?

[2022-02-19 15:39] Ocramius commented on #821
`ext-sodium` is bundled with newer PHP versions since a while (7.2 onwards - see https://wiki.php.net/rfc/libsodium ).

It is reasonable to expect it to be installed: contact GCP support and ask for help there.

[2022-02-19 15:39] #821 closed, assigned to Ocramius

[2022-02-19 15:46] dev-mansonthomas commented on #821
well, so the answer is I'm stuck with 3.x because I don't see GCP making a move for me...
(but I'll open a ticket to GCP support)

[2022-02-19 15:50] Ocramius commented on #821
Have you checked custom runtimes? I used to run similar runtime replacements on Heroku, and it is akin to providing a `Dockerfile` to build a base image/substrate for installation.

[2022-02-19 16:01] dev-mansonthomas commented on #821
I've started with that custom runtime, but it was painful (at that time at least), and honestly, I'm volunteering developing the project, I don't have much time for that.
So I'll stay on 3.x for now.

Thanks for trying to help though :)

I don't have access to google support, so I've posted on Google Community:
https://www.googlecloudcommunity.com/gc/Serverless/Google-App-Engine-to-support-Sodium-

[2022-02-19 16:44] SvenRtbg commented on #821
It seems like Google App Engine only scans the root composer.json for required extensions, but libsodium definitly is listed as being available and activated by default: https://cloud.google.com/appengine/docs/flexible/php/runtime#using_php_extensions

[2022-02-19 16:50] Ocramius commented on #821
So adding `ext-sodium` to your root `composer.json` could do the trick :)

[2022-02-19 16:51] dev-mansonthomas commented on #821
I'm missed it on the Extension page.
I've tried to set the ext-sodium:"*" in composer.json + php.ini, but this didn't worked.

    "require": {
        "php": "^7.4",
        "ext-PDO": "*",
        "ext-bz2": "*",
        "ext-json": "*",
        "ext-zip": "*",
        "ext-sodium": "*",

[2022-02-21 11:35] lcobucci commented on #821
It's possible but not desirable - we have a polyfill for the critical functions but you won't be able to use EdDSA.
You can use the `config.platform` setting in your composer.json file: https://getcomposer.org/doc/06-config.md#platform

[2022-02-22 10:19] pkly opened #822 "Unencrypted tokens and parser"
Hi, first off, love the lib. It's even better in 4.x than it was in 3.x.

One thing bothers me a bit though, since the interfaces moved around and claims() got moved to the UnencryptedToken  interface it left a weird gap in the Parser interface, since it's not possible to get a "proper" decoded token interface via the default implementation.
Yeah, it's returning an unencrypted plain token, but it'

[2022-02-22 10:25] Ocramius commented on #822
What I'm kinda missing is what we're trying to achieve: what is the use-case, at high level/architecture?

[2022-02-22 11:55] pkly commented on #822
We have our own oauth2 server which uses the jwt tokens for access. Sometimes we need to decode it to check for a few things, including ids. This is only possible by using claims, which are not available on the `Token` interface, but were easier to access in the 3.x library.

[2022-02-22 13:14] Ocramius commented on #822
Ah, so you mean that there should be a parser that guarantees that a non-encrypted token is returned.

Perhaps it would be a good idea to have an `UnencryptToken#__invoke(Token|UnencryptedToken|EncryptedToken $token): UnencryptedToken`, that you can funnel tokens through, and that always guarantees a cleartext token to be usable?

[2022-02-22 13:21] pkly commented on #822
I don't think it can always be assumed that a theoretically encrypted token could be decrypted without the use of a service with some configuration

[2022-02-22 13:22] Ocramius commented on #822
That would be a service :)

[2022-02-22 13:30] pkly commented on #822
Oh, sorry, I misread.
Yeah I suppose that would also work.

[2022-02-22 13:50] Ocramius commented on #822
@lcobucci WDYT? That would solve/remove the problem of casting a `Token` into an `UnencryptedToken`, which currently needs to be done via `assert(...)`, in order to be type-safe, such as in:

https://github.com/lcobucci/jwt/blob/5f1fbfd107c0b877b151f4d73f3353805ab8312a/src/JwtFacade.php#L37-L45

[2022-02-22 15:53] SvenRtbg commented on #822
There are some oddities around, IMHO. I'm just dealing with creating tokens, so after reading the docs I wondered: How can they suggest calling `claims()` without asserting what is returned from the builder? And looking at the `Lcobucci\JWT\Builder` interface, I was even more puzzled: `public function getToken(Signer $signer, Key $key): Plain;` - `Plain` is the implementation of `UnencryptedToken`

[2022-02-22 17:08] pkly commented on #822
Yes, that seems rather weird as well. I'd suggest just returning UnencryptedToken in both instances.

[2022-02-22 18:54] Ocramius commented on #822
It would be a separate object :)

[2022-02-22 21:20] lcobucci commented on #822
Folks, thanks for sharing your points!
It's the feedback I wanted to receive during the beta/rc releases of v4.0.

The new interfaces were created in v4.0 and the token was designed to be just a value object - which is generally okay for an interface to depend on.
`UnencryptedToken` was only introduced in v4.1 - and we didn't want to change the signature of the interface (even though it's not tech

[2022-02-22 22:09] Ocramius commented on #822
I'm not suggesting a new `Parser` implementation. I am suggesting a new interface:

[code]

This is kinda important due to parsing and decrypting being different planets 😁

[2022-02-23 07:35] pkly commented on #822
If in 3 everything including claims was contained within the token itself I don't really see why the split was necessary between `Token` and `UnencryptedToken` (if there was one? unsure, as I didn't really delve that deep into it before converting our code to v4).

I don't really mind either solution, either merging interfaces or having a separate one.
If we go the `DecryptToken` interface route w

[2022-02-23 19:35] SvenRtbg commented on #822
I have one thought related to the possible future situation with this library.

You may remember when basically all JWT libraries had a serious security flaw because they unconditionally accepted "none" as the signature method announced in the header, so an attacker might just select that schema, omit the third part with the signature, and has full control over the data part and any claims.

So no

[2022-02-23 20:17] Oxmoze commented on #822
My 2 cents.
`UnencryptedToken`, `EncryptedToken`... these terms are misused because obviously no encryption is done here.
Signed tokens are just encoded into base64 url safe but not encrypted.
It should simply be `Token`/`SignedToken`, `ParsedToken` or similar, but `encrypted` should not used at all unless JWE is supported

[2022-02-23 20:19] Ocramius commented on #822
The point is differentiating JWE from the other tokens: no confusion between **signing** and **encrypting**.

[2022-02-23 22:42] dev-mansonthomas commented on #821
Thanks @lcobucci ,

Adding the platform statement apparently helped deploying (I've retried twice, with and without, and for Google App Engine it's required to have the platform for sodium extension to work), here is the full working composer.json :

[code]

[2022-02-25 19:18] karser commented on #244
@lcobucci  Well, my case is Sign-in with Apple. I was using v3 of this library (requirement from other deps), Probably I need to try the v4.

[2022-02-27 09:38] spawnia commented on #822
The library currently has `(string $token): Token)` and `(string $probablyUnencryptedToken, SignedWith $signedWith, ValidAt $validAt, Constraint ...$constraints): UnencryptedToken`. It is clear to me that there is a gap between those, and I think there is a use case for a simple function with the signature `(string $probablyUnencryptedToken): UnencryptedToken`.

No custom implementation, parse + d

[2022-03-29 07:01] dungpxhtp opened #825 "Support laravel 9"

[2022-03-29 07:25] Ocramius commented on #825
This library has no laravel dependencies, therefore no compatibility issues, AFAIK.

[2022-03-29 07:25] #825 closed, assigned to Ocramius

[2022-03-30 06:30] james-bw opened #826 "Add withClaim validation for custom claim validation"
OWASP has a [list of things to improve security in JWT](https://cheatsheetseries.owasp.org/cheatsheets/JSON_Web_Token_for_Java_Cheat_Sheet.html#token-sidejacking). One of those things regarding token sidejacking is validating custom claims against a random fingerprint. It would be great if this library provided a way to compare custom claims and values and validate the claim exists and the value i

[2022-03-30 10:20] Ocramius commented on #826
This is possible by writing custom `Constraint` implementations?

https://github.com/lcobucci/jwt/blob/40e92badbed677404b93b35610c39d8533899e68/src/Validation/Constraint.php#L1-L12

In addition to that:

This is literally what a cryptographic signature does:

 1. a CSPRNG-based random fingerprint is generated
 2. then hashed/signed with a public key or a secret
 3. the receiving party validates th

[2022-03-30 15:08] SvenRtbg commented on #826
I don't really like that OWASP page, too. It is assuming that tokens are used in a browser context, so that it is possible to add a cookie that has a string, and then make the token contain the hash of the string.

What about not allowing the token to be intercepted in the first place? This whole chapter sounds like it is trying to fix a situation that already went downhill, i.e. there is no reaso

[2022-04-01 02:02] james-bw commented on #826
From a security perspective you have to mitigate risks. It's impossible to force clients (e.g. browsers) and server developers to never possibly use HTTP, which will always be exposed to man-in-the-middle attacks.

True, but it increases the complexity of the JWT defence, and therefore reduces the number of script kiddies who can execute an attack. Additionally, alternate options for fingerprintin

[2022-04-01 12:31] lcobucci commented on #826
That honestly sounds a bit like "security by obfuscation". However, I still believe the constraint is useful =)

[2022-04-07 11:52] bekee opened #834 ""message": "Key cannot be empty","
"message": "Key cannot be empty",
    "exception": "Lcobucci\\JWT\\Signer\\InvalidKeyProvided",
    "file": "/var/www/html/vendor/lcobucci/jwt/src/Signer/InvalidKeyProvided.php",
    "line": 23,

This error occurs on laravel 8.61 and laravel passport 10.3.

Any solution to this problem?

[2022-04-07 11:54] bekee commented on #834
@Slamdunk
Please any resolution to this?

[2022-04-07 12:17] Slamdunk commented on #834
I guess you are using `dev-master` version of this library, since https://github.com/lcobucci/jwt/pull/833 has yet to be released.

As the error message says, you either use a non-empty key or explicitly instantiate an empty key with `InMemory::empty()`.

[2022-04-07 12:20] Ocramius commented on #834
This change is intentional - see #833

[2022-04-07 12:20] #834 closed, assigned to nobody

[2022-04-07 12:40] bekee commented on #834
This was caused by laravel passport requiring the dev-master branch, I had to fix it at "lcobucci/jwt": "4.1.5" and it's all fine now

[2022-04-07 12:48] Ocramius commented on #834
Note that you will still need to switch to a non-empty key, as the next upgrade will require that for security reasons.

[2022-04-07 14:57] SvenRtbg commented on #834
Any version of laravel/passport that I can see in that version range on Github is requiring `"lcobucci/jwt": "^3.4|^4.0"`, so this most likely is not broken because of Laravel.

[2022-04-07 15:00] Ocramius commented on #834
@SvenRtbg the branch name is `4.2.x`, which will be picked up when running with `minimum-stability: dev` during `composer update`

[2022-04-25 14:21] anshulCoder opened #838 "InMemory cannot implement Lcobucci\JWT\Signer\Key"
Getting this error in latest version please help
`
Fatal error: Lcobucci\JWT\Signer\Key\InMemory cannot implement Lcobucci\JWT\Signer\Key - it is not an interface in /var/www/wmd/current/wmdcore-nightly/vendor/lcobucci/jwt/src/Signer/Key/InMemory.php on line 14`

Laravel version: 8.x
JWT: 4.1.5
php: 7.4.28

[2022-04-25 14:24] Ocramius commented on #838
`Lcobucci\JWT\Signer\Key` **is** an interface:

https://github.com/lcobucci/jwt/blob/00c96d7e4b36c8c72c0c818db0945ab13e9d9658/src/Signer/Key.php#L4-L6

Can you check your `composer.lock` for installed packages?

[2022-04-25 14:33] anshulCoder commented on #838
<img width="956" alt="Screenshot 2022-04-25 at 8 03 29 PM" src="https://user-images.githubusercontent.com/35722795/165110996-77210bc2-4a9a-49d9-bd7d-b6daeef2a5ff.png">
u mean something like this?

[2022-04-25 14:38] Ocramius commented on #838
I wonder if autoloading is broken? What's the file location for `Lcobucci\JWT\Signer\Key`, and what are its contents?

[2022-04-25 16:42] lcobucci commented on #838
@driesvints do you now if passport or laravel is declaring any class alias or overriding the class definition?

Only Laravel users are reporting this...

[2022-04-25 16:44] lcobucci commented on #838
https://github.com/lcobucci/jwt/issues/781 and https://github.com/lcobucci/jwt/discussions/782 were reported in the past but had no input from the reporter.

[2022-04-25 18:38] driesvints commented on #838
Hmm no not that I know of. We use `Lcobucci\JWT\Configuration` and `Lcobucci\JWT\Parser` but that's about it.

[2022-04-25 18:41] anshulCoder commented on #838
<img width="1295" alt="Screenshot 2022-04-26 at 12 09 59 AM" src="https://user-images.githubusercontent.com/35722795/165153062-f3bc9040-bef6-4356-9cd1-9c896d94e15d.png">
its same under vendor/lcobucci/jwt/src/Signer/Key.php
and content is also same as in screenshot above

P.S. the yellow line on 'Key' indicates duplicate file indication in another project in same folder so ignore that

[2022-04-25 18:49] lcobucci commented on #838
@anshulCoder would you please verify what your system says in runtime? Having something like this on the `InMemory.php` file should do the trick as it would be executed when autoloading it =)

[code]

[2022-04-25 19:14] anshulCoder commented on #838
I did above code in "InMemory.php" and "Configuration.php" but getting same error as soon as I send a request

[2022-04-25 19:15] lcobucci commented on #838
Did you completely replace the contents of `InMemory.php`?

[2022-04-25 19:16] anshulCoder commented on #838
nope, let me try that

[2022-04-25 19:20] anshulCoder commented on #838
it return this
`bool(false) string(76) "/var/www/wmd/current/wmdcore-nightly/vendor/auth0/php-jwt/src/Signer/Key.php"`
now I understood that file is loading from auth0 instead

[2022-04-25 19:23] lcobucci commented on #838
There's your culprit :smile:

https://github.com/auth0/php-jwt seems to be an old fork of my lib... do you need it? Maybe `composer why auth0/php-jwt` can help you understand which package requires it.

[2022-04-25 19:28] lcobucci commented on #838
Closing here then :+1:

[2022-04-25 19:28] #838 closed, assigned to lcobucci

[2022-04-25 19:29] anshulCoder commented on #838
I guess its being used by `auth0/auth0-php  7.9.2  requires  auth0/php-jwt (3.3.4)  `

[2022-04-25 19:37] lcobucci commented on #838
Indeed, upgrading that package to v8 should solve the incompatibility =)

[2022-05-12 03:22] tajribastudio opened #843 "PHP 8.1.2 issue"
Root composer.json requires lcobucci/jwt ^3.4.5 -> satisfiable by lcobucci/jwt[3.4.5, 3.4.6, 3.4.x-dev].
    - lcobucci/jwt[3.4.5, ..., 3.4.x-dev] require php ^5.6 || ^7.0 -> your php version (8.1.2) does not satisfy that requirement.

[2022-05-12 04:20] Ocramius commented on #843
You need to upgrade to `lcobucci/jwt:^4`

[2022-05-12 04:20] #843 closed, assigned to Ocramius

[2022-05-16 00:14] patcon commented on #32
@shadowhand in https://github.com/lcobucci/jwt/issues/32#issuecomment-508733011:

As I understand @Spomky, `gmp` extension is now optional in the `web-token/jwt-core` library you suggested above, yes?

From https://web-token.spomky-labs.com/introduction/pre-requisite:

But presumably this will be no slower than a library that avoids either of those deps, right?