[2014-11-20 00:53] lcobucci opened #1 "Improve Token::validate()"
This method is too complex, we can improve that.

https://scrutinizer-ci.com/g/lcobucci/jwt/code-structure/develop/operation/Lcobucci%5CJWT%5CToken%3A%3Avalidate

[2014-11-20 01:01] lcobucci opened #2 "Update to last draft"
This lib was created based on [draft-6](http://tools.ietf.org/html/draft-ietf-oauth-json-web-token-06), the last one now is the [draft-30](http://tools.ietf.org/html/draft-ietf-oauth-json-web-token-30).

[2014-11-20 01:03] lcobucci opened #3 "Reorganize signers namespace"
Would be a lot better if the HMAC-SHA\* had a separated namespace.

We should things move from `Lcobucci\JWT\Signer\Sha256` to `Lcobucci\JWT\Signer\Hmac\Sha256`.

[2014-11-20 01:14] lcobucci opened #4 "Implement RSASSA-PKCS1-V1_5 signers"
Implement the following signers:

- [x] RS256
- [x] RS384
- [x] RS512

[2014-11-20 01:15] lcobucci opened #5 "Implement ECDSA signers"
Implement the following signers:

- [x] ES256
- [x] ES384
- [x] ES512

[2014-11-20 01:16] lcobucci opened #6 "Implement encrypted tokens"
Allow encrypted tokens

[2014-11-20 14:55] #1 closed, assigned to lcobucci

[2014-11-20 15:13] #3 closed, assigned to lcobucci

[2014-11-23 23:33] #2 closed, assigned to lcobucci

[2014-12-08 11:07] henriquemoody opened #10 "Continuous Integration settings"
I see in _composer.json_ file other dependencies on [`require-dev`](https://github.com/lcobucci/jwt/blob/develop/composer.json#L19-L20), so you have:
- PHP_Codesniffer
- PHPMD

Usually those tools are not something you should use o define if a code is valid or not but they are great to measure the quality of the code.
I have been using [scrutinizer](https://scrutinizer-ci.com) for a long I think i

[2014-12-08 14:00] #10 closed, assigned to nobody

[2015-02-18 10:17] henriquemoody opened #14 "Create a "CONTRIBUTING" file."
It's a good think to explain how developers can contribute to this project, it makes easy to avoid mistakes.

[2015-03-07 04:17] #4 closed

[2015-03-07 04:39] #5 closed

[2015-03-13 09:27] agalstyan opened #20 "there's no method setIssuedAt in Builder"
there's a typo in method name. it's called "setIssueAt" instead of "setIssuedAt"

[2015-03-13 13:47] lcobucci commented on #20
Wow this is a nasty typo! Thanks for pointing it out.

I'll fix it right now and create the 2.1.1 version ;)

[2015-03-13 13:55] #20 closed

[2015-03-13 13:59] lcobucci commented on #20
@agalstyan all fixed and released, please update to 2.1.1 and have some :beers:

[2015-03-13 14:09] agalstyan commented on #20
nice, thanks)

[2015-03-13 20:11] mingomax commented on #6
Do you have some references about this? I would like to contribute!

[2015-03-13 20:30] lcobucci commented on #6
Awesome! You should read the rfc drafts (jwt, jwa, jws and jwe).

[2015-03-17 00:05] iannsp commented on #6
http://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32
:+1:

[2015-04-01 13:32] lcobucci opened #21 "The easiest is not always the safest..."
To make things easier to the end user of the library I've followed some aspects from another libs, and the ```Token::verify()``` was one of them, but after reading [this article](https://auth0.com/blog/2015/03/31/critical-vulnerabilities-in-json-web-token-libraries/) I think we should change some things (for good).

- [x] Remove ```Signer``` from ```Signature``` (and change the ```BaseSigner```);

[2015-04-01 13:53] lcobucci opened #22 "Simplify and improve Token"
Since #21 is introducing a new major release we can change somethings of this class:

- [x] Rename ```Token::header``` to ```Token::headers``` (this change should be applied on ```Builder``` as well);
- [x] Rename ```Token::getHeader()``` to ```Token::getHeaders()```;
- [x] Introduce ```Token::getHeader($name)``` to return a single header;
- [x] Remove ```Token::getSignature()``` (I just don't kno

[2015-04-01 14:03] lcobucci opened #23 "Decoder is turning objects into arrays"
The lib is converting objects into arrays instead of instances of ```stdClass``` (by calling ```json_decode($json, true)```).

This will cause some troubles when we're validating a token that have an empty object inside a claim. I think we should remove that ```true``` parameter and receive the ```stdClass``` to prevent this thing.

Is anyone against this?

[2015-04-01 14:54] #21 closed

[2015-04-01 15:25] #22 closed

[2015-04-01 15:52] #23 closed

[2015-06-17 13:27] henriquemoody commented on #14
Outdated.

PS.: I'm closing my older issues, please reopen if you think it's relevante.

[2015-06-17 18:26] lcobucci commented on #14
I believe that it's relevant, I just hadn't time yet to do it :smile:.

Let's keep it here.

[2015-08-03 20:08] lcobucci opened #25 "Token::verify() returning false when things are right"
```Token::verify()``` returns false when token is created by another library and the generated JSON string is different than PHP generates.

[2015-08-03 20:19] #25 closed

[2015-08-30 13:29] absolux opened #27 "Signer factory deleted !"
From a closed issue, the Signer Factory was deleted, for security reasons of course, but i think it still useful for signer creation, so instead of
[code]
we can use a factory
[code]
for example, it can be helpful when we use a configuration variable to store the signer id, like
[code]

[2015-08-30 15:34] absolux opened #28 "Token validation !"
I tried to create a token without Expiration claim, and validate it. the token validate method should return false, but instead it returns true.
[code]
I think ValidationData must validate the Token claims and not the opposite.

[2015-08-31 11:36] lcobucci commented on #28
Thanks @absolux for your contribution.

The ```ValidationData``` is not a validator, but is "bag" to define your expectations about the token. In that way you're required to inform what do you want to be validated.

To make your code work you have to do this:

[code]

My ideia was to ask to token to be validated against a set of data.

[2015-08-31 11:44] lcobucci commented on #28
But you remind me to create a new issue about the token validation process :smile:

[2015-08-31 12:01] lcobucci commented on #27
Yeap, I deleted this factory because it turned to be useless (and just increase the complexity of this library). The main idea is that you're able to use any IoC technique to create the objects to build your token.

Of course we can provide easier ways to help this configuration process but I just think that it should be in another package. In this way we might have a ServiceProvider for Pimple/Si

[2015-08-31 12:12] lcobucci opened #29 "Private/public claims validation"
The issue #28 remind me of that we actually don't have any way to validate private/public claims.

Of course this is an edge case because most of people will just "store things" in the token and are not expecting to validate a non-registered claim, but anyway this should probably be helpful for someone.

[2015-08-31 12:15] lcobucci commented on #28
I think this should be explained better in the documentation section

[2015-09-01 21:20] absolux commented on #27
I am using your package, in a laravel project, and i'll create a ServiceProvider to handle that.

Thank you.

[2015-09-01 21:20] #27 closed

[2015-09-01 21:35] absolux commented on #28
yes indeed, but `ValidationData` object has **by default** 3 claims [iat, exp, nbf] not validated by the token, because they are absent, and my test will always fail in case the token is not signed.

So, for that reason, `ValidationData` should know about required claims, and returns false before checking claims values

[2015-09-02 15:04] lcobucci commented on #28
Thanks again @absolux.
After taking more time to analyse your report I've found the reason why you're getting the wrong return from ```Token::validate()``` method.

It's not related with what you're saying, but actually with types and ```===``` comparison used by ```Claims\EqualsTo```.

Builder converts the subject claim to a ```string```, but ```ValidationData``` doesn't. So when you're using ```

[2015-09-02 15:06] lcobucci commented on #28
BTW token validation and signature verification are different things. That's why this isn't related with having unsigned tokens.

[2015-09-02 15:38] lcobucci commented on #28
@absolux I just released the version 3.0.3 with this fix, can you check if everything is fine now?

[2015-09-02 15:48] #28 closed

[2015-09-02 17:15] #14 closed

[2015-09-02 17:25] henriquemoody commented on #14
:dancer:

[2015-09-02 19:01] absolux commented on #28
Thanks a lot for the update, and the documentation is more clear now. :+1:

[2015-09-02 23:29] lcobucci commented on #28
Awesome @absolux! Some :beers: to you for reporting this!

[2015-09-03 09:36] jurriaan opened #30 "ECDSA signing/verification does not work"
I was testing if your ECDSA JWT validation works correctly, but couldn't get it to work.

This is the example I used:

[code]
returns false.

Maybe I'm doing something wrong, but I quickly looked over the code and it looks like the ECDSA signing is not implemented according to the JWT RFC. See https://tools.ietf.org/html/rfc7515#appendix-A.3.1.

Also see this issue: https://github.com/jwt/ruby-jwt

[2015-09-03 14:38] lcobucci commented on #30
Hello @jurriaan, thanks for your report.
I'll look it right now.

[2015-09-03 15:15] lcobucci commented on #30
@jurriaan you're right and I'm fixing it right now.
Thanks again for your contribution!

[2015-09-06 10:46] jurriaan commented on #30
@lcobucci You could test your signing and verification implementations (for all algorithms) against the [RFC 7520](https://tools.ietf.org/html/rfc7520) examples to make sure you've implemented RFC 7519 correctly.

Testing your verification implementation against your signing implementation doesn't work.

[2015-09-07 00:46] lcobucci commented on #30
That's very strange @jurriaan, but tomorrow I'll arrive from a small trip and will dig into it.

The HMAC and RSA algorithms are working and compatible with the jwt.io debugger and a python library that I've tested with.

With ECDSA I'm basically relying on OpenSSL and it's having issues to verify using the public key that you've sent, I'll try to use a pure PHP implementation and see what happens

[2015-09-08 00:06] lcobucci commented on #30
With a little help of @ericktedeschi I was able to find the reason why it's not working. It seems that OpenSSL doesn't support nist curves. I'm rewriting ECDSA signers to fix that.

Thanks everyone :smile:

[2015-09-09 16:16] fproject opened #32 "Support JWK"
Could you add support for JWK?

[2015-09-09 16:34] nguyenbs commented on #32
+1

[2015-09-10 02:13] lcobucci commented on #32
Sure! I'm just fixing the issue #30 and will plan the best way to support it.

[2015-09-10 16:57] #30 closed

[2015-09-10 17:04] lcobucci commented on #30
@jurriaan I think everything is fixed now, I just had to rewrite everything hehehe.
Grab some :beers: there, man! Thanks again.

I had to do some workarounds to keep the BC, but I'm planning a new major version right now :smile:.

[2015-09-10 17:13] lcobucci opened #33 "Extract Signature abstraction to lcobucci/jws"

[2015-09-10 17:13] lcobucci opened #34 "Extract HMAC signers to lcobucci/jws-hmac"

[2015-09-10 17:15] lcobucci opened #35 "Extract RSA signers to lcobucci/jws-rsa"

[2015-09-10 17:15] lcobucci opened #36 "Extract ECDSA signers to lcobucci/jws-ecdsa"

[2015-09-10 18:51] jurriaan commented on #30
Awesome!

[2015-09-11 13:32] lcobucci opened #37 "Extract documentation from README.md"
In order to improve the readability of the documentation let's split it into multiple files under **doc** folder.
- [ ] Provide some introduction about claims
- [ ] Provide some examples on what goes on server and client sides

[2015-09-11 13:39] lcobucci commented on #32
I'm starting this effort on lcobucci/jwk#1 and I'll change this lib to use JWK to sign this. Any help is wellcome!

[2015-09-11 18:37] lcobucci opened #38 "Extract Encoder and Decoder so they can be used in other libs"

[2015-09-11 21:38] #38 closed

[2015-09-16 09:36] robksawyer opened #39 "README Comment Typo"
I think you have a type in the README where you're setting the expiration dates. I'm thinking it should read:
[code]

Side note: Nice work on the library.

[2015-09-16 11:11] lcobucci commented on #39
Hello @robksawyer, you're right.
Thank you very much for your contribution :smile:

[2015-09-16 11:13] #39 closed

[2015-09-18 16:51] robksawyer commented on #29
Is it possible to use something like the following in validation?

I'm still trying to wrap my head around the signing part of the token. (See my comment below.)
[code]

[2015-09-18 17:03] robksawyer opened #40 "Method to extract payload?"
Does it make sense to have a helper method that extracts the payload claims that don't include: iss, aud, jti, iat, nbf, exp? Something like the following:

[code]

[2015-09-21 14:24] DarkGigaByte commented on #6
**+1** for this!

[2015-09-22 09:52] emilva commented on #29
+1 private/public claims validation would be very neat

[2015-09-23 20:00] robksawyer opened #41 "$data->setCurrentTime?"
Can you elaborate on why you're doing the following? I'm a bit confused. Shouldn't I be able to validate the token using `$data->setCurrentTime(time());`? Based on the current vs. the expiration time.

[code]

[2015-09-23 22:56] robksawyer opened #42 "Token not validating"
See any reason why the following wouldn't validate? Note: I've included the required files, as well.

[code]

[code]

[2015-09-23 23:29] lcobucci commented on #41
Hello @robksawyer, sorry about my huge delay to answer you (many things going on :smile:).

The ```$data->setCurrentTime()``` is being called in the example for documentation purposes and you should not call it (if you read carefully you'll see the lines above and bellow the invocation in README you'll see that the reason is fail at the second time).

In ```ValidationData::__construct()``` the cur

[2015-09-23 23:30] robksawyer commented on #41
I didn't read carefully. Noticed this shortly after I posted.

On Wednesday, September 23, 2015, Luís Otávio Cobucci Oblonczyk <
notifications@github.com> wrote:

[2015-09-23 23:31] lcobucci commented on #41
Ok I'll close this.

[2015-09-23 23:31] #41 closed

[2015-09-24 00:05] lcobucci commented on #42
Hello @robksawyer, I'll try to extract the token generation, point some things and suggest some minor changes:

## Creation

[code]

## Parsing, validation and verification

[code]

That's it :smile: I think this might help you understand things. Please tell me if you managed to solve this thing.

[2015-09-24 00:22] lcobucci commented on #40
@robksawyer sorry but I think this wouldn't improve things. Never saw anyone needing this. Can you provide more information in order to open my eyes to it?

Btw, you can easily achieve this with [array_intersect_key()](http://php.net/manual/en/function.array-intersect-key.php)/[array_diff_key()](http://php.net/manual/en/function.array-diff-key.php) and [array_map()](http://php.net/manual/en/functi

[2015-09-24 00:44] robksawyer commented on #42
Wow, this makes so much more sense now. I knew I was doing some pretty dumb stuff, just couldn't quite figure it out. Thanks for much for clarifying.

My misinterpretations are below. Maybe this'll help someone else in the future.

[code]

### setAudience
[code]

### setId
[code]

### setNotBefore
[code]

### set
[code]

## Decode Rev 2

[code]

Will add more details when I return later. Thanks ag

[2015-09-24 01:02] robksawyer commented on #40
This was before I realized that I could pass objects to the set method.
Sorry to bug.

On Wednesday, September 23, 2015, Luís Otávio Cobucci Oblonczyk <
notifications@github.com> wrote:

[2015-09-25 14:40] lcobucci commented on #40
Ok, closing this!

[2015-09-25 14:40] #40 closed

[2015-09-25 15:28] lcobucci commented on #42
I use the **jti** claim to insert tokens on a blacklist, that helps to make it unavailable despite the other claims.

The **aud** claim is a little tricky to use with mobile app, an option is to send a custom HTTP header. I recommend you to think a bit more if you really need it.

You're right about **nbf**, if you set it to ```time() + 60``` it will only be available after 60 seconds from the tim

[2015-09-25 15:54] robksawyer commented on #42
@lcobucci,
I was able to solve the issue. Most of my issues were a lack of understanding the creation process and what's needed. Thanks a lot for your help with this – it's so much clearer now.

[2015-09-25 15:54] #42 closed

[2015-10-05 08:42] lcobucci opened #43 "Use DateTime for date claims"

[2015-10-05 08:43] lcobucci opened #44 "Ensure that claim content is json serializable"

[2015-10-07 21:44] elazar opened #45 "Signer factory?"
I'm filing this issue mostly to feel out interest in and/or likelihood of acceptance of a simple factory implementation for `Signer` implementations if I were to submit a PR for one.

There's a [factory for Claims](https://github.com/lcobucci/jwt/blob/master/src/Claim/Factory.php), so it seems like there's some precedent for this.

This `Signer` factory would essentially resolve short algorithm na

[2015-10-07 22:11] lcobucci commented on #45
Hello @elazar we used to have a [signer factory in v2.x](https://github.com/lcobucci/jwt/blob/2.1/src/Signer/Factory.php) but it became useless in my opinion when I started to work on the v3.

@ocramius gave me an interesting idea about the creation of a configuration object to simplify the usage of both Builder and Parser. I was thinking to discuss more about that and create it in v4 (that I'm al

[2015-10-08 00:52] Ocramius commented on #45
I don't have enough insight on this, but it seems to me that factories are pretty much unnecessary in this lib.

Having the instances in a small configuration object is indeed simpler and more straightforward, whereas factories would be defined in framework-specific (or consumer-specific) implementations instead.

[2015-10-11 15:33] johndavedecano opened #48 "How to update or refresh token?"
I see alot of stackoverflow answers telling that you have to refresh the token every request so that it wont expire whenever there is an activity. Please let me know if this is okay. If yes, let me know how do it in your library/package thanks.

Dave

[2015-10-11 17:50] Ocramius commented on #48
@johndavedecano you just create a new token at each request...

[2015-10-11 20:12] lcobucci commented on #48
@johndavedecano the refresh thing depends on your use case, because JWT can be used in different contexts.

As @Ocramius said, if you just want to refresh it you just create a new token using the ```Builder``` with all claims you think you should use.

[2015-10-11 23:02] lcobucci opened #49 "Introduce configuration object"
As mentioned on #45 and #47 we're thinking a way to simplify the things by introducing a configuration object.

[2015-10-11 23:09] Ocramius commented on #49
@lcobucci I don't think this is better than the builder. (probably just provide the builder with better defaults and it's the same stuff).

It would be good to have the `Builder`, `Parser` and `Signer` to have in the config object.

Token generation is already easy-peasy, but gluing everything together isn't really.

[2015-10-11 23:10] Ocramius commented on #49
I think it would be good to survey the possible use-case scenarios first, in order to see what can be simplified. I personally think the builder is fine, and very simple to use :-)

[2015-10-12 04:29] lcobucci commented on #49
Ok. I've edited to don't confuse anyone else.

[2015-10-12 13:41] johndavedecano commented on #48
Is it possible to just update its expiration? Thanks

[2015-10-12 14:51] lcobucci commented on #48
Nope, the token is immutable.

[2015-10-12 15:43] #48 closed

[2015-10-14 07:19] rutwick opened #50 "Class Hmac not found in Sha256"
I get the following errors when I try to use the Sha256 interface:

Fatal error: Class 'Lcobucci\JWT\Signer\Hmac' not found in C:\wamp\www\examples\jwt-master\src\Signer\Hmac\Sha256.php on line 19

I include the following files:
include('jwt-master/src/Builder.php');
include('jwt-master/src/Signer/Hmac/Sha256.php');

Am I doing something wrong here? I'm fairly new to namespaces.

[2015-10-14 18:20] Ocramius commented on #50
@rutwick you should run a composer installation, not manual includes :-)

[2015-10-15 05:17] lcobucci commented on #50
Exactly @rutwick. As explained in [README.md](https://github.com/lcobucci/jwt#installation) you must use composer to install all project dependencies and have a PSR-4 autoloader (so you won't have to use manual includes).

I'll be closing this issue now ;-)

[2015-10-15 05:17] #50 closed

[2015-10-15 05:19] lcobucci commented on #45
I think that we can discuss about simplifying things in #49 and this issue can be closed.

[2015-10-15 05:19] #45 closed

[2015-10-27 15:01] lcobucci opened #51 "Move to PHP 7"
Since we're planning to break the BC in v4 I believe that we can push this forward and have a better API.

[2015-10-27 15:02] Ocramius commented on #51
:+1:

[2015-10-31 08:12] udf2457 commented on #51
PHP 7 is not release yet.
As per the PHP website:
 **"THIS IS A DEVELOPMENT PREVIEW - DO NOT USE IT IN PRODUCTION!"**

Therefore JWT should not be written in PHP7 yet !

[2015-10-31 12:18] Ocramius commented on #51
It's going to be stable in 2 weeks, so that is not a problem. Not every new
software bit needs to be developed against stable software only.
On Oct 31, 2015 09:12, "udf2457" <notifications@github.com> wrote:

[2015-10-31 12:27] udf2457 commented on #51
Ocramius,

Please.  Be sensible !

PHP7 might be "stable in 2 weeks" .... but how many people, honestly, are going to be bleeding-edge day zero adopters.

How many people have yet to even make the transition from PHP 5.5 to PHP 5.6 ?  And that's only a minor release.

I think it is far, far too early for you to say  "who cares about <7 users ...." ... maybe in 12/24 months.

[2015-10-31 12:29] Ocramius commented on #51
They can still use the previous version of the lib: that's why major
versions exist ;-)
On Oct 31, 2015 13:27, "udf2457" <notifications@github.com> wrote:

[2015-10-31 12:30] udf2457 commented on #51
Ocramius,

That's even more stupid.

So basically you let them use an abandoned old version.

Shame on you.

[2015-10-31 12:33] Ocramius commented on #51
Who ever said old versions are abandoned?  That is not how it works, do not
worry. There is bug/security support for (some) older versions of pretty
much every lib.

See ZendFramework for example: v1.* is still maintained and patched for
bugs/security issues since 3 years after 2.* came out.
On Oct 31, 2015 13:30, "udf2457" <notifications@github.com> wrote:

[2015-10-31 22:04] lcobucci commented on #51
@udf2457 the v3.x is fully working and we have dozens of BC-break ideas, that's why we're going to make a v4.x (but the v3.x will be maintained).

With that we can have PHP 5.5+ folks using v3.x (and helping to make it even better - respecting the BC) and PHP 7+ folks using the v4.x new API.

The v4.x won't be released in less then 14 days.

We also have (until now) two features that can be implem

[2015-11-08 02:36] lcobucci opened #52 "Do we really need to throw an exception when verifying the signature of an unsigned token?"
I thinking that just returning ```false``` would be good enough and will simplify the code of library users.

Instead of doing:

[code]

Users could do:

[code]

Any thoughts?

[2015-11-08 05:02] Ocramius commented on #52
Agreed: no signature or invalid signature are equivalent, from a functional standpoint.

[2015-11-11 13:36] fipp opened #53 "need to set 'x5t' in header"
Hi! I am creating a PHP application that will read/write to my organizations office 365 calendar's. In order to get a valid authentication token to use in the Calendar API, I need to do send a POST request to the token issuing authority, containing a JSON Web Token signed with a private x509 key. A certificate thumbprint of the public key needs to be set as the value of the x5t key in the JWT head

[2015-11-11 15:06] lcobucci commented on #53
Hey @fipp!

I was planning to add that kind of header in the next major release (along with JWK support #32) but I think that it's quite simple to implement that in v3.x.

The simplest solution that comes to me now is adding a method in ```Builder``` to configure token headers (something like ```setHeader(string $name, mixed $value):Builder``` and just changes the headers only if it's not signed).

[2015-11-14 16:50] lcobucci opened #54 "Add a default value for getClaim()"
Allow the return of a default value when it's passed (for 4.x we can remove the exception and just return the default value).

[2015-11-14 16:51] lcobucci opened #55 "Add hasClaim() and hasHeader() to token"

[2015-11-14 17:04] #55 closed

[2015-11-15 01:12] #54 closed

[2015-11-15 01:44] #53 closed

[2015-11-16 18:57] eugenehan commented on #32
Can I use this library in PHP 5.3.3?

[2015-11-16 23:50] lcobucci commented on #32
@eugenehan no, this lib can just be used with PHP 5.5+ (since there's no support for earlier versions http://php.net/supported-versions.php).

Our next major release will only support PHP 7.

[2015-11-18 00:55] lcobucci commented on #53
Hey @fipp go and install v3.1.0 and you'll able to change the token using the ```setHeader()``` method on ```Builder```.

[2015-11-18 07:09] fipp commented on #53
Thank you very much, great work! Sorry that I couldn't get around to submitting a PR...

[2015-12-02 12:42] AlmogBaku opened #56 "Make `Key` extendable"
`Key` class is final and not extendable. Why?

[2015-12-03 09:44] psylo31 opened #57 "Keychain deprecated"
Is it normal, the class Keychain is deprecated ?

"@deprecated Since we've removed OpenSSL from ECDSA there's no reason to use this class"

I use this class with RSA encryption like in your documentation page , is it an error ?

Thanks for your answer.

[2015-12-03 09:59] lcobucci commented on #57
Yes, it will be removed in v4.0.

If you look at its code you'll that it's just returning an instance of ```Key``` which makes it pretty useless :smile:.

[2015-12-03 10:01] lcobucci commented on #56
That class it's not meant to be extendable.
It's just a value object that contains the key content or certificate path.

Why would you need to extend it?

[2015-12-04 13:48] AlmogBaku commented on #56
for implementation of dynamic key (using jti)

[2015-12-04 14:18] lcobucci commented on #56
You can create you own key and just pass the instance to ```Key``` constructor, just implement a ```__toString()``` and it will be accepted.

[2015-12-04 22:47] robertvandell-ck opened #59 "HMAC SHA256 signatures differ in 3.0.5"
I recently updated via composer from 3.0.4 to 3.0.5 and the signature portion of tokens no longer behaved as expected.

[2015-12-04 22:48] Ocramius commented on #59
Can you clarify on the change? Maybe provide a sample?

[2015-12-04 22:51] robertvandell-ck commented on #59
I'm not positive what the change was, but my unit tests started breaking:

3.0.4 (Expected on top, actual on the bottom)

    eyJ0eXAiOiJKV1MiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczpcL1wvYWRtYXguY3JlZGl0a2FybWEuY29tIiwiYXVkIjoiaHR0cHM6XC9cL2FkbWF4LmNyZWRpdGthcm1hLmNvbSIsImZvbyI6ImJhciJ9.cirNIUOWHtqZTgWYzK06s3D9X2VImeZiLn0PzU5xMEo
    eyJ0eXAiOiJKV1MiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczpcL1wvYWR

[2015-12-04 23:26] lcobucci commented on #59
Something is really strange with both tokens, can you provide us the inputs?

[2015-12-04 23:45] robertvandell-ck commented on #59
I can't provide the exact content, as it's sensitive information, however I can provide an example of a method we're using the library for:

    $token = (new Builder())->setIssuer($issuer)->setAudience($audience);

    $token->set('foo', 'bar');
    $token->sign(new Sha256(), $key);

    return (string) $token->getToken();

[2015-12-05 17:34] lcobucci commented on #59
No problem @robertvandell-ck

The change is in the header part (which is related to the fix that happened in v3.0.5):

eyJ0eXAiOiJKV1**M**iLCJhbGciOiJIUzI1NiJ9
eyJ0eXAiOiJKV1**Q**iLCJhbGciOiJIUzI1NiJ9

Of course that impacts on the signature.

In v3.0.4 we were using "JWS" as typ, but that's not right since we're representing a token and not a signature.

You can always use the [JWT debugger](http

[2015-12-12 14:45] ricardofontanelli commented on #52
Any news about this feature?

[2015-12-12 21:35] lcobucci commented on #52
Hey @ricardofontanelli this will be implemented for v4. Soon I'll be working on it :smile:

[2015-12-19 02:12] killua-eu commented on #6
+1 as well!

[2015-12-20 22:33] lcobucci commented on #59
Closing since is not an issue, thanks!

[2015-12-20 22:33] #59 closed

[2015-12-20 22:34] lcobucci commented on #57
Solved by #58

[2015-12-20 22:34] #57 closed

[2015-12-20 22:36] lcobucci commented on #56
@AlmogBaku I'll close this issue. If you need any help to make it work please let's discuss.

[2015-12-20 22:36] #56 closed

[2015-12-20 23:49] #51 closed

[2016-01-04 00:13] #52 closed

[2016-01-23 00:01] killua-eu opened #69 "JWT intro usage"
Hi,

Started playing with jwt and for various reasons ended up writing a selfcontained demo of using jwt+cookies as a drop-in replacement for session auth (see https://gist.github.com/killua-eu/d45ac9a7c8073f24876b). Luis, would you mind looking at the code and pointing out obvious fallacies + best practices according to your experience? I'd like to post the code somewhere more public to make thin

[2016-01-23 00:02] Ocramius commented on #69
@killua-eu you can check https://github.com/Ocramius/PSR7Session for a reference implementation on which I, @malukenho and @lcobucci worked on together in August.

[2016-01-25 20:21] KylePalko opened #70 "openssl_pkey_get_details() expects parameter 1 to be resource, boolean given"
This code from the readme:

[code]

Is causing this exception:

[code]

I have the extension installed / enabled. Is this a problem on my end? I am requiring version 3.1 of lcobucci/jwt.

Thanks for writing this library. Besides this issue it has been great!

[2016-01-25 21:40] #70 closed

[2016-01-25 21:46] Ocramius commented on #70
@KylePalko was this supposed to be closed? What was the resolution?

[2016-01-25 21:50] KylePalko commented on #70
I didn't want to blast my ignorance all over the internet, but since you asked ;) I was including the RSA namespace version of the Sha256 object. When I copy/pasted I must have left the RSA version in from my previous tests.

So, the solution was to pay attention and include the correct Sha256 object, hah.

Thanks for your concern!

[2016-01-27 08:11] delatbabel commented on #37
What would help, I think, is to separate the documentation into what needs to be done on the client side and what needs to be done on the server side.  At the moment I'm trying to write a REST API client and server and it's not clear at first what needs to be done on the client and what needs to be done on the server.

[2016-01-27 14:46] iannsp commented on #37
:+1:

[2016-01-27 19:33] Ocramius commented on #70
@KylePalko no shame in that, this is just for the records/for others having a similar issue.

[2016-01-28 00:10] KylePalko commented on #70
Great idea, thanks!

[2016-01-29 21:51] mnicolas80 opened #71 "Catch exceptions when token is being injected"
Is there any way to catch specific or multiple exceptions in case of token injection?

In details, when I change a generated token, the lib throws exceptions like:
- RuntimeException in Decoder.php line 36
- OutOfBoundsException in Token.php line 110

As a result, I cannot proceed to token validation.

Thank you

[2016-01-31 07:58] lcobucci commented on #37
That's a good idea @delatbabel, can you send a PR with your experience and we may improve it together?

[2016-01-31 10:28] lcobucci commented on #71
@mnicolas80 the `RuntimeException` happens when there's an error when parsing the JSON content and the `OutOfBoundException` when you're trying to get a header that don't exists.

What do you mean by "when I change a generated token"? Can you provide more details about that - maybe your code?

[2016-01-31 10:55] mnicolas80 commented on #71
@lcobucci thank you for your quick response!

I am writing a API that a part of it is the JWT authentication. Any authorized user has his token that must be sent to any future request. Everything worked successfully, till the moment I changed(injected/removed) some characters of the generated token.

I am using the following method to validate the token:
``
$token = (new Parser())->parse((string)

[2016-01-31 11:23] lcobucci commented on #71
If you add/remove characters from the `$givenToken` your base64Url string will not be correct and you'll have parsing errors. To catch them just put the `Parser#parse()` call in a try/catch block and expect the `\RuntimeException`:

[code]

You're probably trying to catch that exception without the "use" statement or the "\", then PHP will try to find an exception with that name within the namespa

[2016-01-31 13:54] mnicolas80 commented on #71
Now, my new try/catch code is the following and works:
[code]

Thank you @lcobucci for your help!

[2016-01-31 14:09] lcobucci commented on #71
@mnicolas80 your validation is a bit naive since you're using the data (`iss`, `aud` and `jti`) stored in the token to validate it.
The ideia is to use information you know to make sure that the token has them. Check the RFC to understand better the meaning of each claim.

It's also important to verify the token signature, take a look at the README ;-).

I'll close this issue, if you need somethin

[2016-01-31 14:09] #71 closed

[2016-02-01 09:55] schnittstabil opened #72 "Token Validation API"
In my opinion, the current Validation API can be greatly improved:

[code]
1. returning `true` resp. `false` isn't very useful; returning a list of _constraint violations_ (i.e. Errors or similar) would be more helpful, e.g. like [Symfony and Java](https://github.com/symfony/validator) do.
2. token objects should not be responsible for validation; this violates many design principles (e.g.&nbsp;[S

[2016-02-01 10:14] delatbabel commented on #37
Will do. I'm in the middle of some other major work at the moment but I'll get onto it in the next couple of weeks.

[2016-02-01 10:20] lcobucci commented on #72
@schnittstabil some tradeoffs were made and when I built the `Token#validate()` I just need to know either if the token is valid or not (the violation list has not adding much value).

But you're right in your points and the next major release (v4) is a great opportunity to fix that. Could you send us a PR?

[2016-02-01 10:21] lcobucci commented on #37
No problem @delatbabel :smile: thanks!

[2016-02-01 10:45] schnittstabil commented on #72
Sorry, I have no time for it, but I'll remember this issue when I'm less busy.

[2016-02-04 12:35] dannydorfel commented on #72
@lcobucci I have done some work on nr 2. Creating a validator class with a validate(Token $token, ValidationData $data). Will send in the PR this evening after fixing the tests.

I would also like to suggest the validator raises an Exception containing the errors. Since an invalid token could be potentially dangerous for the security of the system, the validate should not return false. The develop

[2016-02-04 17:39] lcobucci commented on #72
@dannydorfel it would be awesome to see your PR.

I left the decision of raising an exception to the user and I think it makes things simpler in some cases however I see the benefits of that.

Some validation libraries offers different methods to handle that thing (ex: `validate` and `assert`).

Right now I'm not too sure what would be the best way to go...

[2016-02-07 08:45] scaytrase commented on #32
@lcobucci would you support previous version after migrating on php7

[2016-02-07 11:40] lcobucci commented on #32
@scaytrase the plan is that we'll keep the new features on v4.x+ and security/bug fixes on both v3.x and v4.x+.

[2016-02-19 03:17] jom commented on #29
+1 I'd especially like to be able to override just `exp` for adding a grace period when refreshing a [potentially a bit expired] JWT.

[2016-03-04 10:23] nunovieira93 opened #79 "Nested JWT's ? It supports or will support? It is possible to create one right now?"
Hi guys. Thanks for this Lib, its really great, i love how it works.

But, i want to know if you guys will ever make a **Nested JWT** (**JWS** inside a **JWE**) like in this post: [signed-and-encrypted-jwt](http://connect2id.com/products/nimbus-jose-jwt/examples/signed-and-encrypted-jwt).

With the lib how its right now, it is possible to make a Nested JWT ? Maybe with custom code?

Thanks!

[2016-03-05 13:38] lcobucci commented on #79
Thanks @nunovieira93, it's good to have this nice feedback :smile:

We're slowly working on the next major release and #6 will solve that need - but we don't have any idea about when it will be released :disappointed:.

I'm still thinking about the best way to implement it (probably will be a different repo since my ideia is to let people download just what they really want/need).

[2016-03-05 15:13] nunovieira93 commented on #79
Oh ok, thanks for the fast reply ! :smile:

I'll be waiting for that release then. Good Luck!

[2016-03-05 18:14] devkiran opened #80 "can we invalidate a token when user logout?"
I have been using this library for the last 2 week. Its working perfectly fine. I have one question about how can we invalidate a token we already created when user logout ?

Thanks

[2016-03-05 18:16] Ocramius commented on #80
The only way to do that is to assign identifiers to each token, and then track those ids and mark them as "logged-out". Otherwise, deleting the token from the client system is the quickest solution.

[2016-03-05 19:40] Art4 commented on #80
You could also reset the key for the signer, but this will invalidate every token for the user.

[2016-03-06 13:37] lcobucci commented on #80
As @Ocramius said, the token revocation is the easiest way to deal with that.
Read https://auth0.com/blog/2015/03/10/blacklist-json-web-token-api-keys/ and https://dadario.com.br/revoking-json-web-tokens/ to get some ideas.

I like to use a cache engine to stored the "blacklisted" tokens, setting the expiration of the item on the cache with the same date of the token, this way your revoked tokens

[2016-03-06 13:40] lcobucci commented on #79
Awesome @nunovieira93! I'll mark this as a duplication of #6 and close it :wink:

[2016-03-06 13:40] #79 closed

[2016-03-06 13:48] devkiran commented on #80
Okay. I will try above said methods.

[2016-04-13 11:35] Ocramius opened #82 "Support token compression"
JWT tokens can be quite long: adding some basic gzip (or better) support to compress their contents/signature would be a plus.

Doesn't seem like it's part of the spec for now, though: https://github.com/dgrijalva/jwt-go/pull/102#issuecomment-209151496

Maybe a good idea to push back to the spec here?

[2016-04-13 11:36] Ocramius commented on #82
/cc @DASPRiD

[2016-04-13 15:39] Ocramius commented on #82
After discussing this with @lcobucci, we came to the conclusion that compressing tokens is just not worth it. Specifically, for following reasons:

 * when using JWT tokens in HTTP headers, [HTTP2 already provides header compression](https://http2.github.io/faq/#why-do-we-need-header-compression)
 * token compression algorithm would have to be stored in JWT headers, which makes most of the token n

[2016-04-13 15:39] #82 closed

[2016-04-16 21:37] #80 closed

[2016-04-19 16:59] TheConsciousness opened #85 "Validation returning false."
**SOLVED: Read below**

I'm not sure what I am doing wrong, as I've tried this with the example provided by the page and it was still returning false.

`use Lcobucci\JWT\Builder;
use Lcobucci\JWT\Signer\Hmac\Sha256;
use Lcobucci\JWT\ValidationData;

$signer = new Sha256();

$token = (new Builder())->setIssuer('http://example.com') // Configures the issuer (iss claim)
                        ->setA

[2016-04-19 17:23] #85 closed

[2016-04-19 19:31] lcobucci commented on #85
@TheConsciousness you shouldn't edit the file to validate non public claims (that feature is not available on v3.x). We're working on a new validation system so you'll also be able to handle those claims but it will only be available for v4.

[2016-05-23 08:22] WaylandZhang opened #86 "Cannot find function name getSigner()"
When I try to use ```Lcobucci\JWT\Signer\Ecdsa\Sha256``` and run the code
 ```$signer = new Sha256();```  it returns error

`Fatal error: Call to undefined method Mdanter\Ecc\EccFactory::getSigner() .. in /jwt/src/Signer/Ecdsa.php on line 49`

Any ideas?

[2016-05-23 08:32] lcobucci commented on #86
Humm that's not cool, it seems they changed they API breaking BC. Will see if that is the case.

Which branch are you using?

[2016-05-23 08:36] lcobucci commented on #86
I just saw their code and it's all fine, did you installed the suggested dependency (`mdanter/ecc`)?

[2016-05-23 09:11] WaylandZhang commented on #86
Hi @lcobucci

I'm using your **master** branch, and **mdanter/ecc** installed as well, version `"mdanter/ecc" : "~0.1"`

[2016-05-23 09:27] lcobucci commented on #86
Can you check on your `composer.lock` file and make sure that you have the same version as required by the tests: https://github.com/lcobucci/jwt/blob/master/composer.json#L30

BTW in production you should use the stable versions since the API on `master` will change a lot for v4.0

[2016-05-23 09:44] WaylandZhang commented on #86
Hmm, I tried phpcc `0.3.0` then it seems my Mac doesn't have **php gpm**, I'll try later and let you know :)

[2016-05-23 12:31] WaylandZhang commented on #86
Confirmed, it was my local Mac setup, after enabling **php5-gmp** it works just fine..
A great framework, thanks a lot!

[2016-05-23 14:09] lcobucci commented on #86
Awesome, thanks 😄

[2016-05-23 14:09] #86 closed

[2016-05-24 22:53] lcobucci opened #88 "Add some information on how create RSA/ECDSA keys"

[2016-05-24 22:59] #49 closed

[2016-05-25 10:01] david-byng opened #89 "Class 'Lcobucci\JWT\Builder' not found"
It looks like the latest patch release breaks BC with the new `$config->createBuilder()` syntax.

[2016-05-25 10:59] lcobucci commented on #89
It indeed breaks. As you can see on https://github.com/lcobucci/jwt/blob/master/CONTRIBUTING.md#branches `master` is meant for v4 (release that we're currently working).

If you want stable versions you should use the v3.x tags 😄

[2016-05-25 11:04] lcobucci commented on #89
And it was not a release, was just an update on the `master` branch.

[2016-05-25 11:05] lcobucci commented on #89
Will close this as invalid please let us know if have further problems 😉 .

[2016-05-25 11:05] #89 closed

[2016-05-27 17:45] geggleto opened #90 "Encrypting token strings"
Would you be willing to include a method of encrypting the output of getToken?

I created a basic wrapper around Halite and your JWT package [https://github.com/geggleto/securejwt] ... but I think it should probably be optional in your package.

Just wondering if this is something you might be willing to accept a PR for.

[2016-05-27 19:25] moderndeveloperllc commented on #90
@geggleto One issue I see with your implementation is that you are encrypting the the entire token and just outputting the results. At that point it's not longer a JWT. You would need to follow the [examples in the RFC](https://tools.ietf.org/html/rfc7519#page-26) to encrypt and display in the required format. [Nested JWT](https://tools.ietf.org/html/rfc7519#page-26) might be the easiest to implem

[2016-05-27 19:31] geggleto commented on #90
@moderndeveloperllc Yep the string you send back is definitely not a JWT. I see your argument :)

I was using it to replace PHP sessions entirely.

[2016-05-27 19:31] #90 closed

[2016-05-27 20:14] moderndeveloperllc commented on #90
@geggleto I'm looking to do that too. A few things to think about. With TLS (HTTPS), headers are already encrypted, so you don't need to worry about a MitM attack on the token any more than the normal "HTTPS is buggy" kind of attacks. In my opinion, JWTs main advantage over just providing a UUID is the ability to pass the client info they can easily use (API commands they are authorized for, etc)

[2016-05-27 20:17] geggleto commented on #90
@moderndeveloperllc Yeah this goes so far to make the JWT completely hidden from the client.

[2016-05-28 15:12] lcobucci commented on #90
Thanks for that discussion guys!

I definitely want to support encrypted and nested JWT's on v4 and on that release the lib will be really redesigned so my effort now is 100% on planning how things will work together (when the paid work allows me HAHAHA).

Would be very nice to have your help on that, I'll be opening some issues on next weeks to discuss some decisions that I made in the past and I

[2016-05-29 04:13] geggleto commented on #90
@lcobucci I'll be watching for them.

[2016-05-31 08:47] nicozhang opened #91 "Can I get data from encoded token string with secret key like other jwt implement?"
I am trying to use jwt in PHP,but they are all hard to use.Your implemtent seems much easier.I have used python jwt, it is very easy to use and I can get data with secret key.But I can not find the method in your implment.Did I miss something import?Wish for your help?

[2016-05-31 09:33] lcobucci commented on #91
@nicozhang what you mean with "get data with secret key"? Give us some more information so we can help you 😉

[2016-05-31 09:50] nicozhang commented on #91
The code below from psecio/jwt:
<?php

require_once 'vendor/autoload.php';

$key = 'example_key';
$encryptKey = 'my-encryption-key';

$header = new \Psecio\Jwt\Header($key);
$jwt = new \Psecio\Jwt\Jwt($header);

$jwt
    ->issuer('http://example.org')
    ->audience('http://example.com')
    ->issuedAt(1356999524)
    ->notBefore(1357000000)
    ->expireTime(time()+3600)
    ->jwtId('id123456')

[2016-05-31 10:16] lcobucci commented on #91
We don't have nested and encrypted tokens implemented yet 😞, but it's planned for next major release.

[2016-05-31 10:21] nicozhang commented on #91
Awesome,may I be the member of your team? I also can  add other  features to your repo.Your implement is much more grace than others.

[2016-05-31 11:19] lcobucci commented on #91
Contributors are usually invited based on their contributions to the project, but you don't need to be a contributor to collaborate you can just fork the repo and send PRs with improvements 😄

Will close this as `invalid`.

[2016-05-31 11:36] #91 closed

[2016-06-01 13:03] udf2457 opened #93 "Enable integration with third-party signing"
For those people who may use cloud-based security infrastructure (e.g. Azure Keyvault HSM, Amazon  AWS HSM), there is no way to integrate signing with lcobucci/jwt because, for example, your code presently requires people to supply the path to the private key on the local filesystem.

For avoidance of doubt, I am not saying that you need to code all the API communications !   I am just saying, giv

[2016-06-01 13:14] geggleto commented on #93
@udf2457 so all we need to do is change the Key class to accept a string that you can generate yourself ?

[2016-06-01 13:18] udf2457 commented on #93
@geggleto Sounds about right.

(I'm guessing the function to retrieve payload/string to sign is already marked public, if not it will need to be).

[2016-06-01 13:23] lcobucci commented on #93
As you can see on https://github.com/lcobucci/jwt/blob/3.1/src/Signer/Key.php#L45 we already allow strings on constructors, so you can do the "black-box" magic and create a new `Key`.

The `file://` is not expected but was just added to don't break BC after the `Key` class was introduced.

[2016-06-01 13:23] geggleto commented on #93
@udf2457

### For branch 2.1

if you look at... https://github.com/lcobucci/jwt/blob/2.1/src/Builder.php#L213-L223
You can see the signature of sign accepts a (string) for the key...

Same thing for verifying...
https://github.com/lcobucci/jwt/blob/2.1/src/Token.php#L136-L143

[2016-06-01 13:24] lcobucci commented on #93
@geggleto v2 was discontinued and should not be used due to security reasons.

[2016-06-01 13:26] lcobucci commented on #93
@udf2457 for now you can fetch your while creating the `Key` object and after we have #32 (on v4) you'll be able to user external URLs to create tokens.

[2016-06-01 13:27] geggleto commented on #93
@lcobucci ah okay, noted.

[2016-06-01 13:28] udf2457 commented on #93
@lcobucci Am a little confused about your reference to https://github.com/lcobucci/jwt/blob/3.1/src/Signer/Key.php#L45, isn't that used for providing a Key not a signed string ?

[2016-06-01 13:32] geggleto commented on #93
@udf2457 if your Content does not contain the string `file://` it is treated as a string and will not load the file.

[2016-06-01 13:40] lcobucci commented on #93
@udf2457 exactly as @geggleto explained 😉

[code]

If you need more power you could even do:

[code]

[2016-06-01 13:41] udf2457 commented on #93
@geggleto @lcobucci So, just to be sure, based on the example code on your homepage that this sort of thing will work as intended ?

[code]

[2016-06-01 13:44] udf2457 commented on #93
`// You can create:
$key = new Key('file:///test/private_key.pem');
// or:
$key = new Key(file_get_contents('/test/private_key.pem'));
// or: (with the right line endings)
$key = new Key('-----BEGIN RSA PRIVATE KEY-----
MIICWwIBAAKBgQDdlatRjRjogo3Wojg...');`

Yes, but surely this is exactly the problem I'm telling you ? ;-)

The cloudy stuff is HSM.... i.e. once in the HSM, the private key never e

[2016-06-01 13:49] geggleto commented on #93
I ended up writing my own wrapper around it... https://github.com/geggleto/securejwt required libsodium tho

[2016-06-01 13:52] udf2457 commented on #93
Alright, this is getting silly now.

I've got nothing against the great libsodium, but surely I don't need it to be able to concatenate a ready-made signature onto a JWT token (I'm no JWT guru but I'm guessing that's how it works !)

[2016-06-01 13:53] lcobucci commented on #93
@udf2457 ok so your problem is not about with the `Key` creation at all. You actually need a customized `Signer`.

For that you just need to implement the `Signer` interface (https://github.com/lcobucci/jwt/blob/3.1/src/Signer.php) and do your black magic there. The `BaseSigner` (https://github.com/lcobucci/jwt/blob/3.1/src/Signer/BaseSigner.php) can be used to help you.

I have no intention on pr

[2016-06-01 13:53] udf2457 commented on #93
@lcobucci ok, I'll take a look at the interfaces suggested.

[2016-06-01 13:55] lcobucci commented on #93
@udf2457 don't forget to use the stable version as dependency as `master` is meant for the next major release and it's API **WILL CHANGE**.

[2016-06-01 13:55] #93 closed

[2016-06-01 14:00] lcobucci commented on #93
Will mark this as `wontfix` since is out of scope of this package, but please create your signer on a new repository and mention me on a PR if need any help 😄

[2016-06-02 07:00] lcobucci opened #94 "Add information about how to extend the library"
Some people have needs that are not exactly covered by the RFC and they could easily extend the lib and provide their custom needs (like #93).

[2016-06-13 14:05] geggleto opened #96 "JWT Token to builder"
For the new version would it be possible to make it easier to turn a Token back into a Builder ?

Example, I am trying to write a Middleware that uses JWT to manage application state [basically replacing native sessions], and while the Parser gives back a Token, Tokens are immutable, which leaves me to having to do a bunch of hackish things... it would be best if Tokens were not immutable and had

[2016-06-13 16:23] schnittstabil commented on #96
@geggleto Interesting idea, however, I can't image how to do that with middlewares, and how mutability would help.

Especially, the `ResponseInterface` doesn't have a `withAttribute` method–or similar!?

[2016-06-13 16:44] geggleto commented on #96
Hey Mike,

https://gist.github.com/geggleto/4c90a4037580bc5a128a5184e37a8cc0
withAttribute on ServerRequest... the problem is having to take the Token
and reinsert into the Builder in order to modify a token once created.

On Mon, Jun 13, 2016 at 12:23 PM, Michael Mayer <notifications@github.com>
wrote:

[2016-06-14 09:54] lcobucci commented on #96
When I was designing the first version of this lib I thought about something like `Builder::fromToken(Token $token):Builder` but I never had the need, even after playing with @Ocramius on [PSR7Session](https://github.com/Ocramius/PSR7Session)...

I still have mixed feelings on this... I mean, all the registered claims shouldn't be copied because it's just wrong IMHO (maybe just the `sub` would be

[2016-06-14 12:05] geggleto commented on #96
I am not sure I understand, the Web Token in the spec does not mention it being immutable... So then it should be recreated after every request? basically a one-time-use token?

[2016-06-14 12:32] lcobucci commented on #96
@geggleto the RFC don't say anything about state and requests because it's not in the scope of it (IMO).

A JWT is just a compact representation of some data and if we generate a token with the exact same data the output will be the same (the signature may change depending on the algorithm you use ofc).

What I'm trying to explain is that there's no reason to copy claims like `aud`, `iss`, `exp`,

[2016-06-17 03:05] KyoungKyuPark opened #97 "How to get Refresh token?"
thanks to you, I made access token.
When the "access token" is invalid, I want to get "new access token" through Refresh token.
Do u have a solution about this?

thank you in advance.

[2016-06-17 11:47] mitiepest opened #98 "Parse token Error: unexpected '$claim'"
Hi All,

im getting the following error whilst trying to validate a token. Ive checked the token on jwt.io and it appears to validate without issue:

`
PHP Parse error:  syntax error, unexpected '$claim' (T_VARIABLE) in W:\IISShared\MFM\Mipest\vendor\lcobucci\jwt\src\Token.php on line 231`

Any suggestions? Many thanks

[2016-06-17 12:22] mitiepest commented on #98
Hi All,

The issue was related to the yield keyword in Token.php only being supported in PHP 5.5+

For some reason we are using PHP 5.4 in our production environment rather. (As a simple work around i simply returned $claim)

Time to upgrade php!

Thanks

[2016-06-17 12:22] #98 closed

[2016-06-21 18:53] lcobucci commented on #97
@KyoungKyuPark sorry about the delay...

Well, refresh tokens are totally out of scope of the JWT RFC... I mean we have a self-contained token that you can also use to create your authentication/authorization mechanism, but the RFC don't define how you could/should do it.

To answer your question, you could just follow what others are doing (OAuth2 implementations for instance) or create your own

[2016-06-21 18:53] lcobucci commented on #97
Will close this as 'invalid' because is not related to the goals of this lib.

[2016-06-21 18:53] #97 closed

[2016-06-21 18:59] lcobucci commented on #96
@geggleto did you had time to think about my last comment? Do you have any other argument in favor of creating a token from another one?

[2016-06-21 19:03] geggleto commented on #96
I worked around the issues I had ;)

[2016-06-21 19:07] lcobucci commented on #96
Yes, but we were discussing about the need of implementing this. Do you still think it is relevant or do you agree with the things I said (that we shouldn't "clone" those claims)?

(just want to know to give this issue a closure 😛 )

[2016-06-21 19:09] geggleto commented on #96
Idk, I'm stuck philosophically about it.

My use case is that, I want to use THE same token more than once... but as you pointed out that might not be the intention of this library. :)

[2016-06-21 19:10] #96 closed

[2016-06-21 19:14] lcobucci commented on #96
Right, but if you need **the same token** you don't need to pass through the whole token building process again (specially the signing part), since you have the original object and you could just use `(string) $token`.

Anyway, we can discuss a bit more on [gitter](https://gitter.im/lcobucci/jwt) if you're willing to, thanks! 😄

[2016-06-21 19:52] lcobucci commented on #69
@killua-eu sorry about this humongous delay...

I'm a bit lost on this issue - and you probably already solved this - but how are you using JWT (or was planning to use)? Do you still need any help? Maybe we could use [gitter](https://gitter.im/lcobucci/jwt) to discuss this a bit more.

I don't know exactly what would be the best thing to about that... I mean, JWT are not meant just for auth and I

[2016-06-21 19:53] lcobucci commented on #69
Will close this as "invalid" and if needed we can reopen it and discuss a bit more 😉

[2016-06-21 19:53] #69 closed

[2016-06-21 20:30] schnittstabil commented on #96
@geggleto I've just found [Ocramius/PSR7Session](https://github.com/Ocramius/PSR7Session), looks like it's already done :heart_eyes:

[2016-06-29 06:05] shrutikharg opened #99 "how to extend this liabrary"
I am using  lcobucci/jwt liabrary. But I am not getting how to use it in my application,How to extend it,How to configure

[2016-07-04 06:10] leocaseiro opened #100 "Bearer Schema"
Hi,

Thanks for this nice library.

I'd like to Parse a `jwt` with Bearer, but it's not working. Is there a proper way to do it?

My issue is here:
[code]

However, I'm getting error:

If I remove `Bearer` from my token, works just fine. Do I need to remove it before parse or there's a way to set a prefix for my token?

I couldn't find it.

Thanks

[2016-07-04 06:54] lcobucci commented on #100
@leocaseiro thanks for using it :smile:

Although JWTs are quite useful for authentication that's not the only use case of it. So the `Parser` always consider that you're using just the token string, nothing more and nothing less.

[2016-07-04 06:56] lcobucci commented on #100
Will close this, if need more information please let me know

[2016-07-04 06:56] #100 closed

[2016-07-04 06:59] leocaseiro commented on #100
No worries, thanks for your quick reply 👍

I'll replace before send to parser, though.

[2016-07-04 06:59] lcobucci commented on #99
@shrutikharg you don't need to extend the library in order to create and parse tokens. Just install and use it as is described in the README.

[2016-07-04 07:02] lcobucci commented on #99
Will close this since is not a feature request neither a bug.

Please use gitter.im and/or stack overflow to explain more the problems you're facing.

[2016-07-04 07:02] #99 closed

[2016-07-04 15:52] bytetonight opened #101 "Missing Configuration.php in Branch 3.1 ?"
Installing via composer require lcobucci/jwt installs 3.1 and does not include Configuration.php as mentioned in your example.

[2016-07-04 15:55] geggleto commented on #101
The example on the home page refers to the master branch... The master branch is not 3.1. You will want this page. https://github.com/lcobucci/jwt/tree/3.1 for example code.

[2016-07-04 15:56] bytetonight commented on #101
You're right. I misread that part. Sorry.

[2016-07-04 15:56] #101 closed

[2016-07-07 11:58] paceto256 opened #102 "Make the key parser able to work with private keys with multiple headers"
https://github.com/lcobucci/jwt/blob/c1d2433c04b3ab5056439afc45c44595b36b60fb/src/Signer/Ecdsa/KeyParser.php#L95

what about this patch:
- '/^[\-]{5}BEGIN ' . $header . '[\-]{5}(.*)[\-]{5}END ' . $header . '[\-]{5}$/',
+ '/[\-]{5}BEGIN ' . $header . '[\-]{5}(.*)[\-]{5}END ' . $header . '[\-]{5}/',

in order to allow the parser to parse private key files with multiple headers like this one:

-----B

[2016-07-07 13:29] lcobucci commented on #102
I think it can be a really good increment, I mean, I'm not a crypto expert and don't know all the keys that might exist 😄

Can you send a PR with unit and functional tests that covers that scenario?

[2016-07-07 13:31] lcobucci commented on #102
And IMHO we don't need to break BC here right?

[2016-07-07 15:36] paceto256 commented on #102
The problem right now is that if you generate your private key with
openssl ecparam -genkey -name secp384r1 -out es256.priv.pem

It will have two header (as I show above), which causes "Ivalid Key" Exception by this library.
In order to solve the issue you have to edit manually your .pem file.

Which is something we don't want, right :)

[2016-07-07 15:38] paceto256 commented on #102
And what this regexp is doing in general says - give me the block with requested $header.
So all keys that have one block will continue to work (not breaking the BC).

[2016-07-07 15:40] lcobucci commented on #102
You're right, that's why I asked if you could create PR and since is not a BC break it needs to be done on the 3.1 branch 😄

[2016-07-07 17:54] paceto256 commented on #102
Ah, got you now :+1:

[2016-07-13 21:42] aramonc opened #105 "RSA signer does not validate openssl_* errors."
It's possibly for `openssl_get_privatekey` or `openssl_get_publickey` to fail & return `false` In which case [`validateKey`](https://github.com/lcobucci/jwt/blob/master/src/Signer/Rsa.php#L54-L56) raises a warning because `openssl_pkey_get_details` expects a resource & receives a boolean.

I believe further validation should be done in `validateKey` & raise an exception if the value is `false`. It

[2016-07-14 07:24] lcobucci commented on #105
Good catch @aramonc! Please create a branch from 3.1 and send your PR :wink:

[2016-07-27 09:42] craigcarnell opened #106 "Fatal error: Uncaught TypeError: Argument 1 passed to Lcobucci\JWT\Signer\Ecdsa\KeyParse"
[code]

[2016-07-27 10:44] lcobucci commented on #106
@craigcarnell some questions for you 😄:

- what version of `lcobucci/jwt` and `mdanter/ecc` are you using?
- how did you installed the it?

[2016-07-27 10:47] craigcarnell commented on #106
@lcobucci jwt is master, mdanter/ecc is 0.4.0

It looks like in 0.4.0 they removed the class. If I use the last release 0.3.1 it works

[2016-07-27 10:53] lcobucci commented on #106
Thanks!

I'll fix the `0.3.1` on our stable version (3.1) and schedule the compatibility with `0.4.0` to our development version (4.0).

Please make sure you don't use our unstable/development version on production because it will change without any notice.

[2016-08-05 21:45] shadowhand opened #108 "How to validate expired tokens?"
I would like to be able to validate an expired token, checking if it has expired within the last month. I have tried the following:

[code]

Which works for the `exp` claim but then fails the `iat` claim.

Is there any way to validate an expired token, or do I have to do it manually?

[2016-08-05 21:45] shadowhand commented on #108
Possibly related to #72.

[2016-08-07 21:31] lcobucci commented on #108
@shadowhand the initial idea of the validation API is basically to see if a token can be used but it turned out to not be enough...

For v4 it's being totally redesigned and one changes is to encapsulate some data on the `Token` class and an example is `Token#isExpired(DateTime $now = null): bool`.

We can add this method already in v3 since that don't break BC, would this help you?

[2016-08-07 21:32] shadowhand commented on #108
It would help significantly!

On Sun, Aug 7, 2016, 16:31 Luís Otávio Cobucci Oblonczyk <
notifications@github.com> wrote:

--

Woody Gilk
http://about.me/shadowhand

[2016-08-08 07:53] lcobucci commented on #108
I'm currently working on #106, after that I implement that method. If you want you can also send a PR based on 3.1 :wink:

[2016-08-09 18:31] geggleto opened #112 "Bug cannot retrieve claims from Token"
Weird problem...

I am generating the like so...
[code]

I am then in my unit test 1 verifying the signature... and then verifying the claim like so...
[code]

Outputing the token via `var_dump($token->getClaims());`
[code]

So The claim is there... but I cannot access it... I have tried all sorts of object access methods...
plz h4lp... I realize I am probably missing something about what I am doi

[2016-08-09 18:35] #112 closed

[2016-08-09 18:36] geggleto commented on #112
turns out I was reading the wrong side of statement... null was not coming from JWT it was coming from an incorrectly setup test dependency :D

[2016-08-13 21:34] #106 closed

[2016-08-13 21:42] #108 closed

[2016-08-13 22:52] lcobucci commented on #105
Fixed, thanks @aramonc!

[2016-08-13 22:52] #105 closed

[2016-08-13 23:23] lcobucci commented on #102
Fixed on `master` and `3.2` thanks @paceto256

[2016-08-13 23:23] #102 closed

[2016-08-14 00:41] lcobucci opened #113 "Improve token builder interface"
The `Lcobucci\JWT\Builder` interface is not so fluent as it could be...

I'm thinking that this would be better:

[code]

Any suggestions?

[2016-08-21 12:21] alexbilbie commented on #113
I really like this (I'm using your library in `league/oauth2-server`). 👍 from me.

[2016-08-31 13:07] greg0ire opened #114 "Set default branch to 3.2"
By default, people should use stable software, which means the readme they see should be the one of branch 3.2 . Also, people contributing will also probably want to contribute on this branch in most cases. Would you consider setting this branch as default one in the repo settings?

[2016-08-31 13:27] lcobucci commented on #114
@greg0ire I don't plan to add new features on `3.2` (only bug fixes) that's why `master` is the default branch. However I do agree that it's annoying that the documentation is not pointing to last stable version.

My plan is to extract the documentation to the `doc` folder on `master` and maintain a gh page with the documentation for both `v3` and `v4` (#37).

Maybe you could help us to achieve th

[2016-08-31 13:47] greg0ire commented on #114
Sorry, I'm not involved enough with this piece of software to do that.

[2016-09-08 13:51] #114 closed

[2016-09-30 18:59] pascaldevink commented on #43
mine!

[2016-09-30 19:00] MarijnKoesen commented on #113
Working on it 👍

[2016-09-30 19:21] lcobucci opened #117 "Improve the token interface"
In order to provide a better encapsulation for the token we should provide methods to:

- [x] check if token can already be used (`nbf` - not before - claim is <= now)
- [x] check if token was issued before a given time (`iat` claim - issued at - claim is <= now)
- [x] check if token was issued by one of a list of issuers (`iss` - issuer - claim)
- [x] check if token can be used by a client (`aud`

[2016-09-30 20:24] #113 closed

[2016-10-04 15:46] gurnzbot opened #123 "Current validation examples both return false"
I've copied the token and validation verbatim and still receive two false statements.

    $token = (new Builder())->setIssuer('http://example.com') // Configures the issuer (iss claim)
		->setAudience('http://example.org') // Configures the audience (aud claim)
		->setId('4f1g23a12aa', true) // Configures the id (jti claim), replicating as a header item
		->setIssuedAt(time()) // Configures the t

[2016-10-04 16:34] lcobucci commented on #123
@gurnzbot thanks for pointing this out! The README is wrong 😞

It's failing on `nbf` claim, we're saying that the token cannot be used before than `time() + 60` and yet we're validating it based on `time()`.

Changing `->setNotBefore(time() + 60)` to `->setNotBefore(time())` does the trick.

I'll update it 😉

[2016-10-04 16:37] #123 closed

[2016-10-12 16:28] steverhoades commented on #72
I ran into a similar issue with wanting to validate the id token.  I've added my own token validator chain that seems to be working ok at the moment, still a WIP.

https://github.com/steverhoades/oauth2-openid-connect-client/tree/master/src/Validator

I think @schnittstabil has a very good point about SRP here.  I'm happy to provide a PR if you see any value in the direction I have gone.

[2016-10-12 16:59] lcobucci commented on #72
@steverhoades we decided to go on [this direction](https://github.com/lcobucci/jwt/compare/refactor/validator-extraction).

It's also a WIP but I believe everything will be much easier.

[2016-10-12 19:13] steverhoades commented on #72
@lcobucci I definitely like this approach better.  I do have a few comments though.

I am not a huge fan of the Validation\Result return value of the validate function.
(https://github.com/lcobucci/jwt/compare/refactor/validator-extraction#diff-d06653258c3297ab87279df99a57ca7dR34)

This leads to code like this:
[code]
Verses this:
[code]

I'm also not sure how I feel about throwing an exception fr

[2016-10-13 07:04] lcobucci commented on #72
@steverhoades that validation result actually is going to be changed 😄

The idea is to be something like:

[code]

[2016-10-13 07:06] lcobucci commented on #72
Glad to help! 🍻

[2016-10-17 08:14] TangoMan75 opened #124 "Please make it a Symfony bundle"
Using this package in Symfony is a pain, that would be awesome to make it a Symfony bundle... Please!

[2016-10-17 08:27] schnittstabil commented on #124
What's wrong with the Symfony bundle projects using this package at [packagist.org](https://packagist.org)?

[2016-10-17 10:02] gramorris opened #125 "Documentation is incorrect / refers to changes not yet in dev-master"
We're running latest dev-master version (972cfe0) and as part of the update changed the Configuration method names to issuedBy & canOnlyBeUsedBy etc.

The documentation shows the same changes for ValidationData however the ValidationData code is still using the old methods setIssuer and setAudience - using issuedBy & canOnlyBeUsedBy results in a "Call to undefined method Lcobucci\\JWT\\ValidationD

[2016-10-18 20:18] renatomefi commented on #125
Hello @gramorris, thanks for the report! The dev-master is current part of a refactor to make a new major version, It's not advised to use it yet! @lcobucci please correct me if I'm wrong!
Do you have an specific reason to use that version?

[2016-10-19 07:51] gramorris commented on #125
@renatomefi thanks, we didn't see anywhere where it says it's not advised to use it, it's worked and is working fine for us. I just felt it was worth pointing out that the documentation on the project homepage is incorrect as per the current commit.

[2016-10-19 09:25] schnittstabil commented on #125
@renatomefi Sorry, but that's assumed to be common knowledge, `composer` also installs the latest stable release:
![image](https://cloud.githubusercontent.com/assets/6059032/19512118/a4612cba-95ea-11e6-8052-9fb72e3ba80b.png)

Event though `master` is a development branch and not a release branch, the `readme.md` on `master` should match the current state of `master` (known as _iterative incrementa

[2016-10-19 09:28] renatomefi commented on #125
@schnittstabil do you tagging me or the issue author? :)

Thanks for making it clear though! Also agree in keeping the documentation up to date, I'm just worried the author was using master branch and it can be unsafe for now!

[2016-10-19 09:49] gramorris commented on #125
We're getting in to a discussion of semantics so I'll just say that what we assumed was the risks associated with using a dev-master branch, we were happy to proceed on that basis. There's no need to be worried on our behalf.

As the documentation for the dev-master is on the project homepage and is incorrect/inconsistent I felt it worth pointing out, that was all I was doing.

[2016-10-19 09:50] renatomefi commented on #125
You did right! Thanks for it!

[2016-10-20 08:08] lcobucci commented on #125
WOW! Guys you're just awesome! Basically you're all right 😂

@gramorris thanks for pointing out about the doc, I'll fix it.
@renatomefi @schnittstabil thanks for helping people in this repo too 🍻

--

@gramorris is good to know that we have some early users. I'm working on the validation refactor and that is going to be merged soon (https://github.com/lcobucci/jwt/tree/refactor/validator-extractio

[2016-10-20 08:19] gramorris commented on #125
Thanks @lcobucci , appreciate the work on the library, we've not found any issues with the functionality so far 👍

[2016-10-20 08:26] #125 closed

[2016-10-20 20:19] mookman288 opened #127 "String length limitation on secret key."
Hi,

I'm not sure if this is the most appropriate place to post this, but because I'm primarily using PHP to generate my secret key, and this library to integrate JWT validation, it seemed like the most appropriate place. I did not see a fix for this specifically, nor did I find any other issues that match this particular "bug." I also didn't see anything in the RFC specifically mentioning key len

[2016-10-21 07:33] lcobucci commented on #127
@mookman288 that sounds weird, could you send some sample tokens generated with both keys (and also say which signer you're using - I assume is HMAC-SHA*)?

[2016-10-21 08:54] TangoMan75 commented on #124
Can't find them...
[https://packagist.org/packages/lcobucci/jwt](https://packagist.org/packages/lcobucci/jwt)

[2016-10-21 09:09] lcobucci commented on #124
@TangoMan75 you can find them here https://packagist.org/packages/lcobucci/jwt/dependents

[2016-10-21 09:15] lcobucci commented on #124
On my projects I don't use symfony as a fullstack framework so I wouldn't be the best person to create that bundle. However I'm curious why "using this package in Symfony is a pain", can you share your experience?

I do use it with symfony dependency injection container and I have no problem...

[2016-10-21 14:14] mookman288 commented on #127
Apologies, but you are correct. It's HMAC-SHA256, and I also tried HMAC-SHA512.

Here's some sample tokens:

kjur/jsrsasign:

7e65f6f2ef2298d16b15a8788b6e1aa9ae81ac205fe959d112c75bf715af9e0a:
[code]
7e65f6f2ef2298d16b15a8788b6e1aa9ae81ac205fe959d112c75bf715af9e0:
[code]

Using your library:

7e65f6f2ef2298d16b15a8788b6e1aa9ae81ac205fe959d112c75bf715af9e0a:
[code]
7e65f6f2ef2298d16b15a8788b6e1aa9ae

[2016-10-21 14:37] lcobucci commented on #127
It looks like a problem on @kjur's library... if you put the token generated by my lib with the key `7e65f6f2ef2298d16b15a8788b6e1aa9ae81ac205fe959d112c75bf715af9e0a` on https://jwt.io you can see that the signature is verified.

<img width="953" alt="screen shot 2016-10-21 at 16 37 12" src="https://cloud.githubusercontent.com/assets/201963/19602212/a6ffa83e-97ac-11e6-929b-dd6caf1ba23d.png">

[2016-10-21 14:42] lcobucci commented on #127
But the funny thing is that JWT.io says that they only support HS256 keys. Sorry but I have to ask... are you verifying the signature with the right signer on my lib?

[2016-10-21 14:58] lcobucci commented on #127
I've just tried a python implementation (by @jpadilla) and it works fine with the tokens generated with my lib:

[code]

[2016-10-21 15:00] lcobucci commented on #127
My conclusion is that you're using the lib properly and the issue is indeed on @kjur's implementation.

I'll close this as invalid but please let me know if I might help on anything 😉

[2016-10-21 15:00] #127 closed

[2016-10-21 15:09] mookman288 commented on #127
Thank you for your diligence, I'll pass this over to @kjur and see if he's experienced this.

[2016-10-21 21:37] lcobucci opened #128 "Use library specific exceptions"
As pointed by @renatomefi we're relying on SPL exceptions and would be really good to have an exception tree for this library in order to simplify things while catching exceptions.

[2016-10-22 14:10] lcobucci commented on #124
I'll close this as `wontfix` because it's really related to the library but I still want to hear your "pain"...

[2016-10-22 14:10] #124 closed

[2016-10-24 07:32] TangoMan75 commented on #124
Thank you lcobucci.
"Pain" might be an overstatement from a lonely moment of frustration... Sorry about that.
I really can't remember what bothered me so much...
Keep up the good work !

[2016-10-26 10:42] lcobucci opened #130 "Extract the registered claim names to constants"
In order to remove the strings from all over the library and avoid issues

[2016-10-26 10:44] lcobucci opened #131 "Make sure there are no duplicated audiences while building token"

[2016-10-27 12:55] magnetik opened #132 "The library silently fails when signing a token in case of openssl error"
In the file `src/Signer/Rsa.php`, in the method `createHash`, the output of the method `openssl_sign` is not used.

In case of error (mine was `RSA_sign:digest too big for rsa key`) the processing continues and it makes the debugging quite difficult.

[2016-10-28 11:58] lcobucci commented on #132
@magnetik thanks, in order to be BC compatible I'll throw an `InvalidArgumentException` there with the `openssl_error_string()` as message.

[2016-10-28 12:00] magnetik commented on #132
Awesome 👍

[2016-10-28 12:02] lcobucci opened #133 "Add deprecation notes on methods"
To help users migrate to v4

[2016-10-28 12:03] lcobucci commented on #133
Even adding `Builder` methods

[2016-10-28 13:29] #133 closed

[2016-10-28 13:33] lcobucci commented on #132
@magnetik do you have an example that fails so we could create a test for that?

[2016-10-28 13:41] magnetik commented on #132
[code]

[2016-10-28 13:42] lcobucci commented on #132
Nice, thanks ;)

[2016-10-31 16:01] nanokid opened #134 "Adding the repository for version 3.2 to a project with composer require, installs a different version that the one in the docs"
Hello. I added the package with composer required and i received the latest version 3.2. Then i tried to create a token using the code in the docs for the version 3.2
[code]
But i kept receiving an error that the method issuedBy() is not available in the class builder. This method is only available in when using the version 3.2.x-
Can some 1 help me build a token with the code from the 3.2 version

[2016-10-31 16:19] schnittstabil commented on #134
From the readme:

[2016-10-31 20:21] lcobucci opened #135 "Create test for signature RSA failure exception"
Apply ddce703 for v4 and test it properly using the example that @magnetik sent us:

[code]

[2016-10-31 20:23] lcobucci commented on #132
I've added the validation, tested "manually" and already release 3.2.1 with that patch.
#135 will apply the same thing for v4 that will be done after #129.

Thanks again @magnetik!

[2016-10-31 20:23] #132 closed

[2016-10-31 20:28] lcobucci commented on #134
@nanokid @schnittstabil I made a mistake here 💩 sorry

I've fixed the branches and you should be able to use these methods on `3.3.x-dev`

[2016-10-31 20:28] #134 closed

[2016-11-01 09:55] rixwankhan opened #136 "Unsupported declare 'strict_types'"
I tried to use the sample code to generate token, but i'm getting error.
[code]

[2016-11-01 09:56] lcobucci commented on #136
@rixwankhan how did you install this library?

[2016-11-01 10:02] rixwankhan commented on #136
i've cloned https://github.com/lcobucci/jwt and install via composer

I've tried with another code but still getting same error. Also i've cheeked both
PHP Version is 5.5.9 and OpenSSL Extension

[code]

[2016-11-01 10:05] lcobucci commented on #136
Did you read https://github.com/lcobucci/jwt/blob/master/CONTRIBUTING.md#branches ?
You must have PHP 7 to use `master` branch, for older PHP versions you should use version 3.2.

[2016-11-01 10:05] lcobucci commented on #136
Will close this as `invalid`.

[2016-11-01 10:05] #136 closed

[2016-11-01 10:07] lcobucci commented on #136
@rixwankhan you should also use `composer require` as mentioned on https://github.com/lcobucci/jwt#installation instead of cloning the repo and trying to install manually.

[2016-11-04 06:50] lcobucci opened #137 "Update PHPECC to remove mcrypt dependency"
This will help to be compatible with PHP 7.1 and make things a bit faster for ECDSA signatures

[2016-11-04 06:51] lcobucci opened #138 "Require PHP 5.6"
Since php 5.5 has reached EOL there is no reason to keep it there.

[2016-11-04 06:52] Ocramius commented on #138
Kill it with fire!

On 4 Nov 2016 07:51, "Luís Otávio Cobucci Oblonczyk" <
notifications@github.com> wrote:

[2016-11-04 11:22] rixwankhan commented on #136
I tried composer require without cloning and it worked! Thanks for your help. Have a great weekend.

[2016-11-07 22:59] lcobucci opened #139 "Use a time provider to get the current system time"
With that we wouldn't allow `null` on methods that receives a `DateTimeInterface`, inject the time provider on the validation constraints and also on the configuration object.

[2016-11-07 23:00] lcobucci commented on #139
Do anyone have a suggestion for the package that can be used for this (wouldn't make sense to provide that interface here IMO).

[2016-11-07 23:08] lcobucci opened #140 "Provide a high level API to simplify usage"
@Ocramius gave a nice idea to help users: based on the `Configuration` have a really simple way to get a valid token or null from a raw token (string), something like:

[code]

In order to achieve this we would need to implement #139 but also add the validation constraints in the configuration object.

[2016-11-07 23:08] lcobucci commented on #140
Depends on #129 (sure)

[2016-11-07 23:08] lcobucci commented on #139
Depends on #129 (sure)

[2016-11-11 16:17] arthurlauck opened #141 "Doubt in php token validation"
I`m new in app development, trying to build a login function and im having some troubles in validating, the way im validating is it correct?

[code]

[2016-11-16 03:46] Hkesd opened #142 "How to make a token expired"
When a user finds an illegal operation, how to make the user token expired, thanks

[2016-11-16 08:40] Ocramius commented on #142
Once a token is emitted, unless it has an identifier, you cannot invalidate
it. One way is changing verification key, but that invalidates all current
tokens.

On 16 Nov 2016 4:47 a.m., "MengDe Li" <notifications@github.com> wrote:

[2016-11-16 10:03] schnittstabil commented on #142
The standard way to revoke tokens is to store them and discard requests with revoked tokens – And lose the benefits of being stateless :unamused:

[2016-11-16 10:06] lcobucci commented on #142
Please check https://github.com/lcobucci/jwt/issues/80#issuecomment-192890099.

[2016-11-16 10:07] lcobucci commented on #142
Will close it since it's not related to any library issue 😉

[2016-11-16 10:07] #142 closed

[2016-11-17 07:59] radhikagiri opened #143 "src/Configuration.php is missing in composer install"
The above file is missing when we try to load the code from composer.

[2016-11-17 08:25] lcobucci commented on #143
Please check the README of the version you're using (as stated on README on master).

[2016-11-17 08:25] lcobucci commented on #143
Will close it as invalid.

[2016-11-17 08:25] #143 closed

[2016-11-20 19:12] lcobucci commented on #141
@arthurlauck I'm not sure how to answer your question.
Your token creation and validation is a bit naive so let me ask: what exactly are you trying to achieve with the code?

[2016-11-20 19:13] lcobucci commented on #141
Closing since this is a question and not an issue with the lib.

[2016-11-20 19:13] #141 closed

[2016-11-22 14:44] kperry42 opened #144 "Support non-integer timestamps"
RFC 7519 clearly states (page 5) that for NumericDate properties, "non-integer values can be represented", but your version 3.2.1 code appears to cast all timestamps to (int)!  For instance, Builder's setExpiration() and setNotBefore(); and ValidationData's setCurrentTime().  A whole second is an eternity in CPU time.  Can we please have decimal seconds?

[2016-11-22 15:27] lcobucci commented on #144
@kperry42 you're right. This was planned to be done for v4 when implementing #43.

An intermediate release (`v3.3`) is planned, and it will add deprecation notes on the methods and also (kind of) a compatibility layer with `v4`. Maybe we can port this too.

[2016-11-22 22:15] brianshaw opened #145 "Downloading the source at 3.2.1 is missing Configuration.php"
Downloading the source at 3.2.1 is missing Configuration.php

Not sure at what point it should be there. Or if it shouldn't be there then your documentation should be updated.

[2016-11-22 22:16] Ocramius commented on #145
@brianshaw `Configuration.php` is in the current development branches: you'll probably see it when `4.0.0` is released.

[2016-11-22 22:16] #145 closed

[2016-11-23 01:13] arthurlauck commented on #141
Im trying when a user log in, create a token and that part is when a user log in with already a token, he can go on without filling any field, its working, but im not sure if its the most secure/easy mode to do it

[2016-11-24 09:32] lcobucci commented on #145
@brianshaw there's a comment on README regarding that. If you would like to help us to improve you can check #37

[2016-11-24 09:38] lcobucci commented on #141
@arthurlauck got it. The problem here is that it seems you didn't understand the meaning of each registered claim.

Please take a look on the [RFC 7519](https://tools.ietf.org/html/rfc7519#section-4.1) to understand them and also learn how to use them.

[2016-11-24 09:40] lcobucci opened #146 "Require PHP 7.1"

[2016-11-24 16:17] flyingbuddha opened #147 "Documentation doesn't work against latest release"
Release is 3.2.1

There is no `Lcobucci\JWT\Configuration` class, even though I see it on GitHub.

[2016-11-24 16:18] flyingbuddha commented on #147
Missed the following note:

[2016-11-24 16:18] #147 closed

[2016-12-08 20:20] RenatoPta opened #148 "Error when adding secret"
Using the code from example:

[code]

I get the following error:

[code]

Is there anything I'm doing wrong?

[2016-12-09 01:24] RenatoPta commented on #148
I changed the type Key to String in second paramter "$key" in file Lcobucci\JWT\Builder.php:245 and it worked

[2016-12-09 07:25] lcobucci commented on #148
@RenatoPta the problem is that the documentation is outdated and you're using an unstable version.
A lot of things will change (as you can see on #129), including the documentation.

If you are fine with that and don't mind changing your code until v4 is released you should not change the library's code and just pass an instance of `Key` instead of a `string`.

Although I appreciate people trying

[2016-12-09 07:28] lcobucci commented on #148
Closing as `won't fix` since the documentation is going to be up on the validation refactoring PR

[2016-12-09 07:28] #148 closed

[2017-01-05 02:30] kotarCreative opened #149 "PKCS#8 compatibility"
Does your library support the use of .p8 files for the storing of private keys? Looking to use this to implement the new token format for Apples push notifications.

[2017-01-07 13:19] lcobucci commented on #149
@kotarCreative this library uses `openssl` extension to handle RSA signature and as far as I saw that extension doesn't support PKCS8 files, so you have two options:

1. Extract the private and public keys from the `.p8` file (`.p8` -> `.pem` -> `.key` pair), maybe [this](http://www.commandlinefu.com/commands/view/135/convert-a-pkcs8-private-key-to-pem-format) can help you.
1. Implement your own s

[2017-01-07 13:20] lcobucci commented on #149
Closing as `wontfix` since the solution would not be made in the library.

[2017-01-07 13:20] #149 closed

[2017-01-07 13:23] lcobucci commented on #146
@Ocramius I'm thinking to move this to `v4` instead of `v5`. Since `v4` wasn't released yet and it will still take some effort I don't see a reason to not do that. What's  your opinion on this?

[2017-01-07 14:28] Ocramius commented on #146
:+1:

You know that I rarely see problems in dependency bumping

[2017-01-07 15:36] lcobucci opened #150 "Improve Builder interface methods"
As per @henriquemoody and @Ocramius reviews on #129 we can make things more clear.
So let's discuss here to find the best names for `with()`, `canOnlyBeUsedBy()` and other method we would like to discuss about.

[2017-01-07 15:37] lcobucci commented on #150
`withClaim()` is clearly better than `with()`

[2017-01-07 16:38] michael-mammut opened #151 "Out of nbf or exp Time Message?"
Hello @lcobucci , I am using  the following code snipped and I receive `true `or `false, `thats good,  but is it possible to receive a message, why the token is invalide? For example : `jwt - nbf - timestamp of nbf is not reached`  or `jwt - exp - token has expired`.

[code]

[2017-01-07 16:40] lcobucci commented on #151
@michael-mammut that's being done on #129 and it will be available for next major release 😉.

[2017-01-07 16:41] lcobucci commented on #151
Closing as `duplicate` of #72.

[2017-01-07 16:41] #151 closed

[2017-01-07 16:47] lcobucci opened #152 "Create the `Signer\None` to simplify things"
As per @Ocramius we could have a `None` signer that would handle empty signatures.

[2017-01-07 16:54] lcobucci commented on #128
Also adding named constructors where is applicable.

[2017-01-07 17:13] #29 closed

[2017-01-07 17:13] #117 closed

[2017-01-07 17:13] #131 closed

[2017-01-08 22:15] #146 closed

[2017-01-08 22:19] lcobucci commented on #72
Finally fixed on #129

[2017-01-08 22:19] #72 closed

[2017-01-10 16:48] zecar opened #154 "ValidationData class is not present in master branch"

[2017-01-10 16:51] lcobucci commented on #154
It was removed and the documentation wasn't updated yet, more info on #129.
As stated in README this branch is not stable.

[2017-01-10 16:52] lcobucci commented on #154
The documentation will be updated on #37.

[2017-01-10 16:52] #154 closed

[2017-01-10 18:57] schnittstabil commented on #37
Related: [Publishing with GitHub Pages, now as easy as 1, 2, 3 (December 9, 2016)](https://github.com/blog/2289-publishing-with-github-pages-now-as-easy-as-1-2-3)

[2017-01-10 19:02] michael-mammut opened #155 "How to check if the token was manipulated?"
Hello, I've created an example to be familiar with your API, validating token works very well, but a question today. How to check if the token was manipulated? I create the token on the server, send it to the client, and the client send the token back in the Authentication Header.

` $val = new ValidationData();
  $jwt = (new Parser())->parse((string) $jwtInput);
   return  $jwt->validate($val );`

[2017-01-10 19:07] schnittstabil commented on #155
You have to [sign](https://github.com/lcobucci/jwt#token-signature) and verify the token.

[2017-01-10 19:13] michael-mammut commented on #155
Thank you...

[2017-01-10 19:13] #155 closed

[2017-01-14 09:15] ikoene opened #156 "Add optional parameter to _not_ escape forward slashes."
*I'm not 100% sure this is a bug, but this seems the best place to question this.*

I'm working with the 3.2 release.

So I've basically encountered an inconsistency between libraries that create json web tokens. Our client uses [node-jsonwebtoken](https://github.com/auth0/node-jsonwebtoken) to create a token. I needed to do the same on our side, so when I tried to create the web token using this

[2017-01-14 09:57] schnittstabil commented on #156
The signature is based on the payload. For example:
[code]

Because of the different encoding, the second part of the JWT payload will differ; and therefore the signature must differ as well.

As you were able to fix the problem using `JSON_UNESCAPED_SLASHES`, I assume that you tested the signature (third part of the JWT) for equality. But that's the wrong way to verify tokens. Instead you have to

[2017-01-16 00:05] lcobucci commented on #156
@ikoene as @schnittstabil explained even with different encoded content the library must be able to verify the signature because we keep the original data. This difference will happen but it doesn't mean that the token is necessarily invalid.

We do have tests that covers tokens generated by different libraries as you can see on https://github.com/lcobucci/jwt/blob/ddce703826f9c5229781933b1a39069e

[2017-01-16 00:05] lcobucci commented on #156
Closing as `invalid`.

[2017-01-16 00:05] #156 closed

[2017-01-24 14:31] bunlongheng opened #157 "Class 'Lcobucci\JWT\Configuration' not found in Laravel 5"
I ran  `sudo composer require lcobucci/jwt` to install the stuff.

Then, I added `use Lcobucci\JWT\Configuration;` on top of my file

Then, I start use the sample code

            $config = new Configuration(); // This object helps to simplify the creation of the dependencies
                                   // instead of using "?:" on constructors.
            $token = $config->createBuilder()

[2017-01-24 14:34] bunlongheng opened #158 "Where to get the public and the private key for JSON Web Token and JSON Web Signature ?"
I noticed in the bottom on post it require the private and the public key.

How and where do we get those from ?

Should we request them from the Auth Provider ?

[code]

Any hints or direction on this will be appreciated  !

[2017-01-24 19:59] Ocramius commented on #158
@bunlongheng public and private keys are supposed to be known upfront.

The private key is to never be exposed to people outside the deployment environment (only "secret keepers", such as system administrators, should know them) where tokens are to be generated. The public key can be publicly distributed and passed around your system.

[2017-01-24 20:00] Ocramius commented on #157
Please refer to the [`3.2.1` tag](https://github.com/lcobucci/jwt/tree/3.2.1) when reading docs, since `master` has diverged quite a bit. You are reading docs for a version that wasn't released yet :-)

[2017-01-24 20:00] #157 closed

[2017-01-24 20:01] bunlongheng commented on #158
@Ocramius : So if I don't have the private key and the public key. Should I request for one in order to proper configure this JWT integration ?

[2017-01-24 20:04] Ocramius commented on #158
You can generate a keypair. A symmetric key (private key === public key) is generally sufficient for most setups, as long as you keep the key secret. You can generate such a key with https://github.com/AndrewCarterUK/CryptoKey, for example.

If you want to generate asymmetric keys (private/public key differ), then you can use `openssl` (see https://en.wikibooks.org/wiki/Cryptography/Generate_a_key

[2017-01-24 20:06] Ocramius commented on #158
@lcobucci this is possibly something we should link in the `README`, since crypto keys are not always a clear concept.

[2017-01-24 20:07] bunlongheng commented on #157
You're right, I installed the 3.2 and refer the newer version. Thanks for correcting !

[2017-01-24 20:08] geggleto commented on #158
I would say using LibSodium once there's a polyfill for native php... I think Scott was working on one :)

[2017-01-24 20:13] Ocramius commented on #158
@geggleto I'll start endorsing libsodium when it doesn't require users to install a custom extension :-P

Yes, I know there's an RFC for it, but please read above: some users are simply not aware of such tools, and will likely react with a "WTF" when told to install obscure stuff. FWIW, for a symmetric key, trying to quit vim is sufficient entropy.

[2017-01-24 20:14] geggleto commented on #158
@Ocramius Scott was working on a userland polyfill :)

[2017-01-24 20:15] Ocramius commented on #158
Throw it at @AndrewCarterUK's lib then, not here ;-)

[2017-01-24 20:21] geggleto commented on #158
I don't know if it has had a security review, but in the README it mentions if you have openssl then don't use this...

And yet on a security blog... https://paragonie.com/blog/2016/12/everything-you-know-about-public-key-encryption-in-php-is-wrong The Insecure Default That Bites Everyone ...

It seems to be the more ethical thing to do would be to point users in a general direction for them to re

[2017-01-24 20:22] Ocramius commented on #158
@geggleto send a PR with a link to be added to the `README`. Discussing on whether `/dev/urandom` or `openssl` or a mistyped `<ESC>:q!` will produce enough entropy is not for this thread :-P

Meanwhile, closing.

[2017-01-24 20:22] #158 closed

[2017-02-01 16:36] #130 closed

[2017-02-05 10:07] lcobucci commented on #158
Now that I read this issue (shame on me).

@Ocramius I think #88 covers that (maybe we can add some additional info there).

[2017-02-06 22:49] lcobucci opened #161 "Add key(s) to configuration object"
So that people can set all the required information related to signature creation/verification.

I thought on something like `Configuration#configureSigner(Signer $signer, Key $signingKey, ?Key $verificationKey): void` but of course the names can be improved.

[2017-02-09 11:09] #152 closed

[2017-02-12 19:36] #135 closed

[2017-02-14 05:09] lcobucci commented on #150
@Ocramius would `allowedTo()` be better than `canOnlyBeUsedBy()`? I think is pretty logical and also compatible with the constraints we created.

[2017-02-14 08:11] Ocramius commented on #150
`allowedTo`... do what? (that's the question I ask myself when reading `allowedTo`.

[2017-02-14 08:19] lcobucci commented on #150
allowed to as in "allowed to client A"

[2017-02-14 08:22] Ocramius commented on #150
Still lacks expressivenes...

[2017-02-14 08:28] lcobucci commented on #150
😭

[2017-02-14 08:30] Ocramius commented on #150
@lcobucci ask the twitters?

[2017-02-14 08:54] lcobucci commented on #150
@Ocramius can you do it plz?

[2017-02-14 09:18] rdohms commented on #150
`clearedFor` as in "security clearance for client a"

[2017-02-14 09:19] rdohms commented on #150
or `restrictedTo` if the `only` is still relevant.

[2017-02-14 09:28] greg0ire commented on #150
`grantedTo`, like a right? I like `restrictedTo` too.

[2017-02-14 10:08] nikolaposa commented on #150
I find `allow` as a term more appropriate than `restrict` because with every subsequent invocation of a method you are widening scope instead of narrowing it.

[2017-02-14 10:13] nikolaposa commented on #150
... that being said, here are my suggestions:

- `allow()`
- `validFor()`
- `permit()`
- `permittedFor()`
- `grant()`

[2017-02-14 10:29] rdohms commented on #150
@nikolaposa but the original name `canOnlyBeUsedBy` implies that its replacing all other grants with one restricted to the passed user. That's why i asked if the `only` is relevant.

[2017-02-14 10:32] nikolaposa commented on #150
@rdohms Concrete implementation tells me that the actual idea of how method should behave is different: https://github.com/lcobucci/jwt/blob/master/src/Token/Builder.php#L63

[2017-02-14 10:33] rdohms commented on #150
that's just bad naming then, i blame @lcobucci :D

[2017-02-14 14:02] lcobucci commented on #150
@rdohms that's why this issue exists 😄

[2017-02-16 09:12] lcobucci commented on #150
Thanks for the suggestions guys!

The idea of the `aud` claim is to have a list of clients that are allowed to use the token (basically a whitelist).

I'd say that `permittedFor()` is the closest one for that concept but I'm not sure it expresses what we want. Maybe dropping `canBeUsedBy()` is also a good idea (since it's causing the whole confusion), what you think @Ocramius?

[2017-02-16 13:17] Ocramius commented on #150
@lcobucci "permission" is probably the closest to what the claim expresses (thanks for nothing, abbreviations, DUH.).

I'd go with `permittedFor`

[2017-02-16 13:25] lcobucci commented on #150
@Ocramius cool let's go with that then. Do you think we should rename [`Lcobucci\JWT\Validation\Constraint\AllowedTo`](https://github.com/lcobucci/jwt/blob/43f30bc679b8e1efd8c9ad7844680a3a42342895/src/Validation/Constraint/AllowedTo.php) to make it consistent?

[2017-02-16 19:10] #150 closed

[2017-02-17 07:36] #161 closed

[2017-02-23 21:23] #43 closed

[2017-02-23 21:23] #144 closed

[2017-03-02 11:02] disharmonized opened #172 "Impossible to set array value to Audience claim"
In your implementation i cant set audience array value, string only, but according to RFC, it must be possible
https://tools.ietf.org/html/rfc7519#section-4.1.3:

[code]

[2017-03-02 11:12] lcobucci commented on #172
This is not supported on the current version but is already implemented for next major release. If you really need it you can use it (it's not documented yet but works fine).

[2017-03-02 11:13] lcobucci commented on #172
Closing as wont fix since it will only be available on v4.

[2017-03-02 11:13] #172 closed

[2017-03-11 07:43] RudyJessop opened #173 "Class 'Lcobucci\JWT\Configuration' not found"
I would advise someone update the documentation on the `readme` seeing that when using `Class 'Lcobucci\JWT\Configuration'` is non existent within the `src` folder. Do anyone know which file I have to call to create a token?

[2017-03-11 08:46] Art4 commented on #173
README.md says

[2017-03-11 14:52] Ocramius commented on #173
Closing as per @Art4's comment

[2017-03-11 14:52] #173 closed

[2017-03-14 17:32] Giovani-Brady opened #175 "Vulnerability Found"
https://paragonie.com/blog/2017/03/jwt-json-web-tokens-is-bad-standard-that-everyone-should-avoid

Seems that the latest update to allow a None algorithm signature came with some security oversights.

[2017-03-14 17:33] Ocramius commented on #175
Sigh, nope.

https://github.com/lcobucci/jwt/commit/6507ac39be5a5e06457c8ff8ad2c4d51d7d7b998#commitcomment-21304264

Closing as `invalid`.

[2017-03-14 17:33] #175 closed

[2017-03-21 22:38] marekkobida opened #176 "Missing claims(): DataSet in Token interface"
Missing:

    /**
     * Returns the token claims
     */
    public function claims(): DataSet;

**in src/Token.php interface** < src/Token/Plain.php

[2017-03-22 06:10] lcobucci commented on #176
You won't have access to the claims of an encrypted token. That's why it's not on the interface.

[2017-03-22 06:10] #176 closed

[2017-03-22 07:59] schnittstabil commented on #176
May you explain this a bit further? Is this because of differences between JWT, JWE and JWS?

[2017-03-23 10:29] marekkobida opened #177 "ConstraintViolationException not in English"
Every built-in Constraint has ConstraintViolationException in the English language.
If I correctly understand, there are only 2 ways how can I modify that.

1. Fork and modify source files
2. Make my own "validator"

My validate function:
[code]

Am I doing it right?

[2017-03-23 21:17] lcobucci commented on #177
You'll be adding complexity to your plate (keep things up-to-date with the last stable version once it's released for example) that IMHO is not really good for you.

You would actually need to create constraints not a validator but what you really want is to decorate the exceptions with a translator, something like:

[code]

But to be honest this is quite too much. I designed the exceptions to be

[2017-03-23 21:19] lcobucci commented on #177
Closing as `invalid` since the exceptions were not design for this purpose.

[2017-03-23 21:19] #177 closed

[2017-03-23 21:22] lcobucci commented on #176
@schnittstabil yes.

This project only supports JWT, JWS and JWA however I do have plans (not anytime soon) to support encrypted tokens and that was to reason to create an interface for the token.

[2017-04-30 19:22] ehababoshehab opened #178 "lcobucci / jwt (Laravel Passport)"
hey,
sorry guys for this stupid question, but I am really fresh in the API authentication, and i need to figure it out.
what is the difference between this library and the one built in with passport in laravel framework.
thank you so much

[2017-04-30 19:37] lcobucci commented on #178
@ehababoshehab this library doesn't offer any built-in integration with any framework. It is meant for building, parsing, and validating JWTs (that can be used for authentication or not).

I've found [some code in `laravel/passport`](https://github.com/laravel/passport/tree/052a2ba06dbab6448de569ace914c05419ce4f57/src/Http/Controllers) but I didn't go too far to see how they're using it.

I hope t

[2017-04-30 19:37] #178 closed

[2017-05-01 02:29] ehababoshehab commented on #178
@lcobucci thank you so much for this answer, but afteri install laraval/passport, one of the packages that will be installed is lcobucci/jwt and it has these classes (Builder, Claim, Parser, Signature, Signer, Token and ValidationData) and I am sure passport is using it to issue the token.

[2017-05-01 06:04] lcobucci commented on #178
@ehababoshehab looking at [laravel/passport dependencies](https://packagist.org/packages/laravel/passport) I saw that it uses [league/oauth2-server](https://packagist.org/packages/league/oauth2-server) which depends on this library (but also on [firebase/php-jwt](https://packagist.org/packages/firebase/php-jwt)).
That means you have two JWT libs installed and I'm not sure which one is giving you h

[2017-05-01 08:12] ehababoshehab commented on #178
actually i did open an issue in laravel/passport and waiting for the reply ... and for passport im using lcobucci/jwt library and I am sure because i made some dumps ... and i had read the instructions in README .. it really clear and i had tied to follow it and it works fine ... but still passport using other things that i need to figure it out ....
thank you so much for your help :)

[2017-05-01 08:27] lcobucci commented on #178
@ehababoshehab glad to help, please let me know if need something else.

[2017-05-04 07:35] NikolaMandic opened #179 "jti claim"
so I followed the doc and set the jti claim
then I printed out headers and claims and it is there I can use getHeader to get it
then once I parse the token
there is no jti header

is this how it is meant to be?

[2017-05-04 08:12] #179 closed

[2017-05-04 08:13] NikolaMandic commented on #179
sorry for posting I messed something with the testing.

[2017-05-04 08:24] lcobucci commented on #179
@NikolaMandic no worries 😉

[2017-05-07 21:24] #139 closed

[2017-05-08 09:37] Ocramius commented on #139
@lcobucci checked now, patch LGTM! :+1:

[2017-05-17 04:05] RezaNurRochmat13 opened #181 "JWT Builder Not Found"
I install from composer and i found this error Fatal error: Class 'Lcobucci\JWT\Builder' not found
How i solve this problem thanks.

[2017-05-17 05:04] Art4 commented on #181
Use version 3.2.1, not 4.0.0-alpha1.

[2017-05-17 06:55] Ocramius commented on #181
Closing as per @Art4's comment.

[2017-05-17 06:55] #181 closed

[2017-05-17 08:34] Art4 commented on #181
@Ocramius You should set up a bot for this 😆

[2017-05-17 08:36] Ocramius commented on #181
@Art4 I try to be a bit human in these interactions: being on the side of somebody frustrated by a non-working package/library is terrible :-\

[2017-05-17 08:37] Art4 commented on #181
You're right. 👍

[2017-05-19 13:51] michaelchemani opened #182 ""message": "Class 'Mdanter\\Ecc\\EccFactory' not found","
Got `"Class 'Mdanter\\Ecc\\EccFactory' not found"`

when doing

`  $signer = new \Lcobucci\JWT\Signer\Ecdsa\Sha256();

        $token = (new Builder())->setIssuer('http://example.com') // Configures the issuer (iss claim)
        ->setAudience('http://example.org') // Configures the audience (aud claim)
        ->setId('4f1g23a12aa', true) // Configures the id (jti claim), replicating as a header

[2017-05-19 14:40] Ocramius commented on #182
@michaelchemani how was this installed? What are your dependencies? (check your `composer.lock`)

[2017-05-19 15:16] michaelchemani commented on #182
@Ocramius , I got it to work. I was missing ` "mdanter/ecc": "^0.4.2"` in my composer packages.

Now I got that :

`"message": "Type error: Argument 1 passed to Lcobucci\\JWT\\Signer\\Ecdsa\\KeyParser::__construct() must be an instance of Mdanter\\Ecc\\Math\\MathAdapterInterface, instance of Mdanter\\Ecc\\Math\\GmpMath given, called in /vagrant/vendor/lcobucci/jwt/src/Signer/Ecdsa.php on line 50",

[2017-05-19 15:19] Ocramius commented on #182
@michaelchemani consider providing a `composer.json`, a `composer.lock` and a file to reproduce this: we can't guess your dependencies ^_^

[2017-05-19 15:57] michaelchemani opened #183 ""message": "Malformed UTF-8 characters, possibly incorrectly encoded","
I got that every time I am trying to sign a token with Ecdsa.

[2017-05-19 16:06] Ocramius commented on #183
Any example dataset?

[2017-05-19 16:07] michaelchemani commented on #183
This is my test Private key :
`-----BEGIN EC PRIVATE KEY-----
MHcCAQEEIFYU49QzOpvhRohVONPdEC3Kys4y7KrGCM5HhMDT3KIooAoGCCqGSM49
AwEHoUQDQgAEg6cBuOG//tjiyfyrmAyJKbOGtigZZPalPnsjttfGD4INW/fjOrB+
iKhd2GacmApeHq1UX+rhLxsoVh6ib2T/4Q==
-----END EC PRIVATE KEY-----`

[2017-05-19 16:21] michaelchemani commented on #182
My composer.json got ` "lcobucci/jwt": "^3.2"` but it looks like `Mdanter` package isn't loaded.

[2017-05-19 22:42] lcobucci commented on #182
@michaelchemani if you look at [packagist](https://packagist.org/packages/lcobucci/jwt#3.2.1) `mdanter/ecc` is not required as default it's just suggested (and installed for development so that we can run the tests).

The stable version of `lcobucci/jwt` is only compatible with `mdanter/ecc:  ~0.3.1` (that was already fixed on `4.0.x-dev` and it's planned to be fixed on #137).

This means that if

[2017-05-19 22:43] lcobucci commented on #183
Indeed, we do need more info =)

[2017-06-20 20:48] lcobucci commented on #182
@michaelchemani did this solve your problem?

[2017-06-20 21:32] lcobucci opened #187 "Implement ECDSA signer that uses OpenSSL"
On Spomky-Labs/jose#161 @skyzyx commented that he's facing some performance issues with this library in his realtime API, based on @Spomky's response I've did some minor changes on his performance test (to adapt to `4.0.0-alpha1`) and I got this performance comparison (running on my laptop - PHP 7.1):

**it's important to say that this comparison is obviously just a reference and doesn't mean abso

[2017-06-20 21:34] lcobucci commented on #183
@michaelchemani any update on this?

[2017-06-20 22:55] Spomky commented on #187
Hi @lcobucci

Thank you for this nice comparison!
It also quite depressing for me too to see that your lib is incredibely faster.
The JWK implementation may explain this, but from my point of view the real problem is the use of several third party libraries (e.g. the Assertion library).

I agree with you. On the next revision I will remove that fallback. I think it is a bad idea to keep a pure PHP

[2017-07-30 01:11] lcobucci commented on #183
I'm going to close this issue as `invalid` since we didn't have any update.

[2017-07-30 01:11] #183 closed

[2017-07-30 01:12] lcobucci commented on #182
I'm going to close this issue as `invalid` since we didn't have any update.

[2017-07-30 01:12] #182 closed

[2017-07-30 21:57] lcobucci commented on #187
On #189 I added `phpbench` to the project. I've started some experiments with an OpenSSL version of the ECDSA signer and the results are quite promising:

|       Signer         | Operation |          Before       |       After             |
|----------------|-----------|-----------------|-----------------|
| Ecdsa\Sha256 | Sign           | 31,651.140 (μs)  |      198.310 (μs) |
| Ecdsa\Sha256 | V

[2017-08-05 13:48] purohitvijay opened #190 "validation of token"
validationData class always return true value. what is reason behind this. please give me solution as soon as possible

[2017-08-06 08:38] lcobucci commented on #190
@purohitvijay I'm sorry but it's impossible to give any solution without knowing exactly what you're doing. Can you provide more information?

[2017-08-08 05:13] purohitvijay commented on #190
@lcobucci  Hi i wiil send my code please check that.

$token = (new Lcobucci\JWT\Builder())->setIssuer('http://example.com') // Configures the issuer (iss claim)
                                ->setAudience('http://example.com') // Configures the audience (aud claim)
                                ->setId('4f1g23a12aa', true) // Configures the id (jti claim), replicating as a header item

[2017-08-08 08:34] Ocramius commented on #190
Cleaned up the code a bit:

[code]

This seems correct, and this code should always dump `true`.

[2017-08-08 08:35] Ocramius commented on #190
Here's the same code, but this version should dump `false`:

[code]

[2017-08-08 09:07] purohitvijay commented on #190
@Ocramius , Thanx for your replay but why this code always dump true, when we give the expiration time.

[2017-08-08 12:44] Ocramius commented on #190
Tge second example shouldn't

[2017-08-08 13:57] viviivanov opened #191 "Validation of iat breaks on systems with a clock skew."
Hi, i am using the packagist 3.2.1 version of the library and noticed a problem which occurs by validating 'iat' by default.

Scenario:
Issuing server has a skew of +1 second
Communication between server and client is sub-second speed.
Resulting in example timestamps.: $jwt['iat'] = 1001, $clientNow = 1000.
Which results in.: $token->validate() === false

I did not find a good solution to disable

[2017-08-08 14:06] Ocramius commented on #191
@viviivanov the 4.x branch uses a `Clock` object to handle time issues - can a test be written against that, and then we try backporting it to 3.x?

[2017-08-08 14:41] viviivanov commented on #191
Referencing the function from: https://github.com/lcobucci/jwt/blob/master/src/Validation/Constraint/ValidAt.php#L37
[code]

Changing the clock would result in the same undesired behavior of changing the validation of all three (iat, nbf, exp) parameters. What i actually think would be cleaner is disabling 'iat' validation completely and leave everything else as is.

A test case would test if a sw

[2017-08-08 15:05] lcobucci commented on #191
@viviivanov to disable `iat` constraint you on `v4.0` you can create your own constraint that doesn't validate `iat`, and so I wouldn't change anything on the lib side.

For `v3`, you can extend `ValidationData` and override the constructor to add the behaviour you want (on only your project).

If you want to add this as a new feature I'd rather go with this direction (but it's only applicable for

[2017-08-08 20:06] telomir commented on #191
@lcobucci Something we have been discussing is the reasoning behind this check. I mean, time drift is nothing too unusual unfortunately and this is a rather strict, thus impractical check. Considering the fact that the JWT spec adds nbf and exp to define a pretty exact time frame for the lifetime of a token adds to the question marks around the necessity of the check at all.

Taking the spec at RF

[2017-08-10 04:49] alexpts opened #192 "Add demo to readme.md"
Add demo to readme.md for show api library

[2017-08-10 07:27] purohitvijay commented on #190
@lcobucci please replay as soon as possible because I need to implement this code on my project. Other wise suggest me another way to implement this functionality.

[2017-08-10 07:31] benjy commented on #32
This would be handy, AWS Cognito provides a RSA JWK and to verify them you need to convert to PEM first.

[2017-08-10 07:42] Ocramius commented on #190
@purohitvijay you just got a reply on this: the code example in https://github.com/lcobucci/jwt/issues/190#issuecomment-320889845

This is how you reproduce it:

[code]

[2017-08-10 09:29] purohitvijay commented on #190
@Ocramius  its give permission error, when I use git clone git@github.com:lcobucci/jwt.git this command.
"git clone git@github.com:lcobucci/jwt.git
Cloning into 'jwt'...
Warning: Permanently added the RSA host key for IP address '192.30.253.113' to the list of known hosts.
Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rig

[2017-08-10 09:31] Ocramius commented on #190
You can use the `https` address too: `git clone https://github.com/lcobucci/jwt`.

[2017-08-11 00:17] lcobucci commented on #192
@alexpts the readme already contains instructions to get the stable version API and there's already an issue regarding the new version (also with the link on the README), so I'm closing this issue as `duplicate`.

[2017-08-11 00:17] #192 closed

[2017-08-11 11:23] viviivanov commented on #191
@lcobucci I am cool with the remove method actually as it would already solve the problem. And by the way I don't think this "feature" is something uncommon as i see other libs either not including 'iat' in the default set or having a discussion about exactly the same issues. eg.: https://github.com/jpadilla/pyjwt/issues/190. Or introducing some other mechanism to account for clock skew. eg.: fire

[2017-08-13 02:07] Firesphere opened #193 "`$token->validate(ValidationData);` Could return _what_ is invalid"
By returning the object that fails validation alongside a validation error would make it easier for implementations to return a useful error message.
This would be a breaking change (thus, only possible for v4), but an example would be to change `Token::validate()` to something like the following:
[code]

[2017-08-13 02:22] lcobucci commented on #193
@Firesphere v4's validator already have a [similar behaviour](https://github.com/lcobucci/jwt/blob/561bc8529e71ca754b6236143fc140e940bc5944/src/Validation/Validator.php#L24-L35). That won't be backported to v3.

[2017-08-13 02:24] Firesphere commented on #193
Awesome! Didn't see that as I'm currently working with v3 (as it's stable)

And I don't expect it to be backported to v3 as it would be a break in semver ;)

Thanks! Closing this issue as it's a non-issue :)

[2017-08-13 02:24] #193 closed

[2017-08-13 02:28] lcobucci commented on #193
@Firesphere awesome, thanks.

v4 is almost done and there's an alpha release, the API will suffer some small changes but everything is working (even better than in v3 😉). I'm just overwhelmed with paid work that I didn't manage to continue my work here, however I do encourage people to try things out (if possible).

[2017-08-13 04:09] lcobucci commented on #191
@viviivanov @telomir I've issued so many tokens where `iat = X`, `nbf = X + Y` and ex = `X + Z`, so I do think that this validation is important (and there are many other implementations that still have it).

I'd say we should add a leeway to the constraint (on `master`) and I'll backport it to `v3.3-dev`.

[2017-09-13 11:52] peterpostmann commented on #182
`composer require mdanter/ecc:~0.3.1` solved it for me (using lcobucci/jwt:~3.2)

[2017-10-04 20:19] lcobucci opened #198 "Add PHPCS as a dev dependency"
Also adding it as a Travis-CI stage.

This is the config I'm using for my projects and can be used as sample: https://github.com/lcobucci/chimera-foundation/blob/b125eb9f07509ee977298d599655c2e1d391cf0e/phpcs.xml.dist

[2017-10-05 10:07] #198 closed

[2017-10-08 18:36] lcobucci commented on #190
@purohitvijay any update on this?

[2017-10-13 13:07] lpj145 opened #203 "How get Claims after encode token"
I'm try to get claim on middleware.
Using Version 4.0@dev
![image](https://user-images.githubusercontent.com/11980109/31547582-406dfa60-affe-11e7-990a-95531931d87e.png)
But `parse` function return Plain, this is a error ?
![image](https://user-images.githubusercontent.com/11980109/31547642-87568622-affe-11e7-843d-d12d8cd92e27.png)

[2017-10-13 13:31] lcobucci commented on #203
@lpj145 that's a forward compatibility layer. As stated on #6 we plan to support encrypted tokens (which will implement that interface).

Since `parse()` deals with untrusted data, users are supposed to verify if they have the expected type of token, like:

[code]

[2017-10-13 13:32] lcobucci commented on #203
btw don't forget to validate the token properly using the validator 😉

[2017-10-13 13:33] lcobucci commented on #190
Well, closing here due to lack of updates. Please re-open if needed.

[2017-10-13 13:33] #190 closed

[2017-10-13 13:34] lcobucci commented on #137
Invalidated by #187. The signer using OpenSSL should be ported back to `v3.3`

[2017-10-13 13:34] #137 closed

[2017-10-13 13:34] lpj145 commented on #203
yep i'm using:
[code]

[2017-10-13 13:44] lcobucci commented on #203
@lpj145 if you're not using the exception, I'd suggest to use this instead (I really need to work on the documentation 😭 ):

[code]

The benefit with that approach is that the validator will stop its process when the first error comes and the constraints will be processed in the order you called the method, so you can leave the "expensive" operations to the end of your validation chain.

I'd also

[2017-10-13 13:50] lcobucci opened #204 "Add validation constraints to configuration object"
In order to simplify things when working with the library.

I thought about simply adding:

[code]

[2017-10-13 14:09] lcobucci commented on #203
@lpj145 let me know if your question has been answered and we can close this issue 👍

[2017-10-13 14:59] lpj145 commented on #203
I think this is a good solution, but need tests. in hour i answer to you.
[code]

[2017-10-15 17:36] #203 closed

[2017-10-19 11:54] henriqueweiand opened #205 "Verify only the struct of token"
I can verify only the struct of token without the instance new ValidationData()?

[2017-10-19 12:09] lcobucci commented on #205
Can you give more info on what you're trying to achieve?

[2017-10-19 12:42] yohkun opened #206 "Random error"
Hi, i have unexplained random error :
`<br />
<b>Fatal error</b>:  Uncaught TypeError: Argument 3 passed to Lcobucci\JWT\Signer\Hmac::doVerify() must be an instance of Lcobucci\JWT\Signer\Key, boolean given, called in C:\Users\admin\programmation\application-tr\application-TR-BO\vendor\lcobucci\jwt\src\Signer\BaseSigner.php on line 42 and defined in C:\Users\admin\programmation\application-tr\appl

[2017-10-19 12:47] lcobucci commented on #206
@yohkun it looks like you're sending `false` to `Token#verify()`, you should check that

[2017-10-19 12:49] yohkun commented on #206
For the key or the secret ?
All my verify call look like : $token->verify(new Sha256(), "secret"))
That will work 40 time and the 41 i will get the error

[2017-10-19 13:00] lcobucci commented on #206
The 2nd argument of `Token#verify()` is your verification key.

Which version do you have installed (of PHP as well)? I've never had any kind of issue with that and never heard anyone having that kind of issue.

I'd recommend you to use like this though:

[code]

[2017-10-19 13:06] lcobucci commented on #205
On v3 the `ValidationData` instance is required, v4 (alpha) "fixes" it by using constraints - and you're able to create your own constraints and validate them in the order you define.

[2017-10-20 11:36] henriqueweiand commented on #205
In my case, isn't necessary to verify expiration date of token. Just verify de struct with signature of token.

Performing some tests,  I did it like this:
`
try {
   $token = (new Parser())->parse((string)$token);

   if(!$token->verify($signer, env('JWT_SECRET')))
      return response('Unauthorized.', 401);
} catch(\RuntimeException $e) {
   return response('Unauthorized.', 401);
}
`

this alte

[2017-10-20 11:57] lcobucci commented on #205
@henriqueweiand yeap, that does what you need. I would recommend to make sure the token is still valid, though.
Using tokens that don't expire is not really secure but if you're 100% sure that you have no point where someone could potentially read the token you should be fine.

[2017-10-20 12:16] #205 closed

[2017-10-20 12:22] lcobucci commented on #206
@yohkun any news here? I was checking things and the only possibility I see is when you're using file based keys and for some weird reason the file couldn't be read (which is something that should be verified and is not being done in https://github.com/lcobucci/jwt/blob/3.2.2/src/Signer/Key.php#L67 - I'm opening an issue for that).

[2017-10-20 12:26] lcobucci opened #207 "Errors while reading key from file are not caught on the correct place"
No exception is raised when `file_get_contents()` returns `false` in https://github.com/lcobucci/jwt/blob/3.2.2/src/Signer/Key.php#L67, which can lead to errors in other places.

[2017-10-20 12:27] lcobucci commented on #207
Possible cause of #206

[2017-10-20 12:35] yohkun commented on #206
Yes, i'm arrived to the same conclusion... i can't explain why but some time for one user only the key is not read...
A verification here could be a good idea

[2017-11-02 01:13] ryanmats commented on #182
@lcobucci Hi Luis! I'm using your JWT library with Ecdsa and thus had to do add mdanter/ecc:~0.3.1 to my composer.json.

Do you have an update on when version 3.2 of your library will be able to use later versions of mdanter/ecc? The 0.3.1 version of mdanter/ecc uses symfony/console ^2.6 but I would ideally like to make my app use symfony/console ^3.3. Also, I'd like my code to be compatible with

[2017-11-02 07:54] lcobucci commented on #182
@ryanmats we are working on dropping that library completely and just use OpenSSL (and the extract the points "manually"). During tests, that shows a major improvement in performance when using ECDSA algorithms and removes the need for that dependency.

That will be available in v3.3 but we don't have a timeline at the moment. That version will require PHP 5.6+ and will be the last release of v3.x

[2017-11-02 20:46] ryanmats commented on #182
@lcobucci thanks, i'll be on the lookout for that in the future.

[2017-12-07 21:52] gurnzbot opened #211 "Parse error: syntax error, unexpected '$claim' (T_VARIABLE) in /vendor/lcobucci/jwt/src/Token.php on line 229"
If I attempt to create a token via a PHP script invoked through bash, I get that error.
When I run it through a browser, all is good.

I am using the following to create the token.  The script throws the error on the last line.

[code]

I'm not sure how to track the issue down, or why it'd die out when invoked via bash vs a browser.

[2017-12-08 09:50] lcobucci commented on #211
@gurnzbot which version are you using? Line 229 of the stable version of the lib doesn't have any `$claim` variable:

https://github.com/lcobucci/jwt/blob/3.2.2/src/Token.php#L229

[2017-12-08 14:31] lcobucci commented on #211
And what PHP version are you running?

[2017-12-08 14:34] lcobucci commented on #211
@gurnzbot Yeap =)

[2017-12-08 14:35] lcobucci commented on #211
@gurnzbot `3.3` will require PHP 5.6 and `v4` PHP 7.1, so I'd strongly advise you to upgrade your stack 👍

[2017-12-08 14:38] Ocramius commented on #211
Generally yes

[2017-12-08 14:45] Ocramius commented on #211
Closing as `invalid`

[2017-12-08 14:45] #211 closed

[2017-12-16 13:08] williansmartins opened #212 "get payload from token in controller"
Is possible get payload from token in controller?

[2017-12-16 21:17] lcobucci commented on #212
@williansmartins this library doesn't provide anything regarding controllers, so I'm not sure what you're trying to do...

Maybe you're using something that connects `lcobucci/jwt` to a framework? If so, I'd suggest you to move the discussion to that library/module/bundle/* 😃

[2017-12-19 18:23] williansmartins commented on #212
I was using lcobucci with laravel, but I will not more use, thanks

[2017-12-19 18:23] #212 closed

[2017-12-20 14:02] kangkaime opened #213 "php7.2 && use 4.0.0"
[code]

[2017-12-20 15:15] lcobucci commented on #213
@kangkaime what's exactly the issue here?

[2017-12-21 01:55] kangkaime commented on #213
@lcobucci nothing ， sorry ，i not found the doc  about 4.0.0。

[2017-12-21 01:55] #213 closed

[2017-12-21 12:38] engharb opened #214 "Problem while verifying the token and PubKey"
I have the following problem "It was not possible to parse your key, reason: error:0906D06C:PEM routines:PEM_read_bio:no start line".
Here is my code:
`$signer = new Sha256(); `
 `dump($token->verify($signer, $pubKey));`

I have updated openssl in VM which hosts my Web-services, but I still get the same error.

My key alg is RS256 but when I use aws.cognito idToken to generate PubKey, the resulted

[2017-12-21 13:24] lcobucci commented on #214
@engharb that's weird, can you send that pub key (both jwk and pem)?

[2017-12-21 13:26] lcobucci commented on #214
It would be awesome to know your PHP and OpenSSL versions =)

[2017-12-21 13:27] lcobucci commented on #214
Ahh another thing 😄  would be good to have a token issued with that key as well =)

[2017-12-21 14:01] engharb commented on #214
@lcobucci Thank you for replaying.
PHP 7
openssl (on VM): OpenSSL 1.1.0g (newest v)

keys |  
-- | --
alg | "RS256"
e | "AAAA"
kid | "BBVBBBLD/5oNT23mYB1BBtBfBgB++BgBB+BBBbbbbbB="
kty | "RSA"
n | "a long test"
use | "sig"

I used that key to generate the public  key (by the way is it possible to generate pubKey from JWK in PHP?).

[2017-12-21 14:04] lcobucci commented on #214
@engharb we do have libraries that do that, I didn't get to implement it in this yet (#32)

[2017-12-21 14:17] engharb commented on #214
@lcobucci this means there is no way to convert JWK to PEM (PubKey) using i.e PHP API.!

[2017-12-21 14:18] lcobucci commented on #214
I've converted that JWK using [spomky-labs/jose](https://github.com/Spomky-Labs/jose/blob/master/src/KeyConverter/RSAKey.php) and this is the PEM I get back:

[code]

And everything seems to work regarding OpenSSL integration with that content:

[code]

[2017-12-21 14:18] lcobucci commented on #214
@engharb you mean using bare openssl or extensions?

[2017-12-21 14:23] lcobucci commented on #214
You can also see that converting the JWK using that node lib outputs a different pem:

[code]

instead of:

[code]

[2017-12-21 14:27] engharb commented on #214
@lcobucci I am sorry for redundantly asking simple questions but I still struggling with this new theme for me (very kind of you).

Yes I have used jwk-to-pem lib and I got such resulted key
[code]

But I need  a generating such key from PHP server side (i.e PHP library).

[2017-12-21 14:31] lcobucci commented on #214
You can use that lib I linked till I get all my stuff sorted out and implement this here 😂

This is the script I used:

[code]

Of course that I completely understand if you switch completely to `spomky-labs/jose` which is a quite nice JWT implementation and has support for JWK. That's what you get when you have way too many projects to maintain 💔

[2017-12-22 07:51] engharb commented on #214
@lcobucci Thank you a lot that what I was looking for.

[2017-12-22 09:02] engharb commented on #214
@lcobucci I have one more question. after verifying the Signature process is succeeded I want to i.e unhash/decode the signature in order to be able to read the encoded data(data) from it. From there I will be sure that the data is from the authentic server side (reading that from payload means may I read modified data by a hacker or untrusted third-party), Do you have any Idea?

regards,

[2017-12-22 16:19] #214 closed

[2017-12-26 13:31] viraj-khatavkar opened #215 "Error in Parsing key - Bad base64 decode error"
@lcobucci First, I would like to thank you for your efforts in developing this library.

I am running into a bit of issue. Maybe, I am wrong in some way, but after spending quite a bit of time to find solutions using Google I have no luck. Please go through the issue below and let me know what I might be missing here:

Backstory:

I am integrating service account of Box.com to manage files for our

[2017-12-26 14:24] lcobucci commented on #215
@viraj-khatavkar it seems that you're using line breaks (`\n`) inside of a single quoted string, which will make the `\n` char to be parsed as two chars `\` and `n`.

Updating your code to use double quoted strings solves the issue.

**Important remarks:**

- the header `alg` and `typ` are already created by the library when you sign the token, so you don't need to set them
- **please ask for a ne

[2017-12-26 14:27] lcobucci commented on #215
I'll be closing this as `Invalid`, please re-open if needed 👍

[2017-12-26 14:27] #215 closed

[2017-12-26 14:38] viraj-khatavkar commented on #215
@lcobucci Thanks, that was silly of me. One more question - the format of JWT assertion for BOX is `<base64URLencoded header>.<base64URLencoded claims>.<base64URLencoded signature>` Does this library create "URLencoded" assertions?

[2017-12-26 14:41] lcobucci commented on #215
@viraj-khatavkar it happens 😂

For a JWT to be complaint with the RFC it MUST be encoded using Base64URL, so yes we do generate a valid JWT 😄

[2017-12-26 14:45] viraj-khatavkar commented on #215
Ah great, thanks! I read some people generating base63 instead of Base64URL, so I happened to correct because Box is now giving me an error "Malformed assertion". Nevertheless, this must be something related to the request's body params, which I will sort it out.

Many thanks for this package and I appreciate you taking out time to help me here. 🎅

[2017-12-26 14:51] lcobucci commented on #215
Just using base64 is completely wrong indeed. It's kind of weird to have that error... try to validate the token using https://jwt.io (also checking the signature with the public key). Let me know if you find any other issue 😉

Glad to help!

[2017-12-28 05:55] fouthfire opened #217 "This token cann't use secret base64 encoded?"
![image](https://user-images.githubusercontent.com/25971524/34401484-86f09cb8-ebd6-11e7-94e6-09bedef03de5.png)

Signature always Invalid!

[2017-12-31 10:16] lcobucci commented on #217
@fouthfire I don't what you're trying to achieve here... base64 encoded keys are usually used when they are not plain strings (like binary content).

What jwt.io does is simply decoding they key you provide using base64 before of checking the signature. A token that was signed with a plain string can never have its signature verified using a base64 decoded key.

This library will simply create the

[2018-01-31 21:10] michaeldnelson opened #219 "Private properties are limiting."
This is not a bug, more of a question/request.  I have noticed a trend lately of making properties/methods private instead of protected.  It's possible I am out of the loop, and there is a good reason for this but it makes it very difficult for me to create nice apis for coding my domain.  I would like to implement convenient accessors for claims that have extended parsing logic.  $token->hasGroup

[2018-02-03 20:25] lcobucci commented on #219
@michaeldnelson first of all, thanks for submitting this issue! It's always good to explain design decisions - and it can also be used as a topic for the upcoming documentation that needs to be written.

Let's go, then (brace yourself, it might be a long answer)!

When designing packages (regardless if it is a project or library) we have to think about how it should be used and what are its extens

[2018-02-03 21:10] michaeldnelson commented on #219
Hi @lcobucci,

Thank you for taking the time to respond to my issue.  The approach you are describing is what I meant by facade although decorator is certainly more correct as I am adding functionality not creating a new api.  It's interesting that you bring up SOLID principles as I would consider this a violation of the open closed principle.  I did in fact do just what you suggested, however you

[2018-02-04 00:00] lcobucci commented on #219
@michaeldnelson not exactly... "Make all Member Variables Private" it's actually a recommended heuristic described in [the open-closed principle](https://drive.google.com/file/d/0BwhCYaYDn8EgN2M5MTkwM2EtNWFkZC00ZTI3LWFjZTUtNTFhZGZiYmUzODc1/view).

That shouldn't be needed. I mean, in my opinion you could simply use the builder/parser and return the encapsulated token. Like:

[code]

This simple mi

[2018-02-04 04:51] michaeldnelson commented on #219
Interesting read.  Maybe my eyes will be opened to the value of private/final after some practice, been a few years in python which is much more open.  You've obviously thought it through, I guess I'll see how it plays out :).  For clarity I decorate the builder for the initial issuing of the token not the middleware, something like $idTokenBuilder()->withZoneInfo($zone) .  The middleware plays ou

[2018-02-06 13:19] henriqueweiand opened #220 "verify method"
does the verify method validate if these entries are correct?

example:
-> setIssuedAt (time ()) -> setNotBefore (time () + 60) -> setExpiration (time () + 3600)

I mean, if the expiration time is already over, will it return false on a verify call for example?

[2018-02-06 14:51] lcobucci commented on #220
@henriqueweiand that's done based on the `ValidationData` object you pass to the method. By default it uses the current time to validate stuff (using `time()`), but the current time can be injected. `Token#verify()` will do the validation only if the token has the claims, and it indeed returns a boolean.

You can find examples in:

https://github.com/lcobucci/jwt/blob/3.2.2/test/functional/Unsigne

[2018-02-17 16:35] frankdejonge commented on #6
So .. @lcobucci I don't want to be rude but why on earth is this feature not done yet. I require it to prove some people wrong on twitter, so you can clearly see I needed this yesterday.

Hugs and kisses,

Frank

[2018-02-17 17:36] Spomky commented on #6
Hi @frankdejonge,

If some people on Twitter are looking for JWE support on PHP, you can appease them by answering some libraries already exist ([jwt.io](https://jwt.io/) is a good start to find them).
It is right to say that this feature was planned long time ago, but @lcobucci is working on that library [almost alone](https://github.com/lcobucci/jwt/graphs/contributors) and, you can trust me, th

[2018-02-17 18:10] frankdejonge commented on #6
Hi @Spomky,

I know @lcobucci personally, I was merely teasing him (here and on twitter). I'm very very appreciative of his work and I believe he knows that. But I do recognise that such remarks, without the required context, can be misinterpreted easily. I also do appreciate you reaching out like this, even providing a direction for a solution. That's the level of community participation I think

[2018-02-20 10:05] rubobaquero opened #222 "Problems verifying Firebase Token"
Hi,

In our project we use your library for generating/validating/verifying JWT tokens without problems. Now, we want to accept Firebase idTokens, so we have to parse, validate and verify their signature.

We can parse and validate them without problems, but we are having issues verifying the signature. This is our code:

[code]

Signature is verified without problems in JWT.io validator using the

[2018-02-20 10:10] Ocramius commented on #222
Could you scramble the retrieved `$certificates` and dump it here? (not your actual ones!)

[2018-02-20 10:18] lcobucci commented on #222
@rubobaquero also, are you sure that the algorithm you're using is HMAC-SHA256 and not a RSA-256?

[2018-02-20 10:19] lcobucci commented on #222
Considering that you have a public URL that has all your keys I'd assume you're using an asymmetric algorithm, otherwise anyone would be able to create tokens on your behalf.

[2018-02-20 11:51] rubobaquero commented on #222
Hi, thanks for your answers @Ocramius and @lcobucci .

Tokens are generated by Google Firebase. What i am trying to do is to verify that tokens are really generated by them using their public keys. This URL contains all the public keys of Google for verifying the signature:

https://www.googleapis.com/robot/v1/metadata/x509/securetoken@system.gserviceaccount.com

In the JWT.io validator, this is t

[2018-02-20 12:07] rubobaquero commented on #222
In the following URL is the documentation of Google Firebase where it explains the methodology (that i think that i am applying well in the code that i pasted in the issue):

https://firebase.google.com/docs/auth/admin/verify-id-tokens?hl=en#verify_id_tokens_using_a_third_party_jwt_library

[2018-02-20 12:47] lcobucci commented on #222
@rubobaquero so it's indeed a RSA-256 signature... the problem with your code is that you're trying to verify the token using the wrong algorithm, and applying this change should solve your issue:

[code]

[2018-02-20 13:42] rubobaquero commented on #222
Thank you very much @lcobucci . Changing the algorithm made the verification work :-)

[2018-02-20 13:42] #222 closed

[2018-03-01 19:56] donatj opened #223 "Question / Builder `getToken`"
I am curious, is the stable 3.x release still open to changes?

A problem we're having is that we need to know if the builder has a claim set or not.

We are using the stable branch. The builder itself has no 'hasClaim' method.

[code]

The problem with this is `$builder->getToken();` eagerly builds the payload. This is a waste of CPU.

I have three proposals, but my prefered one may be API breaki

[2018-03-01 21:38] lcobucci commented on #223
@donatj it's kind of open 😄 I'm currently the only person maintaining the lib and my main focus is to finish and release `v4.0`. My main concern is that everything that we potentially add to `v3.3.0` we will have to port to `v4.0`, so I'm trying to do things in the other way around (add to `v4.0` and potentially port to `v3.3.0`).

The design of the `Builder` component is to follow the design patt

[2018-03-05 09:54] lcobucci commented on #220
@henriqueweiand did my answer help you? If so, can we close this issue?

[2018-03-05 09:54] lcobucci commented on #217
@fouthfire did my answer help you? If so, can we close this issue?

[2018-03-05 10:01] fouthfire commented on #217
Actually, I need decode it first.

[2018-03-05 10:01] #217 closed

[2018-03-05 12:35] #220 closed

[2018-03-14 19:07] kimshako opened #226 "on"

[2018-03-14 19:07] #226 closed

[2018-03-22 11:14] pyaehein commented on #217
@fouthfire @lcobucci
How can I encode and decode with base64? I stuck in here. I wrote as

`->sign($signer, base64_encode($my_secret_key))`

It showed "Invalid Signature" in jwt.io

[2018-03-23 05:40] fouthfire commented on #217
maybee you can try
->sign($signer, base64_decode($my_secret_key))

[2018-04-06 10:01] JoeBengalen opened #228 "Getting claims from Token"
Hi, I noticed that the `Plain` token has a [`claims` method](https://github.com/lcobucci/jwt/blob/master/src/Token/Plain.php#L49), but it's not part of the `Token` interface.

Is this missing on purpose? If not I could create PR to add it if you like.

[code]

[2018-04-06 11:42] lcobucci commented on #228
@JoeBengalen it was made like that in purpose.

The general idea is that the token can either be encrypted or plain but only plain tokens have readable claims, and since the token you receive is already something that cannot really be trusted (user input) you have to be explicit regarding your expectations. Like:

[code]

Sure that's a very basic validation but you could rely on our new validator

[2018-04-06 11:43] lcobucci commented on #228
Linking #203 and #186

[2018-04-06 11:46] lcobucci commented on #228
@JoeBengalen please let me know if that offers you enough information!

[2018-04-06 11:51] JoeBengalen commented on #228
Yes, thank you. I could've done a search on previous issues maybe :sweat_smile:

[2018-04-06 11:51] #228 closed

[2018-04-16 17:08] B4rb4ross4 commented on #182
@lcobucci I ran into this problem today. It's now 5 months later. Is there a now timeframe when the new version will arrive?

[2018-04-16 17:13] Ocramius commented on #182
Whenever it's done :-)

[2018-04-17 08:56] VincentSurelle opened #229 "Exp in microseconds"
Hi guys,

For informations the 4.0 builder create the exp claim with microseconds which is not valid (see: https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#page-6).
There should be only second.
It cause token validity troubles with some libraries.
I can a merge request if needed.

[2018-04-17 13:51] lcobucci commented on #229
There should be only second.

@VincentSurelle the RCF clearly states that non-integer formats can be used:

      2013 Edition [POSIX.1] definition "Seconds Since the Epoch", in
      which each day is accounted for by exactly 86400 seconds, **other
      than that non-integer values can be represented.**  See RFC 3339
      [RFC3339] for details regarding date/times in general and UTC in
      pa

[2018-04-17 13:52] lcobucci commented on #229
With that said I'll be closing this as an invalid bug, please reopen it if you feel that we need to discuss things further 👍

[2018-04-17 13:52] #229 closed

[2018-04-17 13:54] lcobucci opened #231 "Allow users to configure format for date registered claims"
As stated in #229 we could be more flexible regarding the format use we generate the `iat`, `exp`, and `nbf` claims.

[2018-05-04 11:55] weituotian opened #232 "how to use without composer"
do not have an composer
is there any other way to use it.
may someone provide an autoload file?

[2018-05-04 12:44] weituotian opened #233 "Strict type declaration is available in PHP 7 only"
[code]

i am using the master branch

[2018-05-04 16:03] Ocramius commented on #232
99% of the PHP libraries out there rely on composer to get installed and set up, and  so does this one: please do get started at https://getcomposer.org/

[2018-05-04 16:03] #232 closed

[2018-05-04 18:55] lcobucci commented on #233
@weituotian the `master` branch requires PHP 7.1 and won't be available on older PHP versions. The stable release works on PHP 5.

[2018-05-05 12:07] weituotian commented on #233
@lcobucci i feel confused about the master bransh is not an stable bransh.

[2018-05-05 12:07] #233 closed

[2018-05-10 13:43] lcobucci commented on #228
@JoeBengalen sorry for my delay on getting back to you, my idea is to release a new alpha of v4 in a week or two. I'll organise the milestones ASAP to ensure that things make more sense 👍

[2018-05-10 19:25] AAllport opened #234 "Preconfigured Builder and Verifyer"
Question:
Is it currently possible to preconfigure the builder and verifier, to avoid repetition of code?
This would include the secret and signer
I have noticed a ClaimFactory, would I half to use this and pass it as an argument? However, this does not include the Signer and Secret.
Is there a better way that allows me to use the human-readable functions (`setIssuedAt`) as opposed to the short na

[2018-05-10 19:28] Ocramius commented on #234
What kind of repeated code?

If you have repetitions, stash them into a function abstracting the common bits.

As for the "human-readable functions", please jump in on the development on `master`, where these are better defined :+1:

[2018-05-12 09:23] lovearthhome opened #235 "How to use json privatekey"
my private key is in such a format, which cannot tobe read by keychain->getPriateKey(*)

how to deal with this private key

`{"kty":"RSA","kid":"88483727556929xxxxxxxx9904351185815489","alg":"ES256","n":"ie0IKvKLd7Y3izHcZemdDsVVXg5QtWtGF7XEkILnn66R2\_3a30DikqV409OVL7Hv0ElACgCaBLEgZeGHTcdLE1xxDTna8MMBnBNuMVghvFERCKh8uzpxlQsfcnFd5IFdJWj1x5Tscetrow6lA3h5zYx0rF5TkZzC4DclxgDmITRam0dsHBxr3uk9m9YYBz2mX0e

[2018-05-12 09:43] lovearthhome commented on #235
is there any way to put the privatekey json as php constant?

![_20180512174442](https://user-images.githubusercontent.com/16535358/39956064-f8bc6120-560b-11e8-87d6-991cb67e8abc.png)

[2018-05-12 17:22] lovearthhome opened #236 "PEM_read_bio:bad end line,why?"
`PHP Fatal error:  Uncaught InvalidArgumentException: It was not possible to parse your key, reason: error:0906D066:PEM routines:PEM_read_bio:bad end line in /var/www/html/agi.xdua.com/jwt/vendor/lcobucci/jwt/src/Signer/Rsa.php:60
`

[2018-05-12 18:06] Ocramius commented on #236
You will need to look up the openssl docs, but it may be that your key was not generated with correct (`\n`) line endings.

https://github.com/lcobucci/jwt/blob/3.2/src/Signer/Rsa.php#L44

[2018-05-13 23:51] lcobucci commented on #235
@lovearthhome you're trying to use a JWK, which currently not supported #32. So for now, if you want to use this lib, you'd need to convert the JWK into private/public keys. There're other libraries that support it.

[2018-05-15 08:58] lovearthhome commented on #235
@Ocramius
use `composer require mdanter/ecc` and then move the files to where?

[2018-05-15 08:59] Ocramius commented on #235
@lovearthhome no need to move anything

[2018-05-15 09:02] lovearthhome commented on #235
is this right?
`
[u1@EevX vendor]$ ls
autoload.php  composer  fgrosse  lcobucci  mdanter
`

[2018-05-15 09:02] Ocramius commented on #235
Yeap, that should be it :+1:

[2018-05-15 09:03] lovearthhome commented on #235
Error happens on:

`
PHP Fatal error:  Uncaught TypeError: Argument 1 passed to Lcobucci\JWT\Signer\Ecdsa\KeyParser::__construct() must be an instance of Mdanter\Ecc\Math\MathAdapterInterface, instance of Mdanter\Ecc\Math\GmpMath given, called in /jwt_lcobucci/jwt/vendor/lcobucci/jwt/src/Signer/Ecdsa.php on line 50 and defined in /var/www/html/agi.xdua.com/jwt_lcobucci/jwt/vendor/lcobucci/jwt/src/

[2018-05-15 09:04] Ocramius commented on #235
Hmm... @lcobucci do yo remember which version of `mdanter/ecc` was needed?

Btw, we should probably get rid of the optional dependency, even if it removes `Ecdsa` support.

[2018-05-15 11:37] Spomky commented on #235
Hi @lovearthhome,

As explained in the issue to opened (see https://github.com/web-token/jwt-framework/issues/122), the problem is that you are using an RSA key with an EC algorithm

**`"kty":"RSA"`*** with **`"alg":"ES256"`** are incompatible.

If you want to use your RSA key, then you have to use a RSA based algorithm.
If you absolutely need to use the ES256 algorithm, then you have to generate

[2018-05-16 19:15] soundsgoodsofar commented on #191
Upvote fixing this as hard as I can.  Ran into this (avoidable) problem in production again today and it's extremely frustrating.

I opened a ticket on a downstream consumer of this package months ago and didn't get any real traction.  Would love to see this fixed here.

https://github.com/thephpleague/oauth2-server/issues/798#issuecomment-339254783

I would also strongly suggest we add leeway to

[2018-05-17 08:56] lcobucci commented on #191
@soundsgoodsofar I completely get your frustration, I'm mostly focused on getting v4 to a stable state and I couldn't get to implement this yet. You can also send a PR to branch 3.3 to help on this

[2018-05-17 13:26] viviivanov commented on #191
@soundsgoodsofar I've been in the same position and missed the forest for the trees. There is actually a solution without updating the library even though not 100% perfect. Just offset the timestamp to ValidationData by a value before validation. Btw the 5 sec default works for me for couple of months now without any problems.

[code]
@lcobucci I think this issue can be closed as is. Thx for all t

[2018-05-18 00:05] soundsgoodsofar commented on #191
Hey thanks for the responses guys.  I'd be happy to send a PR if we can agree on a fix.  Would adding a default of 5-10 seconds to IAT/NBF values be considered?  Adding a bit of leeway seems to be recommended even by the official ietf spec referenced above.

@viviivanov that may be, but I'm using this as an upstream dependency from another library.  True, I could try to get that project to do what

[2018-05-18 06:06] lcobucci commented on #191
@soundsgoodsofar I would add an argument to define the leeway for the validation data, with 0 as default value to not modify the current behaviour. We can modify the default value for v4, if necessary.

[2018-05-20 14:31] lloydkeijzer opened #238 "How to install gmp extension for php 7.2.1 using MAMP on OSX?"
I'm trying to encrypt a token using the Elliptic Curve Digital Signature Algorithm (ECDSA) with the P-256 curve and the SHA-256 hash algorithm.

**error when running php script:**
[code]

I figured that I'm missing the mdanter/ecc dependicy package, so I tried running the following command.

**command running:**

`composer require mdanter/ecc:~0.3.1`

**output:**

`mdanter/ecc v0.3.1 requires ext-

[2018-05-20 15:08] Ocramius commented on #238
Closing here: while this may well be related to the repo, installing `ext-gmp` in the specific context of MAMP is out of scope for this repo.

My general suggestion (from previous experience with MAMP) is to kill MAMP with fire, and use a much simpler built-in setup with something like homebrew and with the built-in PHP server (`php -S localhost:8080`), since homebrew comes with the most common ex

[2018-05-20 15:08] #238 closed

[2018-05-21 09:13] #234 closed

[2018-05-24 08:49] flik opened #240 "Fatal error: Uncaught InvalidArgumentException: It was not possible to parse your key, reason: error:0906D06C:PEM routines:PEM_read_bio:no"
**code**:
[code]
**error**:

Fatal error: Uncaught InvalidArgumentException: It was not possible to parse your key, reason: error:0906D06C:PEM routines:PEM_read_bio:no start line in C:\xampp\htdocs\getToken\vendor\lcobucci\jwt\src\Signer\Rsa.php:60 Stack trace: #0 C:\xampp\htdocs\getToken\vendor\lcobucci\jwt\src\Signer\Rsa.php(26): Lcobucci\JWT\Signer\Rsa->validateKey(false) #1 C:\xampp\htdocs\get

[2018-05-24 12:05] echobool opened #241 "getClaim('sub') won't get"
version: "lcobucci/jwt": "^3.2"

$user_id = $token->getClaim('sub');

Often won't get

sometimes  won't get value

[2018-05-24 12:07] Ocramius commented on #241
This requires a test case in order to be valid: closing as `incomplete`

[2018-05-24 12:07] #241 closed

[2018-05-24 12:43] lcobucci commented on #240
@flik I assume that you're using a file called `public.pub` for your public key, if you don't add the `file://` prefix the lib won't know of that and will use the string `public.pub` as key (which is an invalid RSA key). The examples in https://github.com/lcobucci/jwt/tree/3.2#rsa-and-ecdsa show that.

I agree that this is not really explicit and we're already changing stuff for v4 (which will pro

[2018-05-24 12:44] lcobucci commented on #240
Please let me know if that solves your problem so that we can close this issue 👍.

[2018-05-24 13:07] flik commented on #240
things fixed. thanks. :)

[2018-05-24 13:34] #240 closed

[2018-05-27 09:45] inshaf commented on #206
hi.. im having the same issue... not sure when this error appears... it randomly happens.

im using PHP 7.0.8 and "tymon/jwt-auth": "1.0.0-rc.2"

Not sure how to solve the issue.. any solutions ?

[2018-05-29 14:59] lukos commented on #32
Is there any more news on this feature? Currently, this appears to best PHP library for features and small size but it is a pain to write my own code to convert JWKs to PEM. I'm happy to help if there are specific jobs to do, I don't believe it is hard to convert Base64 JWK into a raw public key.

[2018-06-06 09:30] MurtazaAydogdu opened #243 "Random invalid token error (BUG?)"
I am using this library for my project and when I want to get data from the database the library throws a n error "invalid token". Also when I wait for a couple of minutes and try to get data from the database it works

[2018-06-06 09:49] lcobucci commented on #243
@MurtazaAydogdu can you please provide more information regarding this? The token, algorithm you're using, the stack trace... everything you can.

[2018-06-06 09:51] lcobucci commented on #236
@lovearthhome did you check what @Ocramius said? How did you generate the key?

[2018-06-06 10:05] MurtazaAydogdu commented on #243
Thanks for the fast reply. In our company we are using your library as an SDK for the authentication. We have our custom invalid message, so I think it will be the same in the library. The algorithm we are using  is the RS256.

**token:**     	eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOjE2LCJyb2xlIjoiREVWIiwiaWF0IjoxNTIxNTUxMTg2LCJleHAiOjE5MjY2NTc1OTgsIm9yaWdpbiI6ImRpZ2l0YWxlZmFjdHV1ciIsImF1ZCI

[2018-06-07 08:29] lcobucci commented on #243
@MurtazaAydogdu this bit is not part of the library, are you 100% confident that you always have a valid RSA public key there?

And since you're using RSA your verification key is public, can you send it? And also the stack trace of the exception you're capturing...

Which PHP and OpenSSL versions you have?

[2018-06-07 08:55] #243 closed

[2018-06-07 10:13] Pixelstart opened #244 "How to use with .p8 file"
Hi there,

The new MapKit JS by Apple uses JWT, however, Apple gives a .p8 certificate which only holds a private key. How can I use this to verify the signature?

Thanks!

[2018-06-07 11:32] MurtazaAydogdu commented on #243
After searching for a long time. I found the problem was not in your library but in our sdk.

[2018-06-07 11:38] lcobucci commented on #243
Ahhh alright, thanks for the update 👍

[2018-06-07 12:00] lcobucci commented on #244
As we spoke via gitter you have to convert your certificate into the keys to be used by RSA algorithm. This is achievable using `openssl`. Probably there's a simpler way to get to pub/private keys directly but I didn't have time to research a bit more - I just dig a bit after you called me on gitter.

**1. Creating the certificate** - this is not applicable to you since you already have the certif

[2018-06-07 12:01] lcobucci commented on #244
@Pixelstart can you please try it out and let us know if this works. If so, could you please submit a PR to extend our documentation here?

[2018-06-07 12:29] Pixelstart commented on #244
Thanks for figuring this out.

On step two I had to add -nocrypt since my .p8 file is not encrypted. On the third step however I receive the following error:

`140736141493292:error:06FFF07F:digital envelope routines:CRYPTO_internal:expecting an rsa key:/BuildRoot/Library/Caches/com.apple.xbs/Sources/libressl/libressl-22.200.2/libressl-2.6/crypto/evp/p_lib.c:295:`

Seems like step two is not conve

[2018-06-07 14:30] Pixelstart commented on #244
Sure, here you go!

`AuthKey_4W5TU4DR28.p8`
`-----BEGIN` PRIVATE KEY-----
MIGTAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBHkwdwIBAQQgir767IOFOYHsYtNQ
wsvLeJVu3bxCLL/SURQvMZw6QumgCgYIKoZIzj0DAQehRANCAARuwGOLtHY99zLl
iyACJp6xmj6YfE8bOLxHTZGkoC/+yNgf/fBpwf5Nin2pzyM8FUOYXg1R1v2bQqJy
wHYtSkc1
-----END PRIVATE KEY-----`

[2018-06-07 14:46] Spomky commented on #244
This following command may help you.
It requires PHP 7.1 and the OpenSSL extension.

[code]

It will convert your key in PKCS#1 PEM instead of PKSC#8. You can then use it with the library.

[2018-06-07 15:00] lcobucci commented on #244
@Pixelstart I just saw that the key you just gave looks like an ECDSA key instead of RSA:

[code]

And that's why the OpenSSL conversion to RSA doesn't work.
Using what @Spomky said gives us the ECDSA private key (thanks @Spomky):

[code]

[2018-06-07 15:39] Pixelstart commented on #244
Thanks to you both for making me understand this. So if I understand this correctly, I still have to convert the new key.pem to a .key which then has a public and private key?

[2018-06-07 22:35] Pixelstart commented on #244
So I've figured this our. Finally. I had to convert the `.p8` key to a `.pem` key first. I've used @Spomky's tip. After this I've used @lcobucci's way of retrieving the public key from the new created `.pem` key.

After adding the new keys to the builder, I ran into a new error;

[code]

After searching the Issues again I figured I needed to add Ecc to 'composer.json'.

[code]

Keep in mind that y

[2018-06-08 01:44] lcobucci commented on #244
@Pixelstart cool! We're removing the dependency on that lib quite soon (for v3.3 and v4.0-alpha2) then things will be a little easier as well.

Closing this issue then 😄

[2018-06-08 01:44] #244 closed

[2018-06-08 06:29] Spomky commented on #244
Good news.

You can still use the application to convert a key from private to public:

[code]

This will create `private_key.pem` and `public_key.pem` files.

[2018-06-08 08:17] Pixelstart commented on #244
@Spomky Cool! Thanks for that additional info.

@lcobucci So will it work on PHP 7.2 then?

[2018-06-09 06:42] lcobucci commented on #244
@Pixelstart yeap!

[2018-06-11 15:24] addemod opened #245 "HTTP 500 when including BaseSigner"
I moved from localhost to my hosted website.
I noticed I got a HTTP 500 code on pages that used the autoloader function from composer. At first I couldn't understand where this came from, so I broke it down where I found the including of BaseSigner made the server throw a HTTP 500 error.

I have no idea what causes this, or where to find any information on what causes this.
OpenSSL extension is in

[2018-06-11 15:28] #245 closed

[2018-06-13 12:07] kapil-infobeans opened #246 "mdanter_ecc Singer Ecdsa KeyParse Issue"
I got below error:

 \Mdanter\Ecc\Primitives\prime. Actual type: int

Thanks

[2018-06-13 14:49] lcobucci commented on #246
@kapil-infobeans can you please provide information on what happened here?

[2018-06-13 15:15] kapil-infobeans commented on #246
Thank you for quick response, I was running the application on PHP 7.1 and
I was trying to use old version 3.2.0, so there was some errors. Now by
using latest 4.0 aplha veraion, it's working without any issues.

On 13 Jun 2018 8:19 pm, "Luís Cobucci" <notifications@github.com> wrote:

@kapil-infobeans <https://github.com/kapil-infobeans> can you please
provide information on what happened here?

[2018-06-13 16:01] lcobucci commented on #246
@kapil-infobeans right, please keep in mind that `v4` still alpha - which means that public interface is not fully stable yet (it's completely tested and fully functional, though).

We have cronjobs running on travis to check the supported branches but PHP 7.1 is not there yet, I'll add it soon and see what are the issues you're mentioning

[2018-06-24 04:45] raininja commented on #182
I think I'm going to fork this and use an updated ecdsa implementation

[2018-06-24 11:11] Ocramius commented on #182
Send PRs to finish up 4.x, rather?

[2018-06-24 22:33] lcobucci commented on #182
@raininja https://github.com/lcobucci/jwt/pull/247

[2018-06-24 22:45] lcobucci commented on #235
@Ocramius once you review #247 I can port it back to v3.3.x and then we'll get rid of it.

[2018-06-24 22:46] lcobucci commented on #236
@lovearthhome closing due to lack of info, please reopen if needed.

[2018-06-24 22:46] #236 closed

[2018-06-24 22:48] lcobucci commented on #223
@donatj closing due to lack of interaction, please reopen if you'd like to discuss it a bit more.

[2018-06-24 22:48] #223 closed

[2018-06-24 23:02] Ocramius commented on #235
Reviewed

[2018-07-11 09:40] iluuu1994 opened #249 "Allow null as default value for getClaim"
Disclaimer: I'm not sure if this is still relevant for `4.0`.

The current implementation of `getClaim` does not allow null-values:

[code]

Even if you specifically provide the default value:

[code]

This could be solved by simply changing this line:

[code]

to

[code]

[2018-07-17 17:25] SandroBCIT opened #251 "Refresh Token"
Is there a way to refresh the token using this library?

[2018-07-18 13:46] ericktedeschi commented on #251
The way how you manage tokens is about your implementation, not the lib.
Identity providers (oauth2 + openid connect + jwt) do the job for you about
"persistent login"... and much more in a real application.

My point is: if you need refresh tokens... probably you are implementing an
authorization server (rfc 6749 and more)... if not. Probably you are
implementing something based upon concepts tha

[2018-07-18 13:48] vigor-vlad commented on #251
Well, it lies out of the scope of the library. It can be used to generate both the access and the refresh tokens, but as for the refresh process itself, it should be handled by your app.

[2018-07-18 15:47] FranciscoG commented on #215
@viraj-khatavkar  I am also getting this "Malformed Assertion" from Box.  Did you ever figure it out?

[2018-07-26 07:54] yangqinjiang opened #252 "why do that? replace char"
## vendor /lcobucci /jwt /src /Parsing / Decoder.php
[code]
## I modify it for other systems write by golang
[code]

[2018-07-26 08:30] lcobucci commented on #252
I hope that this answers you, please re-open the issue if you need more information.

[2018-07-26 08:30] #252 closed

[2018-07-26 08:41] lcobucci commented on #251
@SandroBCIT as people mentioned here, refreshing and revoking tokens is not responsibility of any JWT library. This is up to you to define (or decide to use a standard as @ericktedeschi said).

Closing here, please re-open if you feel the need to discuss it further 👍

[2018-07-26 08:41] #251 closed

[2018-07-26 15:46] yangqinjiang commented on #252
OKkkkk.I try to verify the token by golang

[2018-07-26 16:00] lcobucci commented on #252
@yangqinjiang sure, just make sure the implementation uses base64url and not base64, otherwise your token would be incorrect and not compliant with the spec. https://jwt.io might help you find good options.

[2018-07-27 08:30] lcobucci commented on #249
@iluuu1994 it's indeed not relevant for v4 but we can plan it for v3.3. I'll be working on it in the upcoming month 👍

[2018-07-29 14:39] lcobucci commented on #207
Fixed by #209

[2018-07-29 14:39] #207 closed

[2018-07-30 09:31] amd5 opened #253 "Error token can be used normally"
I directly loaded the SDK
generate token

Then  Use token Decrypt             Return   ok
modify token At the end of an arbitrary string                                              Decrypt         Return   ok

[2018-07-30 09:37] amd5 commented on #253
use Lcobucci\JWT\Parser;
use Lcobucci\JWT\Builder;
use Lcobucci\JWT\Signer\Hmac\Sha256;

PHP frame name
thinkphp 5.0.20

`
public function index(){
		$builder = new Builder();
		$signer  = new Sha256();
		// 设置发行人
		$builder->setIssuer('https://app01.test.com');
		// 设置接收人
		$builder->setAudience('https://app01.test.com');
		// 对当前token设置的标识
		$builder->setId('4f1g23a12aa', true);
		// 设置生成token的时

[2018-07-30 09:59] amd5 commented on #253
Answer？

[2018-07-30 10:01] lcobucci commented on #253
@amd5 it looks like you're just tampering the signature of the token, which is not being validated by your code. As mentioned on https://github.com/lcobucci/jwt/blob/3.2/README.md parsing, validation, and signature verification are different concepts.

I advise you to read a bit more into the JWT world to understand the basic format and how to use it properly.

[2018-07-30 10:01] #253 closed

[2018-07-30 10:03] lcobucci commented on #253
I also suggest you to upgrade your PHP stack, this library requires (and it's fully tested with) PHP 5.5+. In the next minor release we're going to require PHP 5.6 and the major will probably require PHP 7.2.

[2018-07-30 10:06] lcobucci commented on #253
Btw, you can also use https://jwt.io to validate your valid and invalid tokens

[2018-07-30 10:10] lcobucci commented on #253
I'm sorry, there's another potential issue with your code which is the fact that you're using a weak algorithm (HS256) and a very small key. I'd also advise to use an asymmetric algorithm like RSA to avoid that.

[2018-08-01 07:43] Tonkong opened #255 "Error while decoding to JSON"
RuntimeException Object ( [message:protected] => Error while decoding to JSON: Malformed UTF-8 characters, possibly incorrectly encoded [string:Exception:private] => [code:protected] => 0 [file:protected] => /Users/tangkang/web/yii2/vendor/lcobucci/jwt/src/Parsing/Decoder.php [line:protected] => 36 [trace:Exception:private] => Array ( [0] => Array ( [file] => /Users/tangkang/web/yii2/vendor/lcobuc

[2018-08-01 09:41] Tonkong commented on #255
I have already solved the problem。

`if (preg_match('/Bearer\s(\S+)/', $auth, $matches)) {
            $tokenStr = $matches[1];
}`

[2018-08-01 09:44] #255 closed

[2018-08-01 09:52] lcobucci commented on #255
Ohh I see, thanks for explaining the reason. Please let us know if need help with anything else.

[2018-08-02 13:09] taasan opened #256 "Undefined method SplFileObject::fread()"
Commit 8e80bec6ad37421b93e1e9b088fbf3767ab6840b introduced an error on PHP 5.5.9 (which I am stuck at)

```PHP Fatal error:  Call to undefined method SplFileObject::fread() in /var/www/vendor/lcobucci/jwt/src/Signer/Key.php on line 66```

[2018-08-02 16:58] Ocramius commented on #256
I don't think that we should fix bugs for EOL'd PHP versions, so I'm closing as `won't fix` here, sorry.

[2018-08-02 16:58] #256 closed

[2018-08-02 16:59] Spomky commented on #253
@amd5 The modification of the last character(s) i.e. the signature part may not change the decoded binary value (the signature is just base64url safe encoded). Please refer to [this answer](https://stackoverflow.com/questions/26432112/jwtsecuritytokenhandler-says-signature-of-jwt-valid-after-changing-1-char/26618941#26618941) and also all other similar questions on stackoverflow.

@lcobucci [this

[2018-08-02 21:05] taasan commented on #256
Well, you should at least update composer.json with minimum php version 5.5.11 for this version so you don't lie about which php version is needed.

[2018-08-02 21:09] Ocramius commented on #256
True that. @lcobucci what's your opinion on that? Reopen and fix? EOL our
version?

On Thu, 2 Aug 2018, 23:05 Trond Aasan, <notifications@github.com> wrote:

[2018-08-02 21:26] lcobucci commented on #253
@Spomky thanks for your explanation, you're indeed correct about the two things. I tend to avoid symmetric algorithms as much as possible but I agree that it can still be used (but with a stronger key IMO).

[2018-08-02 21:30] lcobucci commented on #256
@taasan I'm very sorry for that issue, it's been like ages since I use that version of PHP that I completely forgot about it. Making the change compatible with your PHP version is so simple that I rather modify the library. But please try to upgrade your stack as soon as possible, v3.3 will require PHP 5.6 and v4 PHP 7.2 (possibly 7.3)

[2018-08-03 09:11] taasan commented on #256
Thanks :-) I am unfortunately stuck with Ubuntu 14.04 for another year

[2018-08-15 11:28] shakura opened #259 "Unable to use ECDSA signer on PHP 7.2 (request to update mdanter/ecc dependency)"
To use ECDSA signer it is required to install mdanter/ecc version ~0.3.1. But this extension requires php-mcrypt which was deprecated in PHP 7.1 and was deleted in PHP 7.2.
Latest mdanter/ecc (0.5.0) doesn't depend on mcrypt but however it is incompatible and throws an exception:
```Type error: Argument 1 passed to Lcobucci\JWT\Signer\Ecdsa\KeyParser::__construct() must be an instance of Mdanter\E

[2018-08-15 15:17] lcobucci commented on #259
@shakura at the moment PHP 7.1+ is not supported by the stable releases we have, v4-alpha1 is usable and fully tested but the interface is not 100% stable.

I'll be addressing this issue with the v3.3 ASAP.

[2018-08-27 03:58] yaquawa opened #262 "[Proposal] `Encoder` should be interface"
Currently encoder is [concrete class](https://github.com/lcobucci/jwt/blob/3.3/src/Parsing/Encoder.php) which make [this line](https://github.com/lcobucci/jwt/blob/3.3/src/Builder.php#L68) nonsense.

Because user can only pass a instance of `Lcobucci\JWT\Parsing\Encoder`, but `Lcobucci\JWT\Parsing\Encoder` has no constructor which means the only option is passing a instance of `new Lcobucci\JWT\Pa

[2018-08-27 09:51] lcobucci commented on #262
@yaquawa thanks for your input, this is indeed an important matter and it has already been addressed in v4 (which is currently in alpha). Now we depend on interfaces provided by [`lcobucci/jose-parsing`](https://github.com/lcobucci/jose-parsing/tree/master/src) and you can provide whatever implementation you need.

I'll analyse things to see if we'd have any BC-break to backport it to v3.x.

[2018-08-27 09:52] lcobucci commented on #262
In the meantime you can try to use v4, which is thoroughly tested but will still have some interface changes.

[2018-08-27 12:29] yaquawa commented on #262
@lcobucci Cool!! Thanks!👍🏼

[2018-09-03 21:36] daniruizcamacho commented on #204
Hi @lcobucci, I have some questions.

What type of value is each element of the constraints array? I mean, I found a class called "Constraint" and I suppose that each element must be an object of Constraint class but I am not sure.

And if this first question is affirmative, Would you validate that each element be "Constraint" and throw an exception when it's not true? (\InvalidArgumentException)

[2018-09-04 04:48] Lory1990 opened #263 "Incompatibility with OpenSSL 1.1.0f"
Hi lcobucci,
I am Lorenzo De Francesco, software architect at Cryptoforecast. We are developing our platform with Symphony PHP and LexikJWTAuthenticationBundle, this bundle uses LCobucci JWT.

We are facing this error on our production server: we can login into the application BUT every time we make a request the response is 401 - Bad JWT Token, on the logs there is this error:
[code]

On our deve

[2018-09-04 04:56] Ocramius commented on #263
Looks more like an invalid certificate to me, especially because of:

[code]

[2018-09-04 04:59] Lory1990 commented on #263
We also tried to generate new private and public key on production server but did't work...

private key is
[code]
Public is
-----BEGIN PUBLIC KEY-----
MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAxBukwnq/gA8f6QAz/slD
[...]
-----END PUBLIC KEY-----

[2018-09-04 05:08] lcobucci commented on #263
@Lory1990 can you please send us the command you're using to generate the keys?

[2018-09-04 05:12] Lory1990 commented on #263
Here they are!
[code]

[2018-09-04 05:14] lcobucci commented on #263
Thanks, I'm going to do some tests and get back to you :+1:

[2018-09-05 13:32] Lory1990 commented on #263
Hey @lcobucci  do you have any news? Have you done your tests?

[2018-09-06 10:43] lcobucci commented on #263
@Lory1990 hey, yes! I've just ran the tests using the official PHP docker image (PHP 7.0.31 and OpenSSL 1.1.0f) and everything just worked...

<details>
    <summary>test.sh</summary>

[code]
</details>

<details>
    <summary>Dockerfile</summary>

[code]
</details>

Output of the execution is:

[code]

So maybe there's something wrong with your keys.

[2018-09-09 14:40] lcobucci commented on #263
@Lory1990 I'll close this as `invalid` due to the fact that everything worked, please reopen if you have new information.

[2018-09-09 14:40] #263 closed

[2018-09-11 08:24] acodercat opened #265 "I want validate Many Issuer"
I want validate Many Issuer
e.g ['issuer1', 'issuer2']

[2018-09-11 09:12] Ocramius commented on #265
Seems to be feasible on `master`: https://github.com/lcobucci/jwt/blob/master/src/Validation/Constraint/IssuedBy.php

[2018-09-11 21:29] SandroBCIT opened #266 "Can't set expiration to more than 1h"
I set the expiration time to 8 hours like this
`->setExpiration(time() + 28800)`
but it seems that from what I was able to test, the token is returned as invalid after 1 hour...

Any ideas why that might be??

[2018-09-12 07:32] Ocramius commented on #265
Yep, verified: on `3.x`, this isn't really working due to expected equality: https://github.com/lcobucci/jwt/blob/c9704b751315d21735dc98d78d4f37bd73596da7/src/Claim/Factory.php#L39

On 4.x, this will work via the constraint I linked (https://github.com/lcobucci/jwt/blob/13ada5bd47c27d9eb2cd382fbc1a10437f6000af/src/Validation/Constraint/IssuedBy.php)

[2018-09-12 07:32] #265 closed

[2018-09-12 07:58] Spomky commented on #265
Additionally, it deviates from the specification. The [`iss` claim](https://tools.ietf.org/html/rfc7519#section-4.1.1) is supposed to be a string (or URI).
For this specific case, best would be to use a custom claim.

[2018-09-12 12:46] lcobucci commented on #265
@Spomky the `iss` claim is indeed a single string but your application can allow multiple issuers when validating, which is exactly @acodercat's need.

[2018-09-12 13:00] Spomky commented on #265
OK. I thought he wanted to validate a token with the `iss` claim containing a list of issuers instead of a string.

[2018-09-12 13:59] lcobucci commented on #266
Can you please post a sample token (full string) and the snippet you're using to validate it?

[2018-09-12 15:41] SandroBCIT commented on #266
@lcobucci
[code]
this is the function I use to generate the token. It works for 5, 15, 30 min, and 1 hour, but not more.

[2018-09-12 21:41] lcobucci commented on #266
That's not exactly what I've asked, I'd like to have a sample token generated by your code and the snippet which you use to validate tokens (what tells you that the token is not valid even though you've used the correct amount of seconds to issue it) ...

[2018-09-12 21:58] SandroBCIT commented on #266
Oh my bad. Here is the token that got returned just now.
`eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE1MzY3ODkyMDgsIm5iZiI6MTUzNjc4OTIwOCwiZXhwIjoxNTM2ODE4MDA4fQ.5ov-utAj2NhFOilgNSlaGShn2SY7glHX1BW5kwaMRrM`

[2018-09-13 08:19] lcobucci commented on #266
@SandroBCIT no worries :+1:

And how are you validating this token? I've just wrote this script and it looks like things are working as expected:

[code]

Output:

[code]

As you can see the validation works as expected, returning `true` when `time()` is less or equals than `1536818008` and `false` when it's greater than `1536818008`.

With that said, it really looks like there might be something

[2018-09-14 09:17] Amoy5gc opened #267 "Can I reset expiration time after creating token?"
can i have some advice about how to update a token's expiration time after  i visit a method called update($token)。 can i delay the expiration time if i dont wanna change the token

[2018-09-15 01:50] lcobucci commented on #267
@Amoy5gc JWTs are immutable. You'd need to generate a new one.

[2018-09-18 08:12] lcobucci commented on #266
@SandroBCIT closing this as `invalid` due to the fact that everything seems to work. Please open it if you feel the need :+1:

[2018-09-18 08:12] #266 closed

[2018-09-25 09:25] zxj2018 opened #268 "For validation rules, 'not equal' maybe add."
like claim 'jti',use 'not equal' or 'not in' more.

[2018-10-08 04:28] nmiller12 commented on #259
Hi, is there an ETA for this? I also have this issue of being unable to use the stable release due to issue with mdanter/ecc, php-mcrypt, PHP 7.2

[2018-10-08 07:58] lcobucci commented on #259
@nmiller12 not yet, #247 fixes that already but needs some minor changes and then be applied in 3.3-dev.

[2018-10-08 09:42] nmiller12 commented on #259
no problem. thanks for the quick reply.

[2018-10-14 12:32] #187 closed

[2018-10-14 12:33] lcobucci commented on #267
Closing due to lack of activity. @Amoy5gc please re-open if you'd like to discuss this a bit more :+1:

[2018-10-14 12:33] #267 closed

[2018-10-14 17:19] lcobucci commented on #191
With #248 it's now possible to set a leeway for the validation.

[2018-10-14 17:19] #191 closed

[2018-10-20 19:31] domenkozar commented on #82
There is one use case not considered: copy/pasting JWT. That's needed when JWT is generated on the web and human has to copy it to a local terminal, bootstrapping their client that talks to the server.

There could be another variation of the token so that compression wouldn't be part of the header. Compression probably doesn't have to be adaptive, since there's not much to choose from.

However,

[2018-10-26 20:16] bradchesney79 commented on #158
In Laravel apps... check your storage/ directory under your project root for your public/private keys.

This doesn't necessarily apply to the issue described above; however, due to this being the #1 result for several of my google searches...

This JWT library is the one Laravel passport uses, if you want to dig into a token at a level Laravel doesn't necessarily facilitate, this library makes it

[2018-11-08 12:48] mahmutakyol opened #273 "This token is not signed."
Hi, I am developing rest full api with JWT and I gave that error.
My codes like

[code]

[code]

Example token  string when I send with Authorization;

Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJub25lIiwianRpIjoiNGYxZzIzYTEyYWEifQ.eyJpc3MiOiJodHRwOlwvXC9zdHlidWwuY29tIiwiYXVkIjoiaHR0cDpcL1wvc3R5YnVsLmNvbSIsImp0aSI6IjRmMWcyM2ExMmFhIiwiaWF0IjoxNTQxNjgwMDM3LCJuYmYiOjE1NDE2ODAwMzcsImV4cCI6MTU0MTY4MzYzNywiaWQiOj

[2018-11-08 12:55] lcobucci commented on #273
@mahmutakyol you're receiving that error because you're indeed not signing the token while issuing it. Please take a look at https://github.com/lcobucci/jwt/blob/3.2/README.md#token-signature :+1:

[2018-11-08 13:02] mahmutakyol commented on #273
Thank you so much fast solution 🥇 I used the signature method in the wrong place, should be used just before getToken()

[2018-11-08 13:03] #273 closed

[2018-11-20 13:33] alexandrmazur96 commented on #259
Hi! Has news?)

[2018-11-20 13:45] lcobucci commented on #259
@alexandrmazur96 yeap, that got merged in and I'm working on backporting things to v3.3 (to also offer a decent migration path to v4). No schedule, though (sorry)

[2018-11-20 13:46] lcobucci commented on #259
I will probably have many v3.x releases to have the **full** migration path - because there're still more things undecided on v4

[2018-12-02 18:35] eddiejibson opened #279 "Must be an instance of Lcobucci\JWT\Signer, instance of Lcobucci\JWT\Signer\Key given"
Hello,
I'm attempting to sign a token with an RSA key that has 4096 bits. I've done it like this:
`->sign($keychain->getPrivateKey('file://path/to/my/key.key'))`
However, when I run it, I'm getting this error:
`Argument 1 passed to Lcobucci\JWT\Builder::sign() must be an instance of Lcobucci\JWT\Signer, instance of Lcobucci\JWT\Signer\Key given`
I'm using version 3.2.
Any ideas?
Thanks.

[2018-12-02 18:43] eddiejibson commented on #279
It works when I sign it with `Lcobucci\JWT\Signer\Rsa\Sha512`
However, I'm unsure why that's needed when I could just sign it with the RSA key alone?

[2018-12-02 18:46] Ocramius commented on #279
The signer is what is used to do the actual signature, and it needs the key.

On Sun, 2 Dec 2018, 19:43 Eddie Jibson <notifications@github.com wrote:

[2018-12-02 18:47] Ocramius commented on #279
Closing as `invalid`. The signer is indeed what is using the key to perform the signing operation.

[2018-12-02 18:47] #279 closed

[2018-12-02 18:47] eddiejibson commented on #279
So I do need to use `Lcobucci\JWT\Signer\Rsa\Sha512` every time I sign?

[2018-12-02 18:48] Ocramius commented on #279
Or any other RSA signer.

On Sun, 2 Dec 2018, 19:47 Eddie Jibson <notifications@github.com wrote:

[2018-12-14 12:49] nashgao opened #280 "Question about verify method"
If a user logs in and receives a token. The user can obtain the payload by decoding the token. What if the user modifies some content of the payload such as scope or something, does the verify method can detect that(which means return false)?
From the demo it is:

var_dump($token->verify($signer, 'testing 1')); // false, because the key is different
var_dump($token->verify($signer, 'testing')); //

[2018-12-14 14:43] BillRiess commented on #259
Is there any update on this?

[2018-12-18 15:00] Gerben-T commented on #259
@lcobucci Do you have an ETA on a 3.x release that fixes this issue? The library is currently unusable for me because of this issue.

[2018-12-18 15:08] lcobucci commented on #259
@Gerben-T @BillRiess I don't have an ETA at the moment. I'm focused on supporting #276 and backporting some of the new features of v4 - which is a lot of work. Once that PR gets merged in I'll probably tag another alpha of v4, which is 100% functional at the moment - just have a different, and undocumented, API.

I **hope** to get everything done in about 2~3 weeks. I'd suggest you to check v4 API

[2018-12-18 15:10] Gerben-T commented on #259
@lcobucci Thanks for the quick response, sadly i'm working with PHP 5.5.x at the moment so i can't use the v4 api..

[2018-12-18 15:35] Gerben-T commented on #259
I get the same error as the issue starter while on v3.2.5 and PHP 5.6.
This is my code

[code]

error

[code]

[2018-12-18 15:47] Gerben-T commented on #259
Ah i was using a newer version of the mdanter/ecc package (0.4.x)
I downgraded to the one that is listed in the composer.json of your package (0.3.1) and the fatal error is now gone.

[2019-01-05 06:01] medmin commented on #280
I am also confused.

So, the server generates a token string and sends the token string to the client app ( such as a web app built with React ). And the client app sends this token string back to server.

But the `verify` method is the `Token` **Object**'s function. How do I verify a  token `string` ?

[2019-01-07 07:15] lcobucci commented on #280
@nashgao @medmin let's try to address the confusion :smile:

First thing we have to remember is that the server side can **never** ensure that a request came from a trustworthy client. We always have to validate things.

A signed JWT is composed with three parts: headers, claims, and signature. The signature is [created by the **issuer**](https://github.com/lcobucci/jwt/blob/3.2/README.md#creating

[2019-01-07 07:15] #280 closed

[2019-01-08 01:47] medmin commented on #280
Thanks for the detailed explanation. I really appreciate it.

It's very clear. Thank you so much!

[2019-01-08 19:49] aksafan opened #282 "There is no support for PHP 7.3"
There is [mdanter/ecc](https://github.com/phpecc/phpecc) in dependencies of an old version, that required php 7.2 max.
So when i'm trying to add lcobucci/jwt library to my project, i receive and error:
`- mdanter/ecc v0.4.5 requires php >=5.6.0, <7.2 -> your PHP version (7.3.0) does not satisfy that requirement.`

The fully php 7.* support for this library was arrived in release [PHPECC v0.5.0](ht

[2019-01-16 10:11] husunwang commented on #217
if secret is not encoded by base64, and I click 'secret base64 encoded'. how would it generate a secret?

[2019-01-21 07:08] lcobucci commented on #282
@aksafan thanks, we're aware and working on it to removing that dependency quite soon. A security review is pending on the ecdsa pr we have open, and then it will be back ported to v3.3.

Sorry about that delay but I really don't want to have potential security issues.

[2019-01-24 14:37] nashgao commented on #280
Thank you for the reply, really appreciate it as well.
The reason why I asked this question is that: I generated a token, then I only changed the payload and use the verify method to test it. Then I use this token to log in, the verify method didn't reject this token.

Assume the header is A, the payload is B and signature is C for the original token.
After I change the scope in the payload, then

[2019-01-28 08:38] lcobucci commented on #282
@GrahamCampbell I've just merged in @Spomky's PR (which is quite interesting in many ways) and am back porting things to v3.3. It would be awesome to have help with the documentation (not sure if the open issues on that are helpful enough).

[2019-02-05 07:20] lcobucci commented on #282
#288 just backported PHP 7.1-7.3 support, can you please change your requirements to `3.3.x-dev` and check if things are working fine for you? **Important:** this is still a development version and shouldn't be used in production yet.

[2019-02-05 07:20] lcobucci commented on #259
#288 just backported PHP 7.1-7.3 support, can you please change your requirements to `3.3.x-dev` and check if things are working fine for you? **Important:** this is still a development version and shouldn't be used in production yet.

[2019-02-05 07:20] lcobucci commented on #246
#288 just backported PHP 7.1-7.3 support, can you please change your requirements to `3.3.x-dev` and check if things are working fine for you? **Important:** this is still a development version and shouldn't be used in production yet.

[2019-02-05 07:21] kapil-infobeans commented on #246
Thanks!
<http://bit.ly/InfoBeans_esignature_website>
  <http://bit.ly/InfoBeans_esignature_facebook>
<http://bit.ly/InfoBeans_esignature_twitter>
<http://bit.ly/InfoBeans_esignature_linkedin>

On Tue, Feb 5, 2019 at 12:50 PM Luís Cobucci <notifications@github.com>
wrote:

[2019-02-05 07:21] lcobucci commented on #36
Won't be done, there's very little benefit in doing it now.

[2019-02-05 07:21] #36 closed

[2019-02-23 20:54] TihomirS opened #289 "Question about verify method"
Hi,
First, thanks for the great work.

Just short question:
If I modify string for the token with some characters on validation I receive - wrong token - this is fantastik.
But if modify it with one more dot (.)  I get -  PHP Fatal error:  Uncaught InvalidArgumentException: The JWT string must have two dots .. and I get error 500

How to deal with this?

[2019-02-24 04:40] andreasschroth commented on #289
You can catch the exception and then e.g. respond with a more specific API error as response.

[2019-02-24 17:14] TihomirS commented on #289
yes, I know this...
but still thinking that checking dots must be first validation rule and not in my side :)

[2019-02-25 01:06] Ocramius commented on #289
There are two types of validation in most web apps:

 * Frontend validation, optional - makes things nice for end users, stops incoming requests from hitting the domain layer
 * Domain validation, required - crashes hard if something doesn't match expectations, prevents invalid state from flowing into the system

This library implements the second, in the domain/context of JWT.

It is up to you to

[2019-02-25 01:06] #289 closed

[2019-03-19 11:39] hphade opened #290 "how to add mobile number?"
8097336135

[2019-03-19 11:40] #290 closed

[2019-04-16 09:06] samjudge opened #291 "Why does the parser cast the `aud` claim to an array when the builder only accepts a string?"
I was looking at the code for Tokens/Parser and Tokens/Builder and noticed that the parser casts the aud claim to an array

[code]

but the builder only accepts a string...

[code]

Surely this mismatch in types is a mistake?

[2019-04-16 09:16] samjudge commented on #291
Nevermind, I see I'm supposed to iterate over and add them one by one now...

[2019-04-16 09:16] #291 closed

[2019-04-16 09:43] lcobucci commented on #291
@samjudge thanks for your input here, this is part of an **unstable** and still under revision API (hence the lack of documentation).

Do you think it would be better for you if that method was variadic? Like:

[code]

I haven't considered that before but if it makes your life easier it would be extremely easy to modify things :smile:

[2019-04-16 10:09] samjudge commented on #291
@lcobucci Hi, thanks for getting back so fast, I love this project and have used the stable releases for a long time :) but for reasons beyond my control the team I've began working with has adopted the unstable v4 stuff... (So I'll probably be popping by a few times - sorry!)

Regardless, I think that would be a good change, since the signature would make what was going on clearer, and let me rem

[2019-04-16 11:57] lcobucci commented on #291
@samjudge I'm really glad to hear you love it and use it for a long time :heart:
v4 is the imperfect result of a perfectionist's mind, which means that I'm always reviewing its API :joy: However I'm starting to be happy about it - after 3 years of it's first commit - and am working on designing a migration process for v3 users (on v3.3 or even v3.4).

I'd really appreciate any feedback, so don't h

[2019-04-16 12:02] lcobucci commented on #291
Done: https://github.com/lcobucci/jwt/releases/tag/4.0.0-alpha3

[2019-05-21 21:42] Petah opened #294 "Verify ES256 with public key"
Hi, how would I verify a JWT token with a ES256 public key?

[2019-05-22 09:45] lcobucci commented on #282
Preparing the release of v3.3.0 now, so this can be closed.

[2019-05-22 09:45] #282 closed

[2019-05-22 09:45] lcobucci commented on #259
Preparing the release of v3.3.0 now, so this can be closed.

[2019-05-22 09:45] #259 closed

[2019-05-22 09:45] lcobucci commented on #246
Preparing the release of v3.3.0 now, so this can be closed.

[2019-05-22 09:45] #246 closed

[2019-05-22 10:02] lcobucci commented on #294
@Petah in order to use ECDSA you should follow: https://github.com/lcobucci/jwt/blob/3.3/README.md#rsa-and-ecdsa importing `Lcobucci\JWT\Signer\Ecdsa\Sha256` instead of `Lcobucci\JWT\Signer\Rsa\Sha256`.

[2019-05-22 17:36] MasterOdin commented on #133
Is there plans to backport the changes in v4 to avoid the now deprecated sign/unsign functions?

[2019-05-22 22:03] Petah commented on #294
Thanks, and sorry I should have read it properly.

[2019-05-22 22:03] #294 closed

[2019-05-22 22:08] lcobucci commented on #133
@MasterOdin definitely, I'm working on that already. I decided to release v3.3 to solve the incompatibility with newer PHP versions but v3.4 isn't far away.

[2019-05-25 10:02] abhijain03 commented on #217
How to generate token with some secret code without the secret base64 encoding.

[2019-05-25 10:06] Ocramius commented on #217
Base64 is a bijecttive pure function: you can apply encoding/decoding yourself

[2019-05-25 20:09] rishabhchd19 commented on #217
We want keeping the secret code but unchecked the secret base64 encoded. How can we do that using library?

![34401484-86f09cb8-ebd6-11e7-94e6-09bedef03de5](https://user-images.githubusercontent.com/30948461/58374155-1c963880-7f57-11e9-9075-c2a2b4620ec3.png)

Like this kind of token we are using.

[2019-06-07 19:20] rishabhchd19 opened #299 "Secret key to HS256 token not working"
Hi,

I want to generate ENCRYPTED token with the Header + Payload + Signature as shown in the image, but I want to keep the red marked box unchecked. To Generate that I used the following syntax for "alg": "HS256",  "typ": "JWT" as shown below:

[code]

But the Authentication is not working. Have I done anything incorrect? What will be the syntax to generate the token for the payload & secret key

[2019-06-08 18:44] rishabhchd19 commented on #299
@Ocramius can you please help me solving this issue. I shall be thankful to you.

[2019-06-08 21:47] lcobucci commented on #299
@rishabhchd19 that's a bit odd... Just to understand it properly, you *don't want* to use a base64 encoded string as key, right? And is there any chance you mistyped something? On your snippet you're using `@bcd` as key and `@bcde` on the screenshot...

[2019-06-08 21:50] rishabhchd19 commented on #299
Hi @lcobucci ....yes key is same but I don't want key to be used as secret base64 encoded. Is it the right syntax am I using to generate the token as same as shown in image? Also, what's the difference in $signer, '@bcde' and $signer, new Key('@abcde') ?

[2019-06-09 10:08] lcobucci commented on #299
@rishabhchd19 you're issuing the token in the correct way.

This snippet below is the same as yours but with the missing variables:

[code]

Running it now generates the token: `eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJjb250ZXh0Ijp7InVzZXIiOnsibmFtZSI6IlRlc3QiLCJhdmF0YXIiOiJodHRwczpcL1wvdGVsZWNvbmYueW9nZGlhZ25vc3RpY3MuY29tXC9pbWFnZXNcL2NvbXBhbnlfYXZhdGFyLnBuZyIsImVtYWlsIjoidGVzdEB0ZXN0LmNvbSIsImlkI

[2019-06-09 10:18] rishabhchd19 commented on #299
Ok. Thank You very much @lcobucci ....I will check it at my system end. Your help means alot to me as it will make easy for me to debug the actual problem.

[2019-06-09 10:23] lcobucci commented on #299
@rishabhchd19 just saw this bit now:

[Encrypted token is something slightly different](https://tools.ietf.org/html/rfc7519#page-26), are you sure you need this? This lib doesn't support encrypted tokens (neither does jwt.io).

If you do have the need for encrypted/nested tokens then you should checkout out @Spomky's awesome JWT framework https://web-token.spomky-labs.com/v/v2.x/

[2019-06-09 10:25] rishabhchd19 commented on #299
No...I just wanted as same as shown in the Image...I think the syntax you suggested above will resolve the issue...because syntax was fine, now i will see into the system. :)

[2019-06-09 11:05] lcobucci commented on #299
@rishabhchd19 alright, I'll close this issue for now then. Feel free to reopen it if need help :+1:

[2019-06-09 11:05] #299 closed

[2019-06-17 20:11] bradynpoulsen opened #300 "Roadmaps for 4.0.0 and 5.0.0"
I'd be interested in helping to stabilize the v4 code APIs. Do you have a roadmap on what is still needing to be completed?

[2019-06-21 09:37] roman-briazgalov opened #301 "Token validator works differently in few places"
Hi!

First of all, thank you very much for your lib. It's really simple to understand.

I have used JWT for REST API in my app.
Then i had added WebSockets into the app and i decided to use JWT for socket connections too.

I use Laravel 5.8, PHP 7.3.
JWT works well in JWTMiddleware for REST API requests.

The working scheme for sockets and JWT:
1. The client sends JSON with JWT to server.
2. The s

[2019-06-21 09:38] lcobucci commented on #301
@roman-briazgalov glad to hear you like it! It seems like you submitted the issue without the full description 😁

[2019-06-21 09:40] roman-briazgalov commented on #301
That's right. I pressed Ctrl+Enter accidentally

[2019-06-21 10:03] roman-briazgalov commented on #301
@lcobucci i have changed the first message. Check it please, if you have time.

[2019-06-21 14:55] lcobucci commented on #301
@roman-briazgalov could you please send us a sample token and the values you're using to validate it? It's also important to mention that you're not verifying the signature of the token, which might allow people to change the token.

[2019-06-23 12:36] flihub opened #302 "help for rest api and jwt"
i read a lot of jwt tutorials but i have some still questions ?

1. we wanted to write a mobile api, allow only mobile app user with username and password info to access api.
And we build a login page user profile.
So we should give jwt only to mobile api user ?
After User login we not give token ?

2.  After user login mobile app should save username password to somewhere, or should save user jwt

[2019-06-24 05:28] roman-briazgalov commented on #301
@lcobucci hI!
Thanks for the fast reply!

Here is the sample of the token:
    eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiIsImp0aSI6IjVkMTA1OTIzZjM1Njc4NGZlYzZmNWRiMiJ9.eyJpc3MiOiJwZGYubG9jIiwiYXVkIjoicGRmLmxvYyIsImp0aSI6IjVkMTA1OTIzZjM1Njc4NGZlYzZmNWRiMiIsInVzZXJfaWQiOiI1ZDEwNTkyM2YzNTY3ODRmZWM2ZjVkYjIifQ.JJPgjTJbDUXySieyEDzEMHY7XyEZrhuEFqiFvDtcxdM

`namespace App\Services;

use Lcobucci\JWT\Parser;
use L

[2019-06-24 06:42] roman-briazgalov commented on #301
@lcobucci it's OK for now!
Thanks for putting me on the right way: i have added the signature verifying to the protected function validate and validator and it works good for now!

When i create token, i use function 'getToken':
    protected function issue($request, $minutes)
    {
        $token = (new Builder())
            ->issuedBy($request->getHost())
            ->permittedFor($request->ge

[2019-06-24 06:57] roman-briazgalov commented on #301
Thanks for help, i close the issue.

[2019-06-24 06:57] #301 closed

[2019-06-24 08:08] lcobucci commented on #301
@roman-briazgalov happy to know it helped!

[2019-06-25 21:41] #302 closed

[2019-06-26 05:51] lcobucci commented on #302
@flihub I'm sorry that I took longer to get back to you than on this you expected, and hope you managed to find the answers you were looking for.

If you didn't find, let's see if I can still help...

The interesting thing about the specs is that they don't exactly tell you how to use JWT, leaving it up to developers to think about their use case and see if it's applicable or not. This library doe

[2019-06-26 06:27] flihub commented on #302
thank u:)

if i use a refresh token, how to generate ?
refresh can be as like jwt ?

and how i know token is access or refresh ? should i include a token type in payload data?

[2019-06-26 06:46] lcobucci commented on #302
@flihub that really depends on your needs. For example, if you also want to have data in the refresh token and want for it to expire, then you can definitely use a JWT. Otherwise, an opaque string should do it.

Usually the access token goes in a header or cookie, the refresh token is only send (via request body) to the endpoint that refreshes the "session".

Check out the OAuth2 RFC to understand

[2019-07-02 20:07] shadowhand commented on #32
https://github.com/acodercat/php-jwk-to-pem might be helpful while we wait for JWK support to land here.

[2019-07-05 09:45] Spomky commented on #32
@shadowhand the problem with this library is that it only supports RSA keys, not EC ones.
Moreover it will add some dependencies to your project... not really fun right?

May I suggest you to use this [PHP console app](https://github.com/web-token/jwt-app)?

[code]

It also offers a lot of useful commands (key creation, analyze, keyset features...).

[2019-07-05 11:48] shadowhand commented on #32
@Spomky We only need support for PEM keys during a HTTP request lifecycle, so the package I linked is sufficient for our needs.

As a side node about: jwt-framework is an impressive project. Unfortunately it seems more concerned with being academically correct than useful. The docs took a long time to digest, and in our case, the `gmp` requirement for some functionality was a show stopper, as our

[2019-07-10 12:50] skyvondave opened #303 "Dependencies PHP 5.6+ but requires PHP 7.2?"
The readme says Dependencies PHP 5.6+ (v3.3) and PHP 7.1 (v4.x) but the composer.json file says "require" "php": "^7.2",

So which is it?

We're using PHP 5.6; not sure what I need to change anywhere in this repo to make it work with it.